bottle>=0.12
gunicorn>=19.9.0
psycopg2-binary>=2.8.2
tqdm>=4.32.1
bcrypt>=3.1.6
netifaces>=0.10.9
python-dateutil
Pillow>=2.2.1
numpy
requests
kombu==4.6.11
celery[redis,auth,msgpack]==4.4.7

# for the built-in models (install via https://pytorch.org):
# PyTorch>=1.1.0
# torchvision>=0.3.0

# pip install torch==1.7.0+cu110 torchvision==0.8.1+cu110 torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html
# conda install -c conda-forge opencv
# git+https://github.com/facebookresearch/detectron2.git