bottle>=0.12
gunicorn>=19.9.0
psycopg2>=2.8.2
tqdm>=4.32.1
bcrypt>=3.1.6
netifaces>=0.10.9
python-dateutil
Pillow>=2.2.1
numpy
requests
celery[pylibrabbitmq,redis,auth,msgpack]>=4.3.0  #TODO: currently testing with pylibrabbitmq instead of librabbitmq

# for the built-in models (install via https://pytorch.org):
# PyTorch>=1.1.0
# torchvision>=0.3.0