bottle>=0.12
gunicorn>=19.9.0
psycopg2-binary>=2.8.2
tqdm>=4.32.1
bcrypt>=3.1.6
netifaces>=0.10.9
python-dateutil
Pillow>=2.2.1
numpy
requests
celery[redis,auth,msgpack]

# for the AI backend
opencv-python
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.0
torchvision==0.10.0+cu111

# Detectron2
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu111/torch1.9/index.html
detectron2