<!doctype html>
<html lang="en">
    <head>
        <title>AIDE: new project</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <link rel="stylesheet" href="/static/interface/css/interface.css?v={{ version }}" />
        <link rel="stylesheet" href="/static/general/css/messaging.css?v={{ version }}" />
        <style>
            .new-project-fields {
                width:600px;
                margin:0 auto;
                color: white;
            }
            .new-project-fields > input, textarea {
                width: 400px;
            }
            .new-project-fields > label {
                margin-top: 20px;
            }
            .warning {
                color: red;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/static/general/js/messaging.js?v={{ version }}"></script>
        <script type="text/javascript">
            const SHORTNAME_PATTERNS_REPLACE = [
                '|',
                '?',
                '*',
                ':'
            ];

            $(document).ready(function() {
                // globals
                window.projNameAvailable = false;
                window.projShortnameAvailable = false;

                var replaceProhibitedShortnameStrings = function(shortname) {
                    for(var p=0; p<SHORTNAME_PATTERNS_REPLACE.length; p++) {
                        shortname = shortname.replace(SHORTNAME_PATTERNS_REPLACE[p], '_')
                    }
                    return shortname;
                }

                var checkValuesCorrect = function() {
                    
                    var projName = $('#project-name-field').val();
                    var projShortname = $('#project-shortname-field').val();


                    if(projName.length) {
                        var promise = checkNameAvailable('verifyProjectName',
                                                            { name: projName },
                                                            $('#project-name-availability'));
                    } else {
                        window.projNameAvailable = false;
                        $('#project-name-availability').hide();
                        $('#create-project-button').prop('disabled', true);
                        var promise = $.Deferred().promise();
                    }
                    
                    promise = promise.then(function() {
                        if(projShortname.length) {
                            // replace prohibited patterns
                            projShortname = replaceProhibitedShortnameStrings(projShortname);
                            $('#project-shortname-field').val(projShortname);

                            return checkNameAvailable('verifyProjectShort',
                                                            { shorthand: projShortname },
                                                            $('#project-shortname-availability'));
                        } else {
                            window.projShortnameAvailable = false;
                            $('#project-shortname-availability').hide();
                            $('#create-project-button').prop('disabled', true);
                            return $.Deferred().promise();
                        }    
                    });

                    promise = promise.then(function() {
                        if(window.projNameAvailable && window.projShortnameAvailable) {
                            $('#create-project-button').prop('disabled', false);
                        } else {
                            $('#create-project-button').prop('disabled', true);
                        }
                    });

                    return promise;
                }

                var checkNameAvailable = function checkNameAvailable(url, params, div) {
                    return $.ajax({
                        url: url,
                        data: params,
                        method: 'GET',
                        success: function(data) {
                            if(data.hasOwnProperty('available') && data['available']) {
                                $(div).html('OK');
                                $(div).css('color', 'green');
                                $(div).css('display', 'inline');
                                if(params.hasOwnProperty('shorthand')) {
                                    window.projShortnameAvailable = true;
                                } else {
                                    window.projNameAvailable = true;
                                }
                                return true;
                            } else {
                                $(div).html('name unavailable');
                                $(div).css('color', 'red');
                                $(div).css('display', 'inline');
                                $('#create-project-button').prop('disabled', true);
                                if(params.hasOwnProperty('shorthand')) {
                                    window.projShortnameAvailable = false;
                                } else {
                                    window.projNameAvailable = false;
                                }
                                return false;
                            }
                        },
                        error: function() {
                            $(div).html('an unknown error occurred');
                            $(div).css('color', 'red');
                            $(div).css('display', 'inline');
                            $('#create-project-button').prop('disabled', true);
                            if(params.hasOwnProperty('shorthand')) {
                                window.projShortnameAvailable = false;
                            } else {
                                window.projNameAvailable = false;
                            }
                            return false;
                        },
                        statusCode: {
                            401: function(xhr) {
                                return window.renewSessionRequest(xhr, function() {
                                    return checkNameAvailable(url, params, div);    //TODO
                                });
                            }
                        }
                    });
                }

                // name and shortname availability
                $('#project-name-field').on('focusout', checkValuesCorrect);
                $('#project-shortname-field').on('focusout', function() {
                    var promise = checkValuesCorrect();
                    promise = promise.then(function() {
                        if(window.projShortnameAvailable) {
                            $('#project-shorthand-title').html($('#project-shortname-field').val());
                        } else {
                            $('#project-shorthand-title').html('');
                        }
                    });
                });

                var _doCreateProject = function() {
                    var promise = checkValuesCorrect();
                    promise.then(function() {
                        if(window.projNameAvailable && window.projShortnameAvailable) {
                            // submit data and create new project
                            var shortname = $('#project-shortname-field').val();
                            return $.ajax({
                                url: '/createProject',
                                method: 'POST',
                                contentType: 'application/json; charset=utf-8',
                                dataType: 'json',
                                data: JSON.stringify({
                                    name: $('#project-name-field').val(),
                                    shortname: shortname,
                                    description: $('#project-description-field').val(),
                                    annotationType: $('#project-annotation-type').val(),
                                    predictionType: $('#project-prediction-type').val()
                                }),
                                success: function(response) {
                                    if(response.hasOwnProperty('success') && response['success']) {
                                        window.location.href = '/' + shortname;
                                    } else {
                                        console.error('An unknown error occurred.');
                                        window.messager.addMessage('An unknown error occurred while trying to create project.', 'error', 0);
                                    }
                                },
                                error: function(xhr, status, error) {
                                    console.error(error);
                                    window.messager.addMessage('Project could not be created (message: "'+error+'").', 'error', 0);
                                },
                                statusCode: {
                                    401: function(xhr) {
                                        return window.renewSessionRequest(xhr, function() {
                                            return _doCreateProject();
                                        });
                                    }
                                }
                            });
                        } else {
                            return $.Deferred().promise();
                        }
                    });
                }

                $('#create-project-button').click(function() {
                    _doCreateProject();
                });
            });
        </script>
    </head>

    <body>
        <!-- Page Content -->
        <div id="page-container">
            <div id="content-wrapper">
                <!-- Overlay -->
                <div id="overlay" class="overlay">
                    <div id="overlay-card" class="overlay-card card container"></div>
                    <div id="overlay-loader">
                        <div style="text-align:center;margin-bottom:20px;font-size:20px;text-align:center;">Loading...</div>
                        <!-- blatant copy of MS azure's splash screen loading dots -->
                        <div class="azure-loadingdots">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>

                <!-- Navigation bar -->
                <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
                    <ul class="nav navbar-nav">
                        <li class="nav-item header-text">
                            <div class="project-path"><a href="/">Projects</a> / <a href="/newProject">new project</a></div>
                            <h1>New Project</h1>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown float-right">
                            <div class="dropdown nav navbar-nav" style="float:right;">
                                <a class="dropdown-toggle btn" id="navbar-user-dropdown" data-toggle="dropdown" href="#" style="color:white;font-weight:bold;" >{{ username }}</a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="navbar-user-dropdown">
                                    <li class="dropdown-item"><a id="logout" href="logout" class="btn btn-sm btn-danger">Log Out</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="grad-border-h"></div>


                <div class="new-project-fields">

                    <label for="project-name-field">Project name <span class="warning">*</span></label><br />
                    <input type="text" id="project-name-field" required />
                    <div id="project-name-availability" style="display:none"></div><br />

                    <label for="project-shortname-field">Project shortname <span class="warning">*</span></label><br />
                    <input type="text" id="project-shortname-field" required />
                    <div id="project-shortname-availability" style="display:none"></div><br />

                    <label for="project-description-field">Short description</label><br />
                    <textarea type="text" id="project-description-field" placeholder="Short project description"></textarea><br />


                    <label for="project-annotation-type">Annotation type <span class="warning">*</span></label><br />
                    <select id="project-annotation-type">
                        <option value="labels">Image Labels</option>
                        <option value="points">Points</option>
                        <option value="boundingBoxes">Bounding Boxes</option>
                        <option value="segmentationMasks">Segmentation Masks</option>
                    </select><br />

                    <label for="project-prediction-type">Prediction type <span class="warning">*</span></label><br />
                    <select id="project-prediction-type">
                        <option value="labels">Image Labels</option>
                        <option value="points">Points</option>
                        <option value="boundingBoxes">Bounding Boxes</option>
                        <option value="segmentationMasks">Segmentation Masks</option>
                    </select><br />

                    <div class="warning" style="margin-top:20px;">
                        * Note: Values are required and cannot be changed once the project has been created.
                    </div>

                    <!-- Submit and abort buttons -->
                    <div style="margin-top:20px;">
                        <a class="btn btn-secondary" href="/">Cancel</a>
                        <button class="btn btn-primary" id="create-project-button" style="float:right" disabled="disabled">Create</button>
                    </div>
                </div>
            </div>

            <footer class="page-footer" id="footer">
                <div class="ms-logo">
                    <a href="about"><img height="100%" src="/static/general/img/ms_logo.png" /></a>
                </div>
            </footer>
        </div>
    </body>
</html>