<!doctype html>
<html lang="en">
    <head>
        <title>AIde: configure</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <link rel="stylesheet" href="/static/interface/css/interface.css" />
        <!-- <link rel="stylesheet" href="config/static/css/bootstrap-treeview.css" /> -->
        <style>
            .settings-container {
                color: white;
                padding: 20px;
                overflow-y: auto;
                margin-bottom: 20px;
                max-height: calc(100vh - 210px);
            }
            .settings-group {
                margin-bottom: 30px;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/tooltip.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- <script type="text/javascript" src="config/static/js/bootstrap-treeview.js"></script> -->
        <script type="text/javascript" src="/static/projectAdmin/js/labelConfig.js"></script>
        <script type="text/javascript" src="/static/projectAdmin/js/init.js"></script>
    </head>

    <body>
        <!-- Page Content -->
        <div id="page-container">
            <div id="content-wrapper">
                <!-- Overlay -->
                <div id="overlay" class="overlay">
                    <div id="overlay-card" class="overlay-card card container"></div>
                    <div id="overlay-loader">
                        <div style="text-align:center;margin-bottom:20px;font-size:20px;text-align:center;">Loading...</div>
                        <!-- blatant copy of MS azure's splash screen loading dots -->
                        <div class="azure-loadingdots">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>

                <!-- Navigation bar -->
                <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
                    <ul class="nav navbar-nav">
                        <li class="nav-item header-text">
                            <h1><a href="/">Projects</a> / <a href="/{{ projectShortname }}">{{ projectTitle }}</a> / Configure</h1>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown float-right">
                            <div class="dropdown nav navbar-nav" style="float:right;">
                                <a class="dropdown-toggle btn" id="navbar-user-dropdown" data-toggle="dropdown" href="#" style="color:white;font-weight:bold;" >{{ username }}</a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="navbar-user-dropdown">
                                    <li class="dropdown-item"><a id="logout" href="logout" class="btn btn-sm btn-danger">Log Out</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="grad-border-h"></div>

                <div class="settings-container">
                    <h2>General</h2>
                    <div class="settings-group">
                        <label for="field-project-description">Project description</label><br />
                        <textarea id="field-project-description" rows="6" placeholder="Short project description"></textarea>
                    </div>

                    <h2>Accessibility</h2>
                    <div class="settings-group">
                        <input type="checkbox" id="public-checkbox" />
                        <label for="public-checkbox">Public project</label>
                        <p style="font-style:italic;">If the project is set to be public, anyone with an account can join it
                        by following the respective link. Otherwise joining a project requires knowing the appropriate link below.</p>

                        <span>Secret link:</span>
                        <input id="field-secret-token" type="text" readonly />
                        <button class="btn btn-sm btn-light">Reload</button>
                        <br />


                        <input type="checkbox" id="demo-checkbox" />
                        <label for="demo-checkbox">Demo mode</label>
                        <p style="font-style:italic;">Demo mode opens the project to anyone (even without an account)
                        and disables saving annotations and the AI model, if configured.
                        Existing annotations will be retained as they are.</p>
                    </div>
                    
                    <!-- <h2>Label Classes</h2>
                    <div class="settings-group">
                        <div id="label-class-tree"></div>

                        <div id="label-class-controls">
                            <button id="add-lc-button" class="btn btn-sm btn-primary">Add new...</button>
                            <button id="remove-lc-button" class="btn btn-sm btn-warning">Remove</button>
                        </div>
                    </div> -->



                    <h2>Interface</h2>
                    <div class="settings-group">
                        <input type="checkbox" id="interface-enabled-checkbox" />
                        <label for="interface-enabled-checkbox">Enable annotation interface</label>

                        <table>
                            <tr>
                                <td>Number of images on screen:</td>
                                <td><input id="field-numImgsPerBatch" type="number" min="1" max="128" /></td>
                            </tr>
                            <tr>
                                <td>Minimum image width (pixels):</td>
                                <td><input id="field-minImageWidth" type="number" min="32" max="8192" /></td>
                            </tr>
                        </table>
                    </div>

                    <h2>AI Model</h2>
                    <div class="settings-group">
                        <input type="checkbox" id="ai-model-enabled-checkbox" />
                        <label for="ai-model-enabled-checkbox">AI model enabled</label><br />
                    </div>
                    
                    <div class="settings-group">
                        <label for="ai-model-class">Prediction model</label><br />
                        <select id="ai-model-class"></select>
                        <p id="ai-model-class-descr"></p>
                    </div>

                    <div class="settings-group">
                        <label for="al-model-class">Ranking model</label><br />
                        <select id="al-model-class"></select>
                        <p id="al-model-class-descr"></p>
                    </div>
                </div>

                <!-- Submit and abort buttons -->
                <div>
                    <button class="btn btn-danger">Cancel</button>
                    <button id="proj-settings-save-button" class="btn btn-primary" style="float:right">Save</button>
                </div>
            </div>

            <footer class="page-footer" id="footer">
                <div class="ms-logo">
                    <a href="about"><img height="100%" src="/static/general/img/ms_logo.png" /></a>
                </div>
            </footer>
        </div>
    </body>
</html>