.main-container {
    overflow: hidden;
    height: calc(100vh - 140px);
    padding: 40px;
    display: flex;
    flex-direction: row;
}

#navigation-panel {
    display: none;
    order: 1;
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
    padding: 10px;
    margin-right: 20px;
}

.navigation-entry-container {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #333;
    background: #606060;
    /* height: calc(100vh - 260px); */
    overflow-y: auto;
}

.navigation-entry {
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.navigation-entry:hover {
    background: #444444;
}

.navigation-sub-entry {
    padding-left: 50px;
}

.active {
    background: #AAAAAA;
    font-weight: bold;
}

.content-panel {
    order: 3;
    flex-grow: 1;
    overflow-y: hidden;
    height: calc(100vh - 200px);
    color: white;
    padding-top: 10px;
    padding-right: 30px;
}

#project-search-field {
    border-radius: 20px;
    margin-left: 30px;
    padding: 5px;
    padding-left: 20px;
    width: 400px;
}

#projects, 
#archived-projects-panel {
    margin-left: 30px;
    margin-top: 20px;
    max-height: calc(100vh - 240px);
    overflow-y: auto;
}

.project-entry {
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 5px;
    background: #565656;
}

.project-buttons {
    margin-top: 10px;
}

.project-buttons > * {
    margin-right: 10px;
}

.label-button {
    float: right;
}

#projects-placeholder {
    display: none;
    text-align: center;
    padding: 40px;
    color: white;
}

#archived-projects-panel {
    display: none;
}

table {
    width: 100%;
    border: 1px solid #aaa;
}

thead {
    background: #5f5f5f;
    font-weight: bold;
}

td, th {
    padding-left: 10px;
    padding-right: 10px;
}

.unarchive-button {
    float: right;
}