.main-container {
    overflow: auto;
    height: calc(100vh - 140px);
    padding: 40px;
}

#projects {
    margin-top: 20px;
}

.project-entry {
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 5px;
    background: #565656;
}

.project-buttons {
    margin-top: 10px;
}

.project-buttons > * {
    margin-right: 10px;
}

.label-button {
    float: right;
}

#projects-placeholder {
    display: none;
    text-align: center;
    padding: 40px;
    color: white;
}