<div>
    <h2>Access control</h2>

    <p style="font-weight:bold;color:red">Work in progress, not completely functional yet.</p>

    <div class="settings-group">
        <input type="checkbox" id="public-checkbox" />
        <label for="public-checkbox">Public project</label>
        <p style="font-style:italic;">If the project is set to be public, anyone with an account can join it
        by following the respective link. Otherwise joining a project requires knowing the appropriate link below.</p>

        <span>Secret link:</span>
        <input id="field-secret-token" type="text" readonly style="width:calc(100% - 180px)" />
        <button id="renew-secret-token" class="btn btn-sm btn-light">Renew</button>
        <br />


        <input type="checkbox" id="demo-checkbox" />
        <label for="demo-checkbox">Demo mode</label>
        <p style="font-style:italic;">Demo mode opens the project to anyone (even without an account)
        and disables saving annotations and the AI model, if configured.
        Existing annotations will be retained as they are.</p>
    </div>


    <!-- User list -->
    <!-- TODO: implement search function to add new users -->
    <div>
        <span>Selection:</span>
        <select id="selection-action">
            <option value="elevate-admin" name="user-action">elevate to project administrators</option>
            <option value="revoke-admin" name="user-action">revoke administrator privileges</option>
            <option value="admitUntil" name="user-action">admit until</option>
            <option value="blockUntil" name="user-action">block until</option>
            <option value="deregister" name="user-action">remove from project</option>
        </select>
        <input type="text" id="datetime-specifier" style="display:none" />
        <button id="selection-action-proceed" class="btn btn-sm btn-light">Apply</button>
    </div>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all-users" /></th>
                <th>Name</th>
                <th>Administrator</th>
                <th>Admitted until</th>
                <th>Blocked until</th>
            </tr>
        </thead>
        <tbody id="users-list"></tbody>
    </table>

    <!-- Submit and abort buttons -->
    <div>
        <button class="btn btn-danger">Cancel</button>
        <button id="proj-settings-save-button" class="btn btn-primary" style="float:right">Save</button>
    </div>
</div>
<style>
    table {
        width: 100%;
        max-width: 400px;
        max-height: 200px;
        border: 1px solid #aaa;
    }

    thead {
        background: #5f5f5f;
        font-weight: bold;
    }

    tbody {
        overflow-x: hidden;
        overflow-y: auto;
        height: 500px;
    }

    thead, tbody {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }

    td {
        padding-right: 5px;
    }
</style>
<link rel="stylesheet" href="/static/general/libs/datetimepicker/jquery.datetimepicker.css?v={{ version }}" />
<script type="text/javascript" src="/static/general/libs/datetimepicker/jquery.datetimepicker.js?v={{ version }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // general settings
        var promise = $.ajax({
            url: 'getConfig',
            method: 'POST',
            data: JSON.stringify({
                'parameters': [
                    'ispublic',
                    'secret_token',
                    'demomode'
                ]
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function(data) {
                settings = data['settings'];
                $('#public-checkbox').prop('checked', settings['ispublic']);
                $('#field-secret-token').val(window.location.host + window.location.pathname + '/enroll'+'?t='+settings['secret_token']);
                $('#demo-checkbox').prop('checked', settings['demomode']);
            },
            error: function(data) {
                console.log('ERROR:');
                console.log(data);
            }
        });

        // users list
        let uList = $('#users-list');
        $('#select-all-users').click(function() {
            let isChecked = $(this).prop('checked');
            $.each(uList.children(), function() {
                let chckbx = $('#'+$(this).attr('id')+'__select');
                if(!chckbx.attr('disabled')) {
                    chckbx.prop('checked', isChecked);
                }
            });
        });

        getSelectedUserAction = function() {
            return $('#selection-action [name=user-action]:checked').val();
        }

        promise = promise.done(function() {
            return $.ajax({
                url: 'getUsers',
                method: 'GET',
                success: function(data) {
                    if(data.hasOwnProperty('users')) {
                        for(var i=0; i<data['users'].length; i++) {
                            let uName = data['users'][i]['username'];
                            var uName_vis = uName;
                            let isAdmin = data['users'][i]['isadmin'] ? '<img src="/static/general/img/success.svg"></img>' : '<img src="/static/general/img/error.svg"></img>';
                            var admittedUntil = data['users'][i]['admitted_until'];
                            if(admittedUntil === null) admittedUntil = '';
                            var blockedUntil = data['users'][i]['blocked_until'];
                            if(blockedUntil === null) blockedUntil = '';
                            var markup = $('<tr id="'+uName+'"></tr>');
                            if(uName === window.user) {
                                var checkbox = $('<input type="checkbox" id="'+uName+'__select" disabled />');
                                uName_vis += ' (You)';
                            } else {
                                var checkbox = $('<input type="checkbox" id="'+uName+'__select" />');
                            }
                            markup.append($('<td></td>').append(checkbox));
                            markup.append($('<td>'+uName_vis+'</td>'));
                            markup.append($('<td>'+isAdmin+'</td>'));
                            markup.append($('<td>'+admittedUntil+'</td>'));
                            markup.append($('<td>'+blockedUntil+'</td>'));
                            uList.append(markup);
                        }
                    }
                },
                error: function(data) {
                    console.log('ERROR:')
                    console.log(data);
                }
            });
        });

        // misc.
        $('#renew-secret-token').click(function() {
            $.ajax({
                url: 'renewSecretToken',
                method: 'POST',
                success: function(data) {
                    if(data.hasOwnProperty('secret_token')) {
                        $('#field-secret-token').val(window.location.host +
                            window.project +
                            '/enroll'+'?t='+data['secret_token']);
                    } else {
                        $('#renew-secret-token').prop('disabled', true);
                        $('#field-secret-token').val('(sorry, an unknown error occurred)');
                    }
                },
                error: function(data) {
                    console.log('ERROR:')
                    console.log(data);
                }
            });
        });

        var now = new Date();

        $('#datetime-specifier').datetimepicker({
            startDate: now,
            minDateTime: now
        });

        $('#selection-action').change(function() {
            var action = getSelectedUserAction();
            if(action === 'admitUntil' || action === 'blockUntil') {
                $('#datetime-specifier').show();
            } else {
                $('#datetime-specifier').hide();
            }
        });

        $('#selection-action-proceed').click(function() {
            //TODO
        });
        
        promise.done(function() {
            window.showLoadingOverlay(false);
        });
    });
</script>