<div>
    <h2>Access control</h2>

    <div class="settings-group">
        <input type="checkbox" id="public-checkbox" />
        <label for="public-checkbox">Public project</label>
        <p style="font-style:italic;">If the project is set to be public, anyone with an account can join it
        by following the respective link. Otherwise joining a project requires knowing the appropriate link below.</p>

        <span>Secret link:</span>
        <input id="field-secret-token" type="text" readonly style="width:calc(100% - 180px)" />
        <button id="renew-secret-token" class="btn btn-sm btn-light">Renew</button>
        <br />


        <input type="checkbox" id="demo-checkbox" />
        <label for="demo-checkbox">Demo mode</label>
        <p style="font-style:italic;">Demo mode opens the project to anyone (even without an account)
        and disables saving annotations and the AI model, if configured.
        Existing annotations will be retained as they are.</p>

        <div>
            <button id="proj-settings-save-button" class="btn btn-primary" style="float:right">Save</button>
        </div>
    </div>


    <!-- User list -->
    <h3>Users</h3>

    <!-- TODO: implement search function to add new users -->
    <div id="letter-picker"></div>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all-users" /></th>
                <th>Name</th>
                <th>Administrator</th>
                <th>Admitted until</th>
                <th>Blocked until</th>
            </tr>
        </thead>
        <tbody id="users-list"></tbody>
    </table>
    <div>
        <span>Selection:</span>
        <select id="selection-action">
            <option value="elevate-admin" name="user-action">elevate to project administrators</option>
            <option value="revoke-admin" name="user-action">revoke administrator privileges</option>
            <option value="admitUntil" name="user-action">admit until</option>
            <option value="blockUntil" name="user-action">block until</option>
            <option value="deregister" name="user-action">remove from project</option>
        </select>
        <input type="text" id="datetime-specifier" style="display:none" />
        <button id="selection-action-proceed" class="btn btn-sm btn-light">Apply</button>
    </div>
</div>
<style>
    table {
        width: 100%;
        border: 1px solid #aaa;
    }

    thead {
        background: #5f5f5f;
        font-weight: bold;
    }

    tbody {
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - 620px);
    }

    thead, tbody {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }

    td {
        padding-right: 5px;
    }
</style>
<link rel="stylesheet" href="/static/general/libs/datetimepicker/jquery.datetimepicker.css?v={{ version }}" />
<link rel="stylesheet" href="/static/general/css/letterPicker.css?v={{ version }}" />
<script type="text/javascript" src="/static/general/libs/datetimepicker/jquery.datetimepicker.js?v={{ version }}"></script>
<script type="text/javascript" src="/static/general/js/letterPicker.js?v={{ version }}"></script>
<script type="text/javascript">
    function getUsers() {
        let uList = $('#users-list');
        uList.empty();
        return $.ajax({
            url: 'getUsers',
            method: 'GET',
            success: function(data) {
                if(data.hasOwnProperty('users')) {
                    let usernames = [];
                    for(var i=0; i<data['users'].length; i++) {
                        let uName = data['users'][i]['username'];
                        usernames.push(uName);
                        var uName_vis = uName;
                        let isAdmin = data['users'][i]['isadmin'] ? '<img src="/static/general/img/success.svg"></img>' : '<img src="/static/general/img/error.svg"></img>';
                        var admittedUntil = data['users'][i]['admitted_until'];
                        if(typeof(admittedUntil) === 'number') {
                            try {

                                admittedUntil = new Date(admittedUntil * 1000).toDateString();
                            } catch {
                                admittedUntil = '';
                            }
                        } else {
                            admittedUntil = '';
                        }
                        var blockedUntil = data['users'][i]['blocked_until'];
                        if(typeof(blockedUntil) === 'number') {
                            try {
                                blockedUntil = new Date(blockedUntil * 1000).toDateString();
                            } catch {
                                blockedUntil = '';
                            }
                        } else {
                            blockedUntil = '';
                        }
                        let markup = $('<tr id="'+uName+'"></tr>');
                        if(uName === window.user) {
                            var checkbox = $('<input type="checkbox" id="'+uName+'__select" disabled />');
                            uName_vis += ' (You)';
                        } else {
                            var checkbox = $('<input type="checkbox" id="'+uName+'__select" />');
                        }
                        markup.append($('<td></td>').append(checkbox));
                        markup.append($('<td>'+uName_vis+'</td>'));
                        markup.append($('<td>'+isAdmin+'</td>'));
                        markup.append($('<td>'+admittedUntil+'</td>'));
                        markup.append($('<td>'+blockedUntil+'</td>'));
                        uList.append(markup);
                    }

                    // set up letter picker
                    window.letterPicker = new LetterPicker($('#letter-picker'),
                        {
                            data: usernames,
                            allowMultipleSelection: false
                        }
                    );
                    window.letterPicker.on('click', function() {
                        filterUsersTable();
                    });
                }
            },
            error: function(xhr, status, error) {
                window.messager.addMessage('An error occurred while trying to retrieve project members (message: "' + error + '").', 'error', 0);
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return getUsers();
                    });
                }
            }
        });
    }

    function filterUsersTable() {
        let letters = window.letterPicker.getSelected();
        let alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('');
        let table = $('#users-list');
        table.children().each(function() {
            let initial = $(this).attr('id').slice(0,1).toUpperCase();
            if(letters === undefined || letters.length === 0) {
                // everything deselected; show all
                $(this).show();
            } else if(letters.includes(initial)) {
                $(this).show();
            } else if(letters.includes('#') && !alphabet.includes(initial)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    function saveProjectSettings() {
        return $.ajax({
            url: 'saveProjectConfiguration',
            method: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({
                'demoMode': $('#demo-checkbox').prop('checked'),
                'isPublic': $('#public-checkbox').prop('checked')
            }),
            success: function(data) {
                if(data['success']) {
                    window.messager.addMessage('Settings saved successfully.', 'success');
                } else {
                    window.messager.addMessage('Settings could not be saved due to an unknown error.', 'error', 0);
                }
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        saveProjectSettings();
                    });
                }
            }
        });
    }

    function setUserAuthentication() {
        let users = [];
        let uList = $('#users-list');
        uList.children().each(function() {
            let chckbx = $('#'+$(this).attr('id')+'__select');
            if($(this).is(':visible') && chckbx.prop('checked')) {
                users.push($(this).attr('id'));
            }
        });
        if(users.length === 0) return;

        console.log(users);

        let timestamp = null;
        try {
            timestamp = new Date($('#datetime-specifier').val()).getTime() / 1000;
        } catch {}
        let privilege = $('#selection-action').val();
        switch(privilege) {
            case 'elevate-admin':
                privilege = {
                    'isAdmin': true
                };
                break;
            case 'revoke-admin':
                privilege = {
                    'isAdmin': false
                };
                break;
            case 'admitUntil':
                privilege = {
                    'admitted_until': timestamp
                };
                break;
            case 'blockUntil':
                privilege = {
                    'blocked_until': timestamp
                };
                break;
            case 'deregister':
                privilege = {
                    'remove': true
                };
                break;
        }

        return $.ajax({
            url: 'setPermissions',
            method: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({
                users: users,
                privileges: privilege
            }),
            success: function(response) {
                if(response['status'] === 0) {
                    window.messager.addMessage('User permissions changed successfully.', 'success');
                }
                return getUsers().then(function() {
                    return filterUsersTable();
                });
            },
            error: function(xhr, status, error) {
                window.messager.addMessage('Could not set user permissions (message: "' + error + '").', 'error', 0);
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return setUserAuthentication();
                    });
                }
            }
        })
    }

    $(document).ready(function() {
        // general settings
        var promise = $.ajax({
            url: 'getConfig',
            method: 'POST',
            data: JSON.stringify({
                'parameters': [
                    'ispublic',
                    'secret_token',
                    'demomode'
                ]
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function(data) {
                settings = data['settings'];
                $('#public-checkbox').prop('checked', settings['ispublic']);
                $('#field-secret-token').val(window.location.host + window.location.pathname.replace('/configuration','') + '/enroll/'+settings['secret_token']);
                $('#demo-checkbox').prop('checked', settings['demomode']);
            },
            error: function(xhr, status, error) {
                console.log('ERROR:');
                console.log(data);
            }
        });

        // users list
        let uList = $('#users-list');
        $('#select-all-users').click(function() {
            let isChecked = $(this).prop('checked');
            $.each(uList.children(), function() {
                let chckbx = $('#'+$(this).attr('id')+'__select');
                if(!chckbx.attr('disabled')) {
                    chckbx.prop('checked', isChecked);
                }
            });
        });

        getSelectedUserAction = function() {
            return $('#selection-action [name=user-action]:checked').val();
        }

        promise = promise.done(function() {
            return getUsers();
        });

        // misc.
        $('#renew-secret-token').click(function() {
            $.ajax({
                url: 'renewSecretToken',
                method: 'POST',
                success: function(data) {
                    if(data.hasOwnProperty('secret_token')) {
                        $('#field-secret-token').val(window.location.host +
                            window.project +
                            '/enroll'+'?t='+data['secret_token']);
                    } else {
                        $('#renew-secret-token').prop('disabled', true);
                        $('#field-secret-token').val('(sorry, an unknown error occurred)');
                    }
                },
                error: function(data) {
                    console.log('ERROR:')
                    console.log(data);
                }
            });
        });

        var now = new Date();

        $('#datetime-specifier').datetimepicker({
            startDate: now,
            minDateTime: now
        });

        $('#selection-action').change(function() {
            var action = getSelectedUserAction();
            if(action === 'admitUntil' || action === 'blockUntil') {
                $('#datetime-specifier').show();
            } else {
                $('#datetime-specifier').hide();
            }
        });

        $('#selection-action-proceed').click(function() {
            setUserAuthentication();
        });

        $('#proj-settings-save-button').click(function() {
            saveProjectSettings();
        });
        
        promise.done(function() {
            window.showLoadingOverlay(false);
        });
    });
</script>