<div>
    <h2>AI Model Settings</h2>

    <p style="font-weight:bold;color:red">Work in progress, not stable yet.</p>

    <div class="settings-group">
        <input type="checkbox" id="ai-model-enabled-checkbox" />
        <label for="ai-model-enabled-checkbox">Automatic AI model training enabled</label><br />

        <div style="margin-left:20px">
            <table>
                <tr>
                    <td><label for="ai-model-num-images-autotrain">Number of labeled images to wait every training step:</label></td>
                    <td><input type="number" min="1" value="128" id="ai-model-num-images-autotrain" /></td>
                </tr>
                
                <!-- TODO: replace default parameters with workflow possibilities -->
                <tr>
                    <td><label for="ai-model-num-labels-image-autotrain">Only consider images with the following number (or more) of annotations:</label></td>
                    <td><input type="number" min="0" value="0" id="ai-model-num-labels-image-autotrain" /></td>
                </tr>
                <tr>
                    <td><label for="ai-model-max-num-images-autotrain">Maximum number of images to train on at a time (0 = unlimited):</label></td>
                    <td><input type="number" min="0" value="0" id="ai-model-max-num-images-autotrain" /></td>
                </tr>
                <tr>
                    <td><label for="ai-model-max-num-images-inference">Maximum number of images to predict on at a time (0 = unlimited):</label></td>
                    <td><input type="number" min="0" value="0" id="ai-model-max-num-images-inference" /></td>
                </tr>
            </table>
        </div>
    </div>
    
    <h3>Prediction model</h3>
    <div class="settings-group">
        <label for="ai-model-class">Model:</label>
        <select id="ai-model-class">
            <option value="unset">Choose:</option>
        </select>
        <br />
        <div id="no-ai-models-available" style="display:none;color:red">Unfortunately, none of the available AI models support this project's combination of annotation and prediction types.</div>
        <br />
        <span style="color:gray">Author:</span>
        <span id="ai-model-class-author"></span>
        <p id="ai-model-class-descr"></p>

        <div>Default model options:</div>
        <div id="default-ai-model-options-engine"></div>
        <!-- <textarea id="default-ai-model-options" rows="100" cols="100"></textarea> -->
        <div>
            <button id="load-ai-project-options" class="btn btn-sm btn-secondary">Load current</button>
            <button id="load-ai-model-options" class="btn btn-sm btn-dark">Load model defaults</button>
            <button id="verify-ai-model-options" class="btn btn-sm btn-secondary" style="float:right">Verify</button>
        </div>
    </div>

    <h3>Ranking criterion</h3>
    <div class="settings-group">
        <label for="al-model-class">Criterion:</label>
        <select id="al-model-class">
            <option value="unset">Choose:</option>
        </select>
        <br />
        <div id="no-al-models-available" style="display:none;color:red">Unfortunately, none of the available ranking criteria support this project's combination of annotation and prediction types.</div>
        <br />
        <span style="color:gray">Author:</span>
        <span id="al-model-class-author"></span>
        <p id="al-model-class-descr"></p>
    </div>

    <div id="seg-unlabeled-box" class="settings-group" style="display:none">
        <label for="seg-unlabeled-select">Treat unlabeled areas in image as:</label>
        <select id="seg-unlabeled-select">
            <option value="1">unlabeled (ignore)</option>
            <option value="0">background</option>
        </select>
        <p id="seg-unlabeled-info-text" style="font-style:italic;font-size:10pt;margin-left:20px;"></p>
    </div>

    <!-- <div>
        <button id="save-button" class="btn btn-primary" style="float:right">Save</button>
    </div> -->
</div>
<link rel="stylesheet" href="/static/general/css/optionsEngine.css?v={{ version }}" />
<style>
    textarea {
        width: 100%;
        height: 400px;
        font-family: monospace;
    }
</style>
<script src="/static/general/js/optionsEngine.js?v={{ version }}"></script>
<script type="text/javascript">
    // helper function
    function getInt(value, fallback, min, max) {
        let response = fallback;
        if(typeof(value) === 'number' || typeof(value) === 'string') {
            response = parseInt(value);
            if(typeof(min) === 'number') {
                response = Math.max(response, min);
            }
            if(typeof(max) === 'number') {
                response = Math.min(response, max);
            }
        }
        return response;
    }

    // AI model metadata
    let aiModelSelect = $('#ai-model-class');
    let alModelSelect = $('#al-model-class');


    function showModelOptionsPanel(data, onlyShowIfWarnings) {
        if(typeof(data) !== 'object') return;
        let showPanel = false;
        var message = $('<div style="overflow-y:auto"></div>');
        if(data['valid']) {
            message.append($('<div>The provided options appear to be valid.</div>'));
        } else {
            message.append($('<div>Errors occurred during options verification. Options will not be saved.</div>'));
        }
        if(data.hasOwnProperty('options') && data['options'] !== undefined && data['options'] !== null) {
            // updated options provided, replace in textarea and notify user
            window.optionsEngine.setOptions(data['options']);

            // $('#default-ai-model-options').val(data['options']);
            message.append($('<div style="font-style:italic">' +
                'Provided options have been auto-completed or updated by the AI model; see updated contents in text area.' +
                'New options will not be saved until you click the "Save" button.</div>'));
        }
        if(data.hasOwnProperty('warnings') && data['warnings'].length>0) {
            showPanel = true;
            var warnings = $('<ul style="color:orange;margin:10px"></ul>');
            for(var w=0; w<data['warnings'].length; w++) {
                warnings.append($('<li>'+data['warnings'][w]+'</li>'));
            }
            message.append($('<div>Warnings:</div>'));
            message.append(warnings);
        }
        if(data.hasOwnProperty('errors') && data['errors'].length>0) {
            showPanel = true;
            var errors = $('<ul style="color:red;margin:10px"></ul>');
            for(var e=0; e<data['errors'].length; e++) {
                errors.append($('<li>'+data['errors'][e]+'</li>'));
            }
            message.append($('<div>Errors:</div>'));
            message.append(errors);
        }
        let closeButton = $('<button class="btn btn-primary">Close</button>');
        closeButton.click(function() {
            window.showOverlay(null);
        });
        message.append(closeButton);
        
        if(!onlyShowIfWarnings || showPanel) {
            window.showOverlay(message, true, false);
        }
    }

    
    function verifyModelOptions(type) {
        if(type === 'model') {
            // var options = $('#default-ai-model-options').val();

            let options = window.optionsEngine.getOptions();
            if(typeof(options) === 'object') {
                options = JSON.stringify(options);
            }
            
            // submit to server to check if model accepts it
            return $.ajax({
                url: window.baseURL + 'verifyAImodelOptions',
                method: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({
                    ai_model_library: aiModelSelect.val(),
                    options: options
                }),
                success: function(data) {
                    data = data['status'];
                    showModelOptionsPanel(data);
                },
                error: function(xhr, status, error) {
                    //TODO
                    alert('Options could not be verified (message: "'+error+'").');
                    return false;
                }
            });

        } else if(type === 'ranker') {
            //TODO: not yet implemented
            return false;
        }
    }

    function loadSettings() {
        return $.ajax({
            url: window.baseURL + 'getConfig',
            method: 'POST',
            data: JSON.stringify({
                'parameters': [
                    'ai_model_enabled',
                    'ai_model_library',
                    'ai_model_settings',
                    'ai_alcriterion_library',
                    'ai_alcriterion_settings',
                    'numimages_autotrain',
                    'minnumannoperimage',
                    'maxnumimages_train',
                    'maxnumimages_inference',
                    'segmentation_ignore_unlabeled'
                ]
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function(data) {
                data = data['settings'];

                // checkbox
                $('#ai-model-enabled-checkbox').prop('checked', data['ai_model_enabled']);

                // auto-train metadata
                $('#ai-model-num-images-autotrain').val(getInt(data['numimages_autotrain'], 128));
                $('#ai-model-num-labels-image-autotrain').val(getInt(data['minnumannoperimage'], 0));
                $('#ai-model-max-num-images-autotrain').val(getInt(data['maxnumimages_train'], 0));
                $('#ai-model-max-num-images-inference').val(getInt(data['maxnumimages_inference'], 0));

                // set selected AI and AL models
                let aiLib = data['ai_model_library'];
                let rankerLib = data['ai_alcriterion_library'];
                if(aiLib === null || aiLib === undefined || !(window.availableModels['prediction'].hasOwnProperty(aiLib))) {
                    window.currentAImodel = undefined;
                    aiModelSelect.val('unset');
                    $('#ai-model-class-author').html('');
                    $('#ai-model-class-descr').html('');
                } else {
                    window.currentAImodel = data['ai_model_library'];
                    aiModelSelect.val(data['ai_model_library']);
                    $('#ai-model-class-author').html(window.availableModels['prediction'][data['ai_model_library']]['author']);
                    $('#ai-model-class-descr').html(window.availableModels['prediction'][data['ai_model_library']]['description']);
                }
                if(rankerLib === null || rankerLib === undefined || !(window.availableModels['ranking'].hasOwnProperty(rankerLib))) {
                    window.currentRankerModel = undefined;
                    alModelSelect.val('unset');
                    $('#al-model-class-author').html('');
                    $('#al-model-class-descr').html('');
                } else {
                    window.currentRankerModel = data['ai_alcriterion_library'];
                    alModelSelect.val(data['ai_alcriterion_library']);
                    $('#al-model-class-author').html(window.availableModels['ranking'][data['ai_alcriterion_library']]['author']);
                    $('#al-model-class-descr').html(window.availableModels['ranking'][data['ai_alcriterion_library']]['description']);
                }
                
                // store selected AI and AL model options
                window.currentAImodelOptions = data['ai_model_settings'];
                if(window.currentAImodelOptions === undefined || window.currentAImodelOptions === null) {
                    // nothing saved; load defaults instead
                    try {
                        window.currentAImodelOptions = window.availableModels['prediction'][window.currentAImodel]['defaultOptions'];
                    } catch {
                        window.currentAImodelOptions = null;
                    }
                }
                window.currentALmodelOptions = data['ai_alcriterion_settings'];
                if(window.currentALmodelOptions === undefined || window.currentALmodelOptions === null) {
                    // nothing saved; load defaults instead
                    try {
                        window.currentALmodelOptions = window.availableModels['ranking'][window.currentRrankerModel]['defaultOptions'];
                    } catch {
                        window.currentALmodelOptions = null;
                    }
                }

                // for segmentation masks only: how to treat unlabeled areas
                if(window.annotationType === 'segmentationMasks') {
                    let selectedOption = (data['segmentation_ignore_unlabeled'] ? '1' : '0');
                    $('#seg-unlabeled-select').val(selectedOption);
                    $('#seg-unlabeled-select').trigger('change');
                    $('#seg-unlabeled-box').show();
                }

                aiModelSelect.trigger('change');
            }
        });
    }

    window.save = function() {

        // assemble config parameters and submit
        let modelLib = (aiModelSelect.val() === 'unset'? null : aiModelSelect.val());
        let rankerLib = (alModelSelect.val() === 'unset'? null : alModelSelect.val());
        let aiModelOptions = window.optionsEngine.getOptions();
        if(typeof(aiModelOptions) === 'object') {
            aiModelOptions = JSON.stringify(aiModelOptions);
        }
        let numImages_autoTrain = getInt($('#ai-model-num-images-autotrain').val(), 0, 1);
        let aiModelEnabled = ($('#ai-model-enabled-checkbox').prop('checked') && (numImages_autoTrain > 0));
        var settings = {
            'ai_model_enabled': aiModelEnabled,
            'ai_model_library': modelLib,
            'ai_alcriterion_library': rankerLib,
            'ai_alcriterion_library': alModelSelect.val(),
            'ai_model_settings': aiModelOptions,
            'numimages_autotrain': numImages_autoTrain,
            'minnumannoperimage': getInt($('#ai-model-num-labels-image-autotrain').val(), 0, 0),
            'maxnumimages_train': getInt($('#ai-model-max-num-images-autotrain').val(), 0, 0),
            'maxnumimages_inference': getInt($('#ai-model-max-num-images-inference').val(), 0, 0)
        };
        if(window.annotationType === 'segmentationMasks') {
            settings['segmentation_ignore_unlabeled'] = ($('#seg-unlabeled-select').val() === '1');
        }
        var p = $.ajax({
            url: window.baseURL + 'saveAImodelSettings',
            method: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({'settings': settings}),
            success: function(data) {
                // display errors and warnings about options
                try {
                    showModelOptionsPanel(data['message']['ai_model_settings_status'], true);
                } catch(err) {
                    console.error(err)
                }
            },
            error: function(data) {
                console.error(data);
            }
        });
        p = p.then(function() {
            // nudge annotation watchdog to update auto-training info
            return $.ajax({
                url: window.baseURL + 'status?recheck_autotrain_settings=true'
            });
        });

        return p.then(function() {
            return loadSettings();
        });
    }



    $(document).ready(function() {

        //TODO: flag for case when AIController is not available...
        var promise = $.ajax({
                url: window.baseURL + 'getProjectImmutables',
                method: 'GET',
                success: function(data) {
                    data = data['immutables'];
                    window.annotationType = data['annotationType'];
                    window.predictionType = data['predictionType'];
                },
                error: function(data) {
                    console.error(data);
                }
        });
        promise = promise.then(function() {
            return $.ajax({
                url: window.baseURL + 'getAvailableAImodels',
                method: 'GET',
                success: function(data) {
                    // populate selection fields, if suitable for selected annotation and prediction types
                    window.availableModels = data['models'];
                    let numAvailableAImodels = 0;
                    let numAvailableALmodels = 0;
                    for(var key in data['models']['prediction']) {
                        var annoTypes = data['models']['prediction'][key]['annotationType'];
                        var predTypes = data['models']['prediction'][key]['predictionType'];
                        if(!Array.isArray(annoTypes)) annoTypes = [annoTypes];
                        if(!Array.isArray(predTypes)) predTypes = [predTypes];
                        if(annoTypes.includes(window.annotationType) && predTypes.includes(window.predictionType)) {
                            var entry = $('<option value="' + key + '">' + data['models']['prediction'][key]['name'] + '</option>');
                            aiModelSelect.append(entry);
                            numAvailableAImodels++;
                        }
                    }
                    for(var key in data['models']['ranking']) {
                        var predTypes = data['models']['ranking'][key]['predictionType'];
                        if(predTypes.includes(window.predictionType)) {
                            var entry = $('<option value="' + key + '">' + data['models']['ranking'][key]['name'] + '</option>');
                            alModelSelect.append(entry);
                            numAvailableALmodels++;
                        }
                    }
                    if(numAvailableAImodels === 0) {
                        $('#no-ai-models-available').show();
                    }
                    if(numAvailableALmodels === 0) {
                        $('#no-al-models-available').show();
                    }
                },
                error: function(data) {
                    //TODO
                    console.error(data)
                }
            });
        });

        promise = promise.then(function() {
            return loadSettings();
        });

        // initialize options engine
        window.optionsEngine = new OptionsEngine($('#default-ai-model-options-engine'));

        // show model descriptions and update settings upon change
        aiModelSelect.change(function() {
            var selModel = $(this).val();
            if(selModel === 'unset' || !window.availableModels['prediction'].hasOwnProperty(selModel)) {
                $('#ai-model-class-descr').html('');
                window.optionsEngine.setOptions(undefined);
                // $('#default-ai-model-options').val('');
            } else {
                $('#ai-model-class-descr').html(window.availableModels['prediction'][selModel]['description']);
                if(selModel === window.currentAImodel) {
                    // show current model options
                    window.optionsEngine.setOptions(window.currentAImodelOptions);
                } else {
                    // show default options for selected model (or hide if no options available)
                    let defaultOptions = window.availableModels['prediction'][selModel]['defaultOptions'];
                    if(defaultOptions === undefined || defaultOptions === null) {
                        window.optionsEngine.setOptions(undefined);
                    } else {
                        window.optionsEngine.setOptions(defaultOptions);
                    }
                }
            }
        });
        alModelSelect.change(function() {
            var selModel = $(this).val();
            if(selModel === 'unset') {
                $('#al-model-class-descr').html('');
            } else {
                $('#al-model-class-descr').html(window.availableModels['ranking'][selModel]['description']);
            }
        });

        $('#ai-model-enabled-checkbox').change(function() {
            let disabled = !$(this).prop('checked');
            $('#ai-model-num-images-autotrain').prop('disabled', disabled);
            $('#ai-model-num-labels-image-autotrain').prop('disabled', disabled);
            $('#ai-model-max-num-images-autotrain').prop('disabled', disabled);
            $('#ai-model-max-num-images-inference').prop('disabled', disabled);
        });

        $('#seg-unlabeled-select').change(function() {
            let infoDiv = $('#seg-unlabeled-info-text');
            if($(this).val() === '1') {
                infoDiv.html('Any pixels that are not painted by annotators will be ignored during model training. Note that this will result in models always predicting a label for every pixel.');
            } else {
                infoDiv.html('Any pixels that are not painted by annotators will be treated as "background." To this end, a new hidden "background" class with index (value) zero will be added to the project (if not existing).');
            }
        });
        
        $('#load-ai-project-options').click(function() {
            let selectedModel = aiModelSelect.val();
            if(selectedModel === window.currentAImodel) {
                window.optionsEngine.setOptions(window.currentAImodelOptions);
            }
        });
        $('#load-ai-model-options').click(function() {
            let selectedModel = aiModelSelect.val();
            if(typeof(selectedModel) === 'string' && window.availableModels['prediction'].hasOwnProperty(selectedModel)) {
                let defaultOptions = window.availableModels['prediction'][selectedModel]['defaultOptions'];
                if(defaultOptions === undefined || defaultOptions === null) {
                    window.optionsEngine.setOptions(undefined);
                } else {
                    window.optionsEngine.setOptions(defaultOptions);
                }
            }
        });
        $('#verify-ai-model-options').click(function() {
            verifyModelOptions('model');
        });

        promise.then(function() {
            window.showLoadingOverlay(false);
        });
    });
</script>