<!-- 2020-22 Benjamin Kellenberger -->
<div>
    <h2>Model states</h2>

    <div class="tables-container">
        <table id="model-states-table">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all-states" /></th>
                    <th>#</th>
                    <th>Time created</th>
                    <th>Model</th>
                    <th>Ranking model</th>
                    <th>No. predictions</th>
                </tr>
            </thead>
            <tbody id="cnn-states-tbody"></tbody>
        </table>
        <div style="margin-top:10px">
            <button class="btn btn-sm btn-primary" id="reload-button" style="margin-right:10px">Reload</button>
            <button class="btn btn-sm btn-primary" id="set-selected-current-button" disabled>Set selected as current</button>
            <button class="btn btn-sm btn-danger" id="delete-selected-models-button" disabled>Delete selected</button>
        </div>
    </div>

    <h2 style="margin-top:20px">Training statistics</h2>
    <div id="loading-placeholder">loading...</div>
    <div id="training-statistics-container"></div>
    <div id="no-data-placeholder" style="display:none">
        <div>no data to show</div>
    </div>
</div>
<link rel="stylesheet" href="/static/statistics/libs/chartjs/Chart.min.css?v={{ version }}" />
<style>
    #model-states-table {
        width: 100%;
        height: 90%;
        max-height: 90%;
        border: 1px solid #aaa;
    }

    #model-states-table thead {
        background: #5f5f5f;
        font-weight: bold;
    }

    #model-states-table tbody {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 200px;
    }

    #model-states-table thead, #model-states-table tbody {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }

    #model-states-table td, #model-states-table th {
        padding-right: 5px;
    }

    .header-toggle {
        cursor: pointer;
    }

    .chartWrapper {
        position: relative;
    }

    .chartWrapper > canvas {
        position: absolute;
        left: 0;
        top: 0;
    }

    .chartAreaWrapper {
        width: 100%;
        height: 300px;
        max-height: 300px;
        overflow-x: scroll;
    }
</style>
<script src="/static/dataAdmin/js/taskPolling.js?v={{ version }}"></script>
<script src="/static/statistics/libs/chartjs/Chart.min.js?v={{ version }}"></script>
<script src="/static/general/js/tableWidthAdjuster.js?v={{ version }}"></script>
<script type="text/javascript">

    let COLORS = ['#a6cee3','#1f78b4','#b2df8a','#33a02c','#fb9a99','#e31a1c','#fdbf6f','#ff7f00','#cab2d6','#6a3d9a','#ffff99','#b15928'];

    function getSelectedModelIDs() {
        let modelStates = [];
        $('#cnn-states-tbody').find('input[type=checkbox]:checked').each(function() {
            modelStates.push($(this).attr('id'));
        });
        return modelStates
    }

    function getAvailableAImodels() {
        return $.ajax({
            url: window.baseURL + 'getAvailableAImodels',
            method: 'GET',
            success: function(data) {
                availableAImodels = data['models']['prediction'];
            },
            error: function(xhr, status, error) {
                console.error(error);
                if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                    window.messager.addMessage('An error occurred while trying to load installed AI model types (message: "' + error + '").', 'error', 0);
                }
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return getAvailableAImodels();
                    });
                }
            }
        });
    }

    function listModelStates() {
        let modelStateTable = $('#cnn-states-tbody');
        modelStateTable.empty();
        return $.ajax({
            url: window.baseURL + 'listModelStates',
            method: 'GET',
            success: function(data) {
                if(data.hasOwnProperty('modelStates')) {
                    data = data['modelStates'];
                    for(var i=0; i<data.length; i++) {
                        // construct model state markup
                        let markup = $('<tr></tr>');
                        let chckCell = $('<td></td>');
                        let chckBox = $('<input type="checkbox" id="'+data[i]['id']+'" />');
                        chckBox.on('click', function() {
                            toggleModelStateButtons();
                        });
                        chckCell.append(chckBox);
                        markup.append(chckCell);
                        markup.append($('<td>' + (data.length-i) + '</td>'));
                        markup.append($('<td>'+new Date(data[i]['time_created'] * 1000).toLocaleString()+'</td>'));
                        markup.append($('<td>'+data[i]['model_library']['name']+'</td>'));
                        markup.append($('<td>'+data[i]['al_criterion_library']['name']+'</td>'));
                        markup.append($('<td>'+data[i]['num_pred']+'</td>'));
                        modelStateTable.append(markup);
                    }

                    // select all checkbox
                    $('#select-all-states').off();
                    $('#select-all-states').click(function() {
                        let checked = $(this).prop('checked');
                        $.each($('#cnn-states-tbody').find('input[type=checkbox]'), function() {
                            $(this).prop('checked', checked);
                        });
                        toggleModelStateButtons();
                    });
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
                if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                    window.messager.addMessage('An error occurred while trying to retrieve AI model states (message: "' + error + '").', 'error', 0);
                }
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return listModelStates();
                    });
                }
            }
        });
    }


    function getTrainingStats(showMessageOnSuccess) {
        let containerDiv = $('#training-statistics-container');
        containerDiv.empty();
        $('#loading-placeholder').show();
        $('#no-data-placeholder').hide();
        let _poll_stats = function(data, success) {
            if(typeof(data) !== 'object') {
                data = {};
                success = false;
            }
            if(success) {
                let hasChart = false;
                if(data.hasOwnProperty('series')) {
                    // assemble line charts for each model library
                    let modelLibs = Object.keys(data['series']);
                    for(var m=0; m<modelLibs.length; m++) {
                        let modelLib = modelLibs[m];

                        let modelName = window.availableAImodels[modelLib]['name'];
                        let header = $('<h3 class="header-toggle">'+modelName+'</h3>');
                        containerDiv.append(header);

                        let timestamps = data['timestamps'][modelLib];
                        let seriesNames = Object.keys(data['series'][modelLib]);
                        if(seriesNames.length > 0) {
                            let datasets = [];
                            for(var s=0; s<seriesNames.length; s++) {
                                let seriesName = seriesNames[s];
                                let series = [];
                                for(var t=0; t<timestamps.length; t++) {
                                    series.push({
                                        'x': t,     //TODO: timestamps[t],
                                        'y': data['series'][modelLib][seriesName][t]
                                    });
                                }
                                datasets.push({
                                    label: seriesName,
                                    data: series,
                                    borderColor: COLORS[(COLORS.length-1) % (s+1)],
                                    fill: false
                                });
                            }

                            // create chart
                            let cw = $('<div class="chartWrapper"><div class="chartAreaWrapper"></div></div>');
                            let canvas = $('<canvas height=300></canvas>');
                            cw.append(canvas);
                            containerDiv.append(cw);
                            header.on('click', function() {
                                canvas.slideToggle();
                            });
                            new Chart(canvas[0].getContext('2d'), {
                                type: 'line',
                                data: {
                                    labels: timestamps,
                                    datasets: datasets
                                },
                                options: {
                                    responsive: true,
                                    maintainAspectRatio: false,
                                    tooltips: {
                                        callbacks: {
                                            // title: function(tooltipItem, data) {
                                            //     //TODO: provide model state number
                                            // },
                                            label: function(tooltipItem, data) {
                                                let label = datasets[tooltipItem.datasetIndex]['label'];
                                                return label + ': ' + roundNumber(tooltipItem.value, 100);
                                            }
                                        }
                                    },
                                    scales: {
                                        xAxes: [
                                            {
                                                type: 'linear',
                                                position: 'bottom',
                                                ticks: {
                                                    callback(value) {
                                                        let time = new Date(timestamps[value-1] * 1000);    //TODO: -1?
                                                        if(isNaN(time)) return '';
                                                        return time.toLocaleString('default', { month: 'short' }) + ' ' + time.getDate() + ' ' + time.getUTCFullYear() + ', ' + time.getHours()+':'+time.getMinutes();
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                }
                            });
                            hasChart = true;

                        } else {
                            // no stats to show for model
                            containerDiv.append($('<div>(no data to show)</div>'));
                        }
                    }
                }
                $('#loading-placeholder').hide();
                if(!hasChart) {
                    $('#no-data-placeholder').show();
                }
                if(showMessageOnSuccess) {
                    window.messager.addMessage('Successfully loaded model training statistics.', 'success');
                }
            } else {
                // failure
                $('#loading-placeholder').hide();
                $('#no-data-placeholder').hide();
                let message = 'An unknown error occurred trying to load model training statistics.';
                if(typeof(data['message']) === 'string' && data['message'].length > 0) {
                    message = 'An error occurred trying to load model training statistics (message: "' + data['message'] + '").';
                }
                window.messager.addMessage(mesage, 'error', 0);
            }
        }

        return $.ajax({
            url: window.baseURL + 'getModelTrainingStatistics',
            method: 'GET',
            success: function(data) {
                let taskID = data['task_id'];
                if(typeof(taskID) === 'string') {
                    poll_status(taskID, function(data) {
                        _poll_stats(data, true);
                    },
                    function(data) {
                        _poll_stats(data, false);
                    }, undefined, 1000);
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
                if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                    window.messager.addMessage('An error occurred while trying to load training statistics (message: "' + error + '").', 'error', 0);
                }
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return doShareModel();
                    });
                }
            }
        })
    }

    function deleteSelectedModels() {
        let selModels = getSelectedModelIDs();
        if(selModels.length === 0) return;

        let _on_message = function(numModels, data) {
            if(data.hasOwnProperty('status') && data['status'] === 'FAILURE') {
                // error
                let message = '(an unknown error occurred)';
                if(data.hasOwnProperty('meta') && data['meta'].hasOwnProperty('message')) {
                    message = 'an error occurred trying to delete model states (' + data['meta']['message'] + ').';
                }
                window.messager.addMessage(message, 'error', 0);
            } else {
                let promise = listModelStates()
                promise = promise.then(function() {
                    return getTrainingStats(false);
                });
                promise.then(function() {
                    window.messager.addMessage('Successfully deleted ' + numModels + ' model states.', 'success');
                });
            }
        }

        let _do_delete = function() {
            return $.ajax({
                url: window.baseURL + 'deleteModelStates',
                method: 'POST',
                data: JSON.stringify({model_ids: selModels}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    let taskID = data['task_id'];
                    if(typeof(taskID) === 'string') {
                        poll_status(taskID, function(data) {
                            _on_message(selModels.length, data);
                        },
                        function(data) {
                            _on_message(selModels.length, data);
                        }, undefined, 1000);
                    } else {
                        if(data.hasOwnProperty('message')) {
                            window.messager.addMessage('An error occurred while trying to delete model states (message: "'+data['message']+'").', 'error', 0);
                        } else {
                            window.messager.addMessage('An unknown error occurred while trying to delete model states', 'error', 0);
                        }
                    }
                },
                error: function(xhr, status, error) {
                    window.messager.addMessage('An error occurred while deleting model states (message: "'+error+'").', 'error', 0);
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return _do_delete();
                        });
                    }
                }
            });
        }

        window.showYesNoOverlay($('<div>Are you sure you would like to delete ' + selModels.length + ' model states?<br />This also removes predictions made by those models. The action cannot be undone.</div>'),
            _do_delete, null, 'Delete', 'Cancel', 'btn-danger', 'btn-secondary', false, false);
    }

    function duplicateSelectedModel() {
        let selModel = getSelectedModelIDs();
        if(selModel.length === 0 || selModel.length > 1) return;
        selModel = selModel[0];

        let _on_message = function(data) {
            if(data.hasOwnProperty('status') && data['status'] === 'FAILURE') {
                // error
                let message = '(an unknown error occurred)';
                if(data.hasOwnProperty('meta') && data['meta'].hasOwnProperty('message')) {
                    message = 'an error occurred trying to set model state as current (' + data['meta']['message'] + ').';
                }
                window.messager.addMessage(message, 'error', 0);
            } else {
                let promise = listModelStates()
                promise = promise.then(function() {
                    return getTrainingStats(false);
                });
                promise.then(function() {
                    window.messager.addMessage('Successfully set model state as current.', 'success');
                });
            }
        }

        let _do_duplicate = function() {
            return $.ajax({
                url: window.baseURL + 'duplicateModelState',
                method: 'POST',
                data: JSON.stringify({model_id: selModel}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    let taskID = data['task_id'];
                    if(typeof(taskID) === 'string') {
                        poll_status(taskID, function(data) {
                            _on_message(data);
                        },
                        function(data) {
                            _on_message(data);
                        }, undefined, 1000);
                    } else {
                        if(data.hasOwnProperty('message')) {
                            window.messager.addMessage('An error occurred while trying to set model state as current (message: "'+data['message']+'").', 'error', 0);
                        } else {
                            window.messager.addMessage('An unknown error occurred while trying to set model state as current', 'error', 0);
                        }
                    }
                },
                error: function(xhr, status, error) {
                    window.messager.addMessage('An error occurred while setting model state as current (message: "'+error+'").', 'error', 0);
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return _do_delete();
                        });
                    }
                }
            });
        }

        window.showYesNoOverlay($('<div>Are you sure you would like to set the selected model state as current?<br />This will duplicate the model state and will cause the next AI model workflow to start from it accordingly.</div>'),
        _do_duplicate, null, 'Proceed', 'Cancel', 'btn-primary', 'btn-secondary', false, false);
    }

    function reloadAll(showMessageOnSuccess) {
        let promise = listModelStates();
        promise = promise.then(function() {
            return getTrainingStats(showMessageOnSuccess);
        });
        return promise;
    }

    function toggleModelStateButtons() {
        let selModel = getSelectedModelIDs();
        if(selModel.length === 0) {
            $('#set-selected-current-button').prop('disabled', true);
            $('#delete-selected-models-button').prop('disabled', true);
        } else if(selModel.length > 1) {
            $('#set-selected-current-button').prop('disabled', true);
            $('#delete-selected-models-button').prop('disabled', false);
        } else {
            $('#set-selected-current-button').prop('disabled', false);
            $('#delete-selected-models-button').prop('disabled', false);
        }
    }

    $(document).ready(function() {
        //TODO: show summary, running processes, etc.
        window.save = undefined;

        // table column widths
        window.adjustTableWidth(
            '#model-states-table',
            [
                '20px',
                '20px',
                '160px',
                '140px',
                '140px',
                '130px'
            ],
            true,
            true
        );

        let promise = $.when(getAvailableAImodels(), listModelStates());

        promise = promise.then(function() {
            return getTrainingStats(false);
        });

        promise.then(function() {
            $('#reload-button').on('click', function() {
                return reloadAll(true);
            });
            $('#delete-selected-models-button').on('click', function() {
                return deleteSelectedModels(); 
            });
            $('#set-selected-current-button').on('click', function() {
                return duplicateSelectedModel();
            });

            window.showLoadingOverlay(false);
        });
    });
</script>