<div>
    <h2>Danger Zone</h2>
    
    <div style="color:red">
        <b>TODO: work in progress; not functional yet.</b><br />

        <span style="font-weight:bold">WARNING:</span>
        Be extremely careful with the settings and options below; a wrong click could destroy all your project's data.
        This cannot be undone.
    </div>

    <div class="panel">
        <button class="btn btn-secondary" id="archive-project" disabled>waiting...</button>

        <p style="font-style:italic">An archived project will be frozen and hidden from the projects overview page.
        No annotations can be made and no models trained. The project will however remain intact as-is and can be
        unarchived at any point in time if desired.<br />
        Only project owners and AIDE super users can archive or unarchive projects. This excludes regular project administrators.
        </p>
    </div>


    <div class="panel">
        <button class="btn btn-danger" id="show-delete-project">Delete project</button>

        <div id="delete-project-panel">
            <input type="checkbox" id="delete-project-remove-data" />
            <label for="delete-project-remove-data">Also remove images and other data on disk.</label>
            <div style="margin-left:20px;font-style:italic">This will be done in the background and might take a while to finish.</div>
            <br />
            <button class="btn btn-lg btn-danger" id="delete-project">Delete</button>
        </div>
    </div>
</div>
<style>
    .panel {
        margin-top: 20px;
    }

    #delete-project-panel {
        display: none;
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>

<script type="text/javascript">

    var projectArchived = undefined;

    function getProjectArchived() {
        let archiveBtn = $('#archive-project');
        return $.ajax({
            url: 'isArchived',
            method: 'GET',
            success: function(data) {
                if(data.hasOwnProperty('archived')) {
                    projectArchived = data['archived'];

                    if(typeof(projectArchived) !== 'boolean') {
                        // could not determine whether project is archived or not
                        archiveBtn.prop('disabled', true);
                        archiveBtn.removeClass('btn-primary');
                        archiveBtn.addClass('btn-secondary');
                        archiveBtn.off();
                    } else {
                        archiveBtn.removeClass('btn-secondary');
                        archiveBtn.addClass('btn-primary');
                        if(projectArchived) {
                            archiveBtn.html('Unarchive project');
                        } else {
                            archiveBtn.html('Archive project');
                        }
                        archiveBtn.on('click', function() {
                            toggleProjectArchived();
                        });
                        archiveBtn.prop('disabled', false);
                    }
                } else {
                    console.log(data);      //TODO
                    // could not determine whether project is archived or not
                    archiveBtn.prop('disabled', true);
                    archiveBtn.removeClass('btn-primary');
                    archiveBtn.addClass('btn-secondary');
                    archiveBtn.off();
                }
            },
            error: function(xhr, status, error) {
                window.messager.addMessage('An error occurred while trying to retrieve project archival status (message: "' + error + '").', 'error', 0);
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return getProjectArchived();
                    });
                }
            }
        });
    }

    function toggleProjectArchived() {
        return $.ajax({
            url: 'setArchived',
            method: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({
                archived: !projectArchived
            }),
            success: function(response) {
                return getProjectArchived().done(function() {
                    if(response['status'] === 0) {
                        window.messager.addMessage('Project archival status changed successfully.', 'success');
                    } else {
                        let message = 'An error occurred while changing project archival status';
                        if(typeof(response['message']) === 'string') {
                            message += ' (message: "' + respones['message'] + '")';
                        }
                        message += '.';
                        window.messager.addMessage(message, 'error', 0);
                    }
                    return $.Deferred().promise();
                });
            },
            error: function(xhr, status, error) {
                window.messager.addMessage('An error occurred while trying to set or un-set project archived (message: "' + error + '").', 'error', 0);
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return toggleProjectArchived();
                    });
                }
            }
        });
    }

    function deleteProject() {

        let projNameField = $('<input type="text" id="project-name-verifier" />');
        
        function _doDelete() {
            let projName = projNameField.val();
            
            $.ajax({
                url: 'deleteProject',
                method: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({
                    projName: projName,
                    deleteFiles: $('#delete-project-remove-data').prop('checked')
                }),
                success: function(response) {
                    if(response['status'] === 0) {
                        window.messager.addMessage('Project deleted successfully. Redirecting to overview page...');
                        setTimeout(function() {
                            window.location.href = '/';
                        }, 5000);
                    } else {
                        let message = 'An error occurred while deleting project';
                        if(typeof(response['message']) === 'string') {
                            message += ' (message: "' + respones['message'] + '")';
                        }
                        message += '.';
                        window.messager.addMessage(message, 'error', 0);
                    }
                },
                error: function(xhr, status, error) {
                    window.messager.addMessage('An error occurred while trying to delete project (message: "' + error + '").', 'error', 0);
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return _doDelete();
                        });
                    }
                }
            });
        }

        let markup = $('<div></div>');
        markup.append($('<p>To proceed, please enter the shortname of the project as in the URL in the field below:</p>'));
        markup.append(projNameField);
        
        window.showYesNoOverlay(markup, _doDelete, null, 'Delete project', 'Cancel', 'btn btn-danger', 'btn btn-secondary', false, false);
    }


    $(document).ready(function() {

        let promise = getProjectArchived();

        promise.done(function() {
            $('#show-delete-project').on('click', function() {
                $('#delete-project-panel').slideDown();
            });
            $('#delete-project').on('click', function() {
                deleteProject();
            });

            window.showLoadingOverlay(false);
        });
    });
</script>