<div>
    <h2>Data download</h2>
    <div>
        <label for="data-type">Data type:</label>
        <select id="data-type">
            <option value="annotations">User annotations</option>
            <option value="predictions">Model predictions</option>
        </select>
        <br />

        <input type="checkbox" id="enable-date-range" />
        <label for="enable-date-range">Limit to date and time range:</label>
        <div id="date-range" style="display:none">
            <label for="date-start">From:</label>
            <input type="text" id="date-start" />
            <label for="date-end">To:</label>
            <input type="text" id="date-end" />
        </div>
        <br />
        
        <input type="checkbox" id="enable-users-list" />
        <label for="enable-users-list">Limit to specific users:</label>
        <table id="users-table">
            <thead>
                <tr>
                    <td><input type="checkbox" id="select-all-users" /></td>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody id="users-list"></tbody>
        </table>
    </div>
    <br />

    <div id="result-box">
        <h3>Downloads</h3>
        <table>
            <thead>
                <tr>
                    <td>Date created</td>
                    <td>File link</td>
                </tr>
            </thead>
            <tbody id="download-body"></tbody>
        </table>
    </div>
</div>
<link rel="stylesheet" href="/static/general/libs/datetimepicker/jquery.datetimepicker.css" />
<script type="text/javascript" src="/static/general/libs/datetimepicker/jquery.datetimepicker.js"></script>
<script src="/static/dataAdmin/js/taskPolling.js"></script>
<script type="text/javascript">

    function _setDownloadEntry(data, taskID) {
        /**
         * Automatically parses a server response and adds
         * or modifies an entry to/in the download links table.
         * Puts one of three elements into the download link cell,
         * depending on the contents of "data":
         * - a progress bar (if ongoing)
         * - a download link (if finished successfully)
         * - a red error message (in case of failure)
         */

        var entry = $('#'+taskID);
        if(!entry.length) {
            // create new
            entry = $('<tr></tr>');
            var timestampCell = $('<td>' + new Date().toLocaleString() + '</td>');
            entry.append(timestampCell);
            entry.append('<td class="file-message"></td>');
        }

        // put correct file item
        var msgCell = $(entry.find('.file-message')[0]);
        msgCell.empty();    //TODO
        if(data.hasOwnProperty('result')) {
            // finished; show download link
            msgCell.append($('<a href="'+window.dataServerURI+'/'+data['result']+'">'+data['result']+'</a>'));

        } else if(data.hasOwnProperty('status') && data['status'] === 'FAILURE') {
            // error
            var message = '(an unknown error occurred)';
            if(data.hasOwnProperty('meta') && data['meta'].hasOwnProperty('messsage')) {
                message = '(' + data['meta']['message'] + ')';
            }
            msgCell.append($('<span style="color:red">failed ' + message + '</span>'));
        
        } else {
            // job in progress
            var pb = new ProgressBar(true, 100, 100);
            msgCell.append(pb.getMarkup());
        }
    }

    function requestDownload() {
        // parse parameters
        var params = {
            dataType: $('#data-type').val()
        };
        if($('#enable-date-range').prop('checked')) {
            var startDate = $('#date-start').html();        //TODO
            var endDate = $('#date-end').html();            //TODO
            params['dateRange'] = {
                start: startDate,
                end: endDate
            }
        }
        if($('#enable-users-list').prop('checked')) {
            var usersList = [];
            $.each($('#users-list').children(), function() {
                let chckbx = $('#'+$(this).attr('id')+'__select');
                if(chckbx.prop('checked')) {
                    usersList.push($(this).attr('id'));
                }
            });
            params['users'] = usersList;
        }

        // make request
        $.ajax({
            url: '{{ project }}/requestDownload',
            method: 'POST',
            data: JSON.stringify(params),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function(data) {
                // set interval for result polling
                var taskID = data['response'];
                poll_status(taskID, function(data) {
                    _setDownloadEntry(data, taskID);
                },
                function(data) {
                    _setDownloadEntry(data, taskID);
                }, 1000);
            },
            error: function(data) {
                console.error(data);
                // append error row
                if(data.hasOwnProperty('response') && typeof data['response'] === 'string') {
                    var taskID = data['response'];
                } else {
                    var taskID = new Date().toLocaleString();
                }
                _setDownloadEntry(data, taskID);
            }
        })
    }

    $(document).ready(function() {
        // load users list
        let uList = $('#users-list');
        var promise = $.ajax({
            url: '{{ project }}/getUsers',
            method: 'GET',
            success: function(data) {
                if(data.hasOwnProperty('users')) {
                    for(var i=0; i<data['users'].length; i++) {
                        let uName = data['users'][i]['username'];
                        var uName_vis = uName;
                        var markup = $('<tr id="'+uName+'"></tr>');
                        var checkbox = $('<input type="checkbox" id="'+uName+'__select" />');
                        markup.append($('<td></td>').append(checkbox));
                        markup.append($('<td>'+uName_vis+'</td>'));
                        uList.append(markup);
                    }
                }
            },
            error: function(data) {
                console.log('ERROR:')
                console.log(data);
            }
        });

        var now = new Date();
        $('#date-start').datetimepicker({
            maxDateTime: now
        });
        $('#date-end').datetimepicker({
            startDate: now,
            maxDateTime: now
        });

        $('#enable-date-range').click(function() {
            if($(this).prop('checked')) {
                $('#date-range').show();
            } else {
                $('#date-range').hide();
            }
        });

        $('#enable-users-list').click(function() {
            let checked = $(this).prop('checked');
            $.each(uList.children(), function() {
                let chckbx = $('#'+$(this).attr('id')+'__select');
                if(checked) {
                    chckbx.addClass('disabled');
                } else {
                    chckbx.removeClass('disabled');
                }
            });
        });

        $('#select-all-users').click(function() {
            let isChecked = $(this).prop('checked');
            $.each(uList.children(), function() {
                let chckbx = $('#'+$(this).attr('id')+'__select');
                if(!chckbx.attr('disabled')) {
                    chckbx.prop('checked', isChecked);
                }
            });
        })

        window.showLoadingOverlay(false);
    });
</script>