<!-- 2020-22 Benjamin Kellenberger -->
<div>
    <h2>Data upload</h2>
    <div id="controls">
        <div id="upload-mode">
            <fieldset id="upload-mode-select">
                <input type="radio" id="radio-browserupload" name="upload-mode-select" value="browserUpload" checked>
                <label for="radio-browserupload">Upload images and/or annotations</label><br />
                <input type="radio" id="radio-scandisk" name="upload-mode-select" value="scanDisk">
                <label for="radio-scandisk">Scan file server disk for untracked images</label>
            </fieldset>
        </div>
        <div id="actions-panel">
            <div id="upload-data-panel">
                <input id="file-upload-select" type="file" webkitdirectory directory multiple />
                <br />
                <div class="custom-control custom-switch" style="margin-top:20px">
                    <input type="checkbox" class="custom-control-input" id="image-import-enabled" checked="checked">
                    <label class="custom-control-label" for="image-import-enabled">Import images</label>
                </div>

                <div id="image-import-options">
                    <div style="display:flex;flex-direction:row;">
                        <div style="min-width:280px;">
                            <div>Existing files with the same name:</div>
                            <fieldset id="existing-files">
                                <input type="radio" id="radio-keep-existing" name="existing-files" value="keepExisting" checked />
                                <label for="radio-keep-existing">keep and rename new files</label><br />
                                <input type="radio" id="radio-skip-existing" name="existing-files" value="skipExisting" />
                                <label for="radio-skip-existing">skip</label><br />
                                <input type="radio" id="radio-replace-existing" name="existing-files" value="replaceExisting" />
                                <label for="radio-replace-existing">overwrite</label><br />
                            </fieldset>
                        </div>

                        <div style="margin-left:20px"><input type="checkbox" id="split-patches-chck" />
                            <label for="split-patches-chck">Split images into tiles:</label><br />
                            <div id="split-patches-properties" style="margin-left:20px">
                                <table><thead><tr><th></th><th>Horizontal</th><th>Vertical</th></tr></thead><tbody>
                                <tr><td>Patch size:</td>
                                <td><input type="number" id="patch-size-width" min="16" max="4096" value="800" disabled="disabled" /></td>
                                <td><input type="number" id="patch-size-height" min="16" max="4096" value="600" disabled="disabled" /></td></tr>
                                <tr><td>Stride:</td>
                                <td><input type="number" id="patch-stride-width" min="16" max="4096" value="800" disabled="disabled" /></td>
                                <td><input type="number" id="patch-stride-height" min="16" max="4096" value="600" disabled="disabled" /></td></tr></tbody></table>
                                <input type="checkbox" id="patch-tight-chck" checked="checked" disabled="disabled" /><label for="patch-tight-chck">Do not exceed image boundaries</label><br />
                                <input type="checkbox" id="discard-empty-chck" disabled="disabled" /><label for="discard-empty-chck"><span>Discard tiles with</span>
                                <input type="number" min="1" max="99" value="100" id="discard-empty-percentage" disabled="disabled" /><span>% or more homogeneous pixels</span></label>
                                <div style="margin-left:10px"><span>Quantization value:</span><input type="number" min="1" max="255" value="255" id="discard-empty-quantization-value" disabled="disabled" />
                                <div style="font-style:italic">
                                    Determines the color variation between pixels during homogeneity evaluation. Smaller quantization values (>0) result in more diverse pixels being considered homogeneous.<br />
                                    This requires loading images from disk and checking pixels, which can be expensive. Set percentage of homogeneous pixels to 100% (discard fully homogeneous image parts) to speed up process.
                                </div></div>

                                <input type="checkbox" id="disable-virtual-splitting" disabled="disabled" />
                                <label for="disable-virtual-splitting">Create actual images (deprecated)</label><br />
                                <div style="margin-left:10px;font-style:italic">If checked, images tiles will be stored as new files instead of registered as virtual views.</div>
                            </div>
                        </div>
                    </div>

                    <input type="checkbox" id="convert-unsupported-images" checked="checked" />
                    <label for="convert-unsupported-images">Convert unsupported images into TIFFs</label>
                </div>

                <!-- annotation import -->
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="parse-annotations-enabled">
                    <label class="custom-control-label" for="parse-annotations-enabled">Import annotations</label>
                    <span id="image-split-annotation-notice" style="display:none;margin-left:10px;color:orange;font-style:italic">cannot import annotations with image splitting enabled</span>
                </div>
                <div id="annotation-options-panel" style="display:none">
                    <input type="checkbox" id="skip-unknown-classes" />
                    <label for="skip-unknown-classes">Skip label classes not present in project</label><br />
                    <input type="checkbox" id="mark-golden-questions" />
                    <label for="mark-golden-questions">Mark annotated images as golden questions</label><br />
                    <label for="annotation-format">Annotation format:</label>
                    <select id="annotation-format">
                        <option value="auto-detect">auto-detect</option>
                    </select>
        
                    <div id="annotation-format-info" style="margin-left:20px"></div>
        
                    <div id="annotation-parser-options-container" style="display:none">
                        <b>Format options</b><br />
                        <div id="annotation-parser-options" style="margin-left:20px"></div>
                    </div>
                </div>

                <button class="btn btn-sm btn-primary" id="upload-button" style="margin-top:20px">Upload</button>
            </div>

            <div id="scan-dir-panel" style="display:none">
                <div>
                    <div>You can manually upload your images to the file server and then import them to the database here.</div>
                    <table>
                        <tr>
                            <td style="width:150px;min-width:150px;">Server address:</td>
                            <td style="font-family:monospace" id="data-server-uri-cell"></td>
                        </tr>
                        <tr>
                            <td style="width:150px;min-width:150px;">Image folder:</td>
                            <td style="font-family:monospace" id="server-folder-cell">(loading...)</td>
                        </tr>
                    </table>
                </div>
                <input type="checkbox" id="image-integrity-check" checked />
                <label for="image-integrity-check">Perform image integrity check (slower, but safer)</label>
                <br />

                <div>
                    <input type="checkbox" id="scandir-split-patches-chck" />
                    <label for="scandir-split-patches-chck">Create virtual views:</label><br />
                    <div id="scandir-split-patches-properties" style="margin-left:20px">
                        <table><thead><tr><th></th><th>Horizontal</th><th>Vertical</th></tr></thead><tbody>
                        <tr><td>View size:</td>
                        <td><input type="number" id="scandir-patch-size-width" min="16" max="4096" value="800" disabled="disabled" /></td>
                        <td><input type="number" id="scandir-patch-size-height" min="16" max="4096" value="600" disabled="disabled" /></td></tr>
                        <tr><td>Stride:</td>
                        <td><input type="number" id="scandir-patch-stride-width" min="16" max="4096" value="800" disabled="disabled" /></td>
                        <td><input type="number" id="scandir-patch-stride-height" min="16" max="4096" value="600" disabled="disabled" /></td></tr></tbody></table>
                        <input type="checkbox" id="scandir-patch-tight-chck" checked="checked" disabled="disabled" /><label for="scandir-patch-tight-chck">Do not exceed image boundaries</label><br />
                        <input type="checkbox" id="scandir-discard-empty-chck" disabled="disabled" /><label for="scandir-discard-empty-chck"><span>Discard tiles with</span>
                        <input type="number" min="1" max="99" value="100" id="scandir-discard-empty-percentage" disabled="disabled" /><span>% or more homogeneous pixels</span></label>
                        <div style="margin-left:10px"><span>Quantization value:</span><input type="number" min="1" max="255" value="255" id="scandir-discard-empty-quantization-value" disabled="disabled" />
                        <div style="font-style:italic">
                            Determines the color variation between pixels during homogeneity evaluation. Smaller quantization values (>0) result in more diverse pixels being considered homogeneous.<br />
                            This requires loading images from disk and checking pixels, which can be expensive. Set percentage of homogeneous pixels to 100% (discard fully homogeneous image parts) to speed up process.
                        </div></div>
                    </div>
                </div>

                <button id="scan-button" class="btn btn-sm btn-primary" style="margin-bottom:10px">Scan untracked</button>
                <div id="untracked-count"></div>
                <div>
                    <button id="add-checked" class="btn btn-sm btn-success" disabled>Add checked</button>
                    <button id="add-all" class="btn btn-sm btn-danger" disabled>Add all</button>
                    <button id="add-all-untracked" class="btn btn-sm btn-danger">Scan and add all</button>
                </div>
            </div>
        </div>
    </div>
    <div id="global-progress-bar"></div>
    <div id="image-browser"></div>
</div>
<link rel="stylesheet" href="/static/dataAdmin/css/imageBrowser.css?v={{ version }}" />
<style>
    #actions-panel {
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        overflow-x: auto;
    }

    #annotation-options-panel, #image-import-options {
        border-radius: 5px;
        background: #4d4d4d;
        padding: 10px;
        margin-bottom: 20px;
    }

    #global-progress-bar {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
    }

    #global-progress-bar > * {
        margin: auto 5px auto 0;
    }

    .list-table thead tr th:nth-child(2),
    .list-table tbody tr td:nth-child(2) {
        width: 100px;
        text-align: center;
        word-break: break-all;
    }

    .list-table thead tr th:nth-child(3),
    .list-table tbody tr td:nth-child(3) {
        width: 250px;
        word-break: break-all;
    }

    .list-table thead tr th:last-child,
    .list-table tbody tr td:last-child {
        width: 100px;
        padding: 10px;
    }
</style>
<script type="text/javascript">

    window.save = undefined;

    var scriptLoadingReq = {
        ProgressBar: '/static/general/js/progressbar.js?v={{ version }}',
        ImageBrowser: '/static/dataAdmin/js/imageBrowser.js?v={{ version }}',
        poll_status: '/static/taskCoordinator/js/taskPolling.js?v={{ version }}'
    }

    $(document).ready(function() {

        let scriptPromises = [];
        for(var key in scriptLoadingReq) {
            try {
                eval(key);
            } catch {
                // script not yet loaded
                scriptPromises.push($.getScript(scriptLoadingReq[key]));
            }
        }
        let promise = $.when.apply($, scriptPromises);

        // UI functions
        function setControlsDisabled(disabled) {
            $('#upload-mode-select').attr('disabled', disabled);
            $('#file-upload-select').attr('disabled', disabled);
            $('#upload-button').attr('disabled', disabled);
            $('#cancel-button').attr('disabled', disabled);
        }

        // untracked functions
        function _update_browser_scanUntracked(data) {
            if(data.hasOwnProperty('result') && Array.isArray(data['result'])) {
                // task finished
                data = data['result'];
                var imgs = [];
                for(var i=0; i<data.length; i++) {
                    imgs.push({
                        url: data[i],
                        imageURL: window.dataServerURI + window.project + '/files/' + data[i]
                    });
                }
                window.untrackedFiles = imgs;

                // add them in chunks
                var chunk = window.untrackedFiles.splice(0, 100);
                window.imageBrowser.setImages(chunk);
                if(chunk.length < window.untrackedFiles.length) {
                    window.imageBrowser.setTrailingButton(true, false);
                }
                updateUntrackedCount();
                window.imageBrowser.setLoadingOverlay(false);

                if(data.length) {
                    window.messager.addMessage('Found ' + data.length + ' untracked images on file server.', 'success');
                } else {
                    window.messager.addMessage('No untracked images have been found.');
                }
            } else {
                data = data['response'];
                if(data.hasOwnProperty('meta') && data['meta'].hasOwnProperty('done')) {
                    // task still ongoing; update progress bar
                    let progressStr = 'checking images (' + data['meta']['done'] + '/' + data['meta']['total'] + ') ...'
                    window.imageBrowser.setLoadingOverlay(true, progressStr, data['meta']['done'], data['meta']['total']);
                }
            }
        }

        function scanUntracked() {
            window.imageBrowser.setLoadingOverlay(true, 'loading...');
            let skipIntegrityCheck = +!$('#image-integrity-check').prop('checked');
            return $.ajax({
                url: window.baseURL + 'scanForImages?skipIntegrityCheck=' + skipIntegrityCheck,
                method: 'GET',
                success: function(data) {
                    // set interval for result polling
                    var taskID = data['response'];
                    poll_status(taskID, _update_browser_scanUntracked, _update_browser_scanUntracked, _update_browser_scanUntracked, 1000);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    window.imageBrowser.setLoadingOverlay(false);
                    window.messager.addMessage('An error occurred while trying to find untracked images (message: "'+error+'").', 'error', 0);
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return scanUntracked();
                        });
                    }
                }
            });
        }

        function updateUntrackedCount() {
            if(window.untrackedFiles === undefined) return;     // for "scan and add all" function
            var numChecked = window.imageBrowser.getChecked().length;
            var numShown = window.imageBrowser.getNumEntries();
            var numTotal = numShown + window.untrackedFiles.length;

            $('#untracked-count').html(numChecked + ' images checked; ' +
                                    numShown + ' shown, ' +
                                    numTotal + ' total');
            $('#add-checked').prop('disabled', numChecked === 0);
            $('#add-all').prop('disabled', numTotal === 0);
        }

        function showMoreUntracked() {
            if(window.untrackedFiles === undefined) return;
            var len = window.untrackedFiles.length;
            if(len === 0) {
                window.imageBrowser.setTrailingButton(false);
                return;
            }
            window.imageBrowser.addImages(window.untrackedFiles.splice(0, Math.min(100, len)));
            window.imageBrowser.setTrailingButton(true, false);
            updateUntrackedCount();
        }

        function _do_add_untracked(imgList) {
            if(Array.isArray(imgList) && imgList.length === 0) return;

            $('#global-progress-bar').empty();
            let pBar = new ProgressBar(true, 0, 0, true);
            $('#global-progress-bar').append(pBar.getMarkup());
            let infoBar = $('<span style="flex-shrink:0;font-size:small;">scanning...</span>');
            $('#global-progress-bar').append(infoBar);

            function _poll_scan_progress(data) {
                let msg = 'scanning...';
                if(data.hasOwnProperty('response')) {
                    if(data['response'].hasOwnProperty('meta')) {
                        let meta = data['response']['meta'];
                        if(typeof(meta['message']) === 'string') {
                            msg = meta['message'];
                        }
                        let done = meta['done'];
                        let total = meta['total'];
                        if(typeof(done) === 'number' && typeof(total) === 'number') {
                            msg += ' (' + done.toString() + '/' + total.toString() + ')';
                            pBar.set(true, done, total, false);
                        } else {
                            pBar.set(true, null, null, true);
                        }
                    }
                }
                infoBar.html(msg);
            }

            function _poll_add_untracked(data) {
                //TODO: temporary buggy solution:
                if(data.hasOwnProperty('result')) {
                    data = data['result'];
                    if(Array.isArray(data) && data.length > 1 && data[1].length > 0) {
                        window.messager.addMessage(imgList.length + ' images added successfully.', 'success');
                        updateUntrackedCount();
                    }
                }
            }

            let params = {
                images: imgList,
                skipIntegrityCheck: +!$('#image-integrity-check').prop('checked')
            };

            // virtual view parameters
            let doSplitPatches = $('#scandir-split-patches-chck').prop('checked');
            params['splitImages'] = doSplitPatches;
            if(doSplitPatches) {
                let splitParams = {
                    'patchSize': [parseInt($('#scandir-patch-size-width').val()), parseInt($('#scandir-patch-size-height').val())],
                    'stride': [parseInt($('#scandir-patch-stride-width').val()), parseInt($('#scandir-patch-stride-height').val())],
                    'tight': $('#scandir-patch-tight-chck').prop('checked')
                }
                if($('#scandir-discard-empty-chck').prop('checked')) {
                    let perc = parseFloat($('#scandir-discard-empty-percentage').val());
                    if(!isNaN(perc)) {
                        splitParams['discard_homogeneous_percentage'] = Math.max(0.01, Math.min(100, perc));
                    }
                    let quantVal = parseFloat($('#scandir-discard-empty-quantization-value').val());
                    if(!isNaN(quantVal)) {
                        quantVal = Math.max(1, Math.min(255, quantVal));
                        splitParams['discard_homogeneous_quantization_value'] = quantVal;
                    }
                }
                params['splitParams'] = JSON.stringify(splitParams);
            }

            return $.ajax({
                url: window.baseURL + 'addExistingImages',
                method: 'POST',
                data: JSON.stringify(params),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(response) {
                    if(response['status'] === 0 && response['response'] !== undefined) {
                        let taskID = response['response'];
                        poll_status(taskID, _poll_add_untracked, _poll_add_untracked, _poll_scan_progress, 1000);
                        // //TODO
                        // window.messager.addMessage(imgList.length + ' images added successfully.', 'success');
                    } else {
                        let message = 'An error occurred while adding untracked images to project';
                        if(typeof(response['message']) === 'string') {
                            message += ' (message:"' + response['message'] + '")';
                        }
                        message += '.';
                        window.messager.addMessage(message, 'error', 0);
                    }
                    updateUntrackedCount();
                },
                error: function(xhr, status, error) {
                    console.error(error);    //TODO
                    updateUntrackedCount();
                    window.messager.addMessage('An error occurred while trying to add existing images (message: "' + error + '").', 'error', 0);
                }
            });
        }

        function addSelectedUntracked() {
            var checked = window.imageBrowser.getChecked();
            var imgList = [];
            for(var key in checked) {
                let url = checked[key].data['url'];
                if(url.startsWith('/')) {
                    url = url.slice(1);
                }
                imgList.push(url);
            }
            return _do_add_untracked(imgList);
        }

        function addAllUntracked(skip_scan) {
            if(!skip_scan && window.untrackedFiles === undefined) return;
            return _do_add_untracked('all');
        }


        // upload functions
        function create_file_groups(files) {
            /**
             * Receives a FileList and scans all file names. Reorders and groups
             * them so that files that belong together (e.g., only difference is
             * the extension) are also uploaded together. This accounts e.g. for
             * data types that consist of multiple files, such as a header and a
             * data file.
             */
            if(!files.length) return [];
            function _strip_name(fileName) {
                let fnOut = fileName.substring(0, fileName.lastIndexOf('.'));
                if(fnOut.startsWith('/')) fnOut = fnOut.substring(1);
                return fnOut;
            }
            let fileGroups = {};
            for(var f=0; f<files.length; f++) {
                let fName = _strip_name(files[f].name);
                if(fName.length === 0) continue;     // skip hidden files, such as ".DS_Store" from macOS
                let fPath = _strip_name(files[f].webkitRelativePath);      //TODO: check compatibility with other browsers
                //TODO
                // let fPath = 'files'
                if(!fileGroups.hasOwnProperty(fPath)) {
                    fileGroups[fPath] = [];
                }
                fileGroups[fPath].push(files[f]);
            }
            return fileGroups;
        }

        window.uploadedFiles = {};
        function startUploadFilesFromDisk() {
            let uploadImages = $('#image-import-enabled').prop('checked');
            let parseAnnotations = $('#parse-annotations-enabled').prop('checked');
            if(!uploadImages && !parseAnnotations) return;

            let doSplitPatches = uploadImages && $('#split-patches-chck').prop('checked');
            let virtualSplit = !$('#disable-virtual-splitting').prop('checked');
            if(parseAnnotations && doSplitPatches && !virtualSplit) {
                window.messager.addMessage('Cannot split images into patches and parse annotations', 'error', 0);
                return;
            }

            $('#upload-button').prop('disabled', true);

            let fileInput = $('#file-upload-select')[0];

            // group files by file name sans extension (account for data types consisting of multiple files)
            let fileGroups = create_file_groups(fileInput.files);
            let numFiles = 0;
            for(var key in fileGroups) {
                numFiles += fileGroups[key].length;
            }

            // gather params
            let formData = new FormData();
            formData.append('uploadImages', uploadImages);
            formData.append('parseAnnotations', parseAnnotations);
            formData.append('numFiles', numFiles);
            formData.append('existingFiles', $('#existing-files [name=existing-files]:checked').val());
            formData.append('convertUnsupported', $('#convert-unsupported-images').prop('checked'));
            formData.append('splitImages', doSplitPatches);
            if(doSplitPatches) {
                let splitParams = {
                    'patchSize': [parseInt($('#patch-size-width').val()), parseInt($('#patch-size-height').val())],
                    'stride': [parseInt($('#patch-stride-width').val()), parseInt($('#patch-stride-height').val())],
                    'tight': $('#patch-tight-chck').prop('checked'),
                    'virtualSplit': virtualSplit
                }
                if($('#discard-empty-chck').prop('checked')) {
                    let perc = parseFloat($('#discard-empty-percentage').val());
                    if(!isNaN(perc) && perc > 0 && perc < 100) {
                        splitParams['discard_homogeneous_percentage'] = perc;
                    }
                    let quantVal = parseFloat($('#discard-empty-quantization-value').val());
                    if(!isNaN(quantVal)) {
                        quantVal = Math.max(1, Math.min(255, quantVal));
                        splitParams['discard_homogeneous_quantization_value'] = quantVal;
                    }
                }
                formData.append('splitParams', JSON.stringify(splitParams));
            }
            if(parseAnnotations) {
                formData.append('skipUnknownClasses', $('#skip-unknown-classes').prop('checked'));
                formData.append('markAsGoldenQuestions', $('#mark-golden-questions').prop('checked'));
                let parserID = $('#annotation-format').val();
                formData.append('parserID', (parserID === 'auto-detect' ? null : parserID));
                if(parserID !== 'auto-detect') {
                    // append parser args
                    let parserKwargs = {};
                    $('#annotation-parser-options').find(':input').each(function() {
                        let id = $(this).attr('id');
                        let checked = $(this).prop('checked');
                        if(checked !== undefined) {
                            parserKwargs[id] = checked;
                        } else {
                            let value = $(this).val();
                            if(val !== undefined) {
                                parserKwargs[id] = val;
                            }
                        }
                    });
                    formData.append('parserArgs', JSON.stringify(parserKwargs));
                }
            }

            // initiate upload session and upload images
            function _init_upload_session() {
                return $.ajax({
                    url: window.baseURL + 'initiateUploadSession',
                    method: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }

            return _init_upload_session().then((response) => {
                let sessionID = response['session_id'];
                let uploadRequests = [];

                // global progress bar, status message, and stop button
                $('#global-progress-bar').empty();
                let pBar = new ProgressBar(true, 0, numFiles, false);
                $('#global-progress-bar').append(pBar.getMarkup());
                let infoBar = $('<span style="flex-shrink:0;font-size:small;">uploading... (0/0 images uploaded)</span>');
                $('#global-progress-bar').append(infoBar);
                window.stopAction = false;
                let stopButton = $('<button class="btn btn-sm btn-danger" id="cancel-button">Cancel</button>');
                stopButton.on('click', function() {
                    window.stopAction = true;
                    $(this).attr('disabled', true);
                    // abort uploads
                    for(var i=0; i<uploadRequests.length; i++) {
                        uploadRequests[i].abort();
                    }
                    // set message for unset elements
                    for(var entryKey in window.imageBrowser.getEntries()) {
                        if(!window.uploadedFiles.hasOwnProperty(entryKey)) {
                            window.imageBrowser.set('message', entryKey, 'aborted.');
                            window.imageBrowser.set('imageURL', entryKey, '/static/dataAdmin/img/forbidden.png');
                        }
                    }
                    // hide progress bar
                    $('#global-progress-bar').hide();
                    $('#global-progress-bar').empty();
                    setControlsDisabled(false);
                    window.messager.addMessage('Upload aborted.');
                    $('#upload-button').prop('disabled', false);
                });
                $('#global-progress-bar').append(stopButton);
                $('#global-progress-bar').show();

                let uploads_complete = {};      // works on a per-image, not per-patch basis
                for(var fgkey in fileGroups) {
                    if(window.stopAction) {
                        // user aborted
                        break;
                    }
                    let nextFiles = fileGroups[fgkey];

                    // prepare form data
                    let formData = new FormData();
                    formData.append('sessionID', sessionID);

                    // prepare image browser entries and append to form data
                    let fileKeys = {};
                    for(var f in nextFiles) {
                        let nextItem = nextFiles[f];

                        let fileName = (nextItem.webkitRelativePath !== undefined ? nextItem.webkitRelativePath : nextItem.name);
                        if(fileName.startsWith('/')) {
                            fileName = fileName.slice(1)
                        }
                        let key = fileName+'_'+f;
                        fileKeys[key] = {
                            filename: fileName
                        };
                        formData.append(key, nextItem);
                        // window.imageBrowser.addImages({
                        //     key: {
                        //         'id': key,
                        //         'url': fileName,
                        //         'imageURL': '/static/dataAdmin/img/loading.png',
                        //         'message': 'waiting...'
                        //     }
                        // });
                    }
                    
                    // upload
                    // for(var key in fileKeys) {
                    //     window.imageBrowser.setProgressBar(fileKeys[key]['filename'], true, 0);
                    // }
                    let uploadRequest = $.ajax({
                        url: window.baseURL + 'uploadData',
                        method: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        xhr: function () {
                            var customXhr = $.ajaxSettings.xhr();
                            if(customXhr.upload) {
                                customXhr.upload.addEventListener('progress', function(e) {
                                    if(e.lengthComputable) {
                                        window.imageBrowser.set('message', this, 'uploading...');
                                        if(e.loaded < e.total) {
                                            window.imageBrowser.setProgressBar(this, true, e.loaded, e.total);
                                        } else {
                                            window.imageBrowser.setProgressBar(this, false);
                                        }
                                    } else {
                                        window.imageBrowser.setProgressBar(this, false);
                                        window.imageBrowser.set('message', this, '');
                                    }
                                }.bind(key), false);
                            }
                            return customXhr;
                        },
                        success: function(data) {
                            // retrieve image URL for uploaded images
                            //TODO: make compatible with bulk upload
                            // try {
                                if(typeof(data) === 'string') {
                                    data = JSON.parse(data);
                                }

                                if(!data.hasOwnProperty('result')) {
                                    // error
                                    let msg = 'Data upload failed';
                                    if(data.hasOwnProperty('message')) {
                                        msg += ' (message: "' + data['message'] + '")';
                                    }
                                    msg += '.';
                                    window.messager.addMessage(msg, 'error', 0);
                                    return;
                                }

                                // combine all keys (original images plus potential new patches)
                                let allKeys = data['result'];   //{...fileKeys, ...data['result']};

                                for(var key in allKeys) {
                                    let imgName = allKeys[key]['filename'];
                                    let url = window.dataServerURI + window.project + '/files/' + imgName;

                                    let window_box = [
                                        allKeys[key]['y'], allKeys[key]['x'],
                                        allKeys[key]['height'], allKeys[key]['width']
                                    ];
                                    if(window_box.every(function(x){return Number.isInteger(x)})) {
                                        url += '?window=' + window_box;
                                    }

                                    if(!window.imageBrowser.containsEntry(key)) {
                                        // new image, e.g. due to splitting; add entry
                                        window.imageBrowser.addImages({
                                            key: {
                                                'id': key,
                                                'url': imgName,
                                                'imageURL': url,
                                                'message': '<span style="color:green">upload successful</span>'
                                            }
                                        });
                                    }
                                    let result = {
                                        'status': 3,
                                        'message': 'unknown error'
                                    }
                                    if(data['result'].hasOwnProperty(key)) {
                                        result = data['result'][key];
                                    }
                                    let message = result['message'];
                                    if(result['status'] === 0) {
                                        // valid image
                                        message = '<span style="color:green">'+message+'</span>';
                                    } else if(result['status'] === 1) {
                                        // auxiliary file
                                        url = '/static/dataAdmin/img/auxiliary.png';
                                        message = '<span style="color:#4ca0ff">'+message+'</span>';
                                    } else if(result['status'] === 2) {
                                        // image with warning
                                        message = '<span style="color:yellow">'+message+'</span>';
                                    } else if(result['status'] === 3) {
                                        // failed upload
                                        url = '/static/dataAdmin/img/error.png';
                                        message = '<span style="color:red">'+message+'</span>';
                                    }
                                    window.imageBrowser.set('imageURL', key, url);
                                    window.imageBrowser.set('url', key, imgName);
                                    window.imageBrowser.set('message', key, message);

                                    if(result['status'] < 3) {
                                        uploads_complete[imgName] = 1;      //TODO: technically not complete if only a single patch is uploaded
                                        window.uploadedFiles[key] = 1;
                                    }
                                }
                                // update progress bar
                                numComplete = (Object.keys(uploads_complete).length).toString();
                                pBar.set(true, numComplete, numFiles);
                                infoBar.html('uploading... ('+numComplete+'/'+numFiles+' files uploaded)');
                                if(numComplete >= numFiles) {
                                    pBar.set(false);
                                }
                            // } catch(error) {
                            //     //TODO
                            //     console.log(error)
                            // }
                            window.imageBrowser.setProgressBar(this, false);
                        }.bind(key),
                        error: function(xhr, status, error) {
                            window.imageBrowser.set('imageURL', this, '/static/dataAdmin/img/error.png');
                            pBar.set(true, pBar.getValue()+1);
                        }.bind(key)
                    });

                    uploadRequests.push(uploadRequest);
                }
            }).then(() => {
                $('#upload-button').prop('disabled', false);
            });

            // hide global progress bar once everything is done
            $(document).ajaxStop(function() {
                $('#global-progress-bar').hide();
                $('#global-progress-bar').empty();
            });
        }

        // general functions
        function getSelectedMode() {
            return $('#upload-mode-select [name=upload-mode-select]:checked').val();
        }

        function onClickMore(event) {
            if(getSelectedMode() === 'browserUpload') {
                //TODO

            } else if(getSelectedMode() === 'scanDisk') {
                showMoreUntracked();
                //TODO: modify image browser trailing button to show number of images left
            }
        }


        function _imageBrowser_event(event) {
            var checked = window.imageBrowser.getChecked();
            if(getSelectedMode() === 'scanDisk') {
                updateUntrackedCount();
            }
        }


        function setImageBrowserSize() {
            var height = Math.max($('#contents').height() - $('#controls').outerHeight() -
                            $('.image-browser-view-buttons').outerHeight() - 60, 200);    // -60 for header and margins
            $('.list-container').css('height', height);
            $('.thumbs-container').css('height', height);
        }


        // annotation import controls
        function _loadParsers() {
            let parserSel = $('#annotation-format');
            return $.ajax({
                url: window.baseURL + 'getSupportedAnnotationFormats?method=import',
                method: 'GET',
                success: function(data) {
                    window.formats = data['formats']['annotation'];
                    
                    // populate dropdown menu
                    for(var fkey in window.formats) {
                        let fspec = window.formats[fkey];
                        let option = $('<option value="' + fkey + '">' + fspec['name'] + '</option>');
                        parserSel.append(option);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(data);
                    window.messager.addMessage('Supported data formats could not be loaded (message: "'+error+'").', 'error', 0);
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return _loadParsers();
                        });
                    }
                }
            });
        }
        function setSelectedParser(parserKey) {
            $('#annotation-parser-options').empty();
            if(typeof(parserKey) !== 'string' || !window.formats.hasOwnProperty(parserKey)) {
                $('#annotation-parser-options-container').hide();
                $('#annotation-format-info').html('');
            } else {
                $('#annotation-format-info').html(window.formats[parserKey]['info']);
                let parserOptions = window.formats[parserKey]['options'];
                if(parserOptions !== undefined && parserOptions !== null && parserOptions.length > 0) {
                    $('#annotation-parser-options').append($(parserOptions));
                    $('#annotation-parser-options-container').show();
                } else {
                    $('#annotation-parser-options').empty();
                    $('#annotation-parser-options-container').hide();
                }
            }
        }

        // get project details
        promise = promise.done(function() {
            return $.get(window.baseURL + 'getProjectSettings', function(data) {
                window.annotationType = data['settings']['annotationType'];
                window.dataServerURI = data['settings']['dataServerURI'];
                if(!window.dataServerURI.endsWith('/')) {
                    window.dataServerURI += '/';
                }
            });
        });

        // get valid image extensions
        promise = promise.done(function() {
            return $.ajax({
                url: window.baseURL + 'getValidImageExtensions',
                method: 'GET',
                success: function(data) {
                    if(data.hasOwnProperty('extensions')) {
                        window.validImageExtensions = data['extensions'];
                    } else {
                        window.validImageExtensions = [];
                    }
                },
                error: function(data) {
                    //TODO
                    window.validImageExtensions = [];
                }
            });
        });


        // setup
        promise = promise.done(function() {
            return _loadParsers();
        });

        promise = promise.done(function() {

            // setup image browser
            window.imageBrowser = new ImageBrowser($('#image-browser'), {
                'images': [],
                'showCheckboxes': true,
                'showImages': true,
                'colnames': [
                    {'url': 'File'},
                    {'message': 'Message'}
                ]
            });

            window.imageBrowser.setTrailingButton(false,
                                                false,
                                                'more...',
                                                onClickMore);
            window.imageBrowser.on('imageCheck', function(event) {
                _imageBrowser_event(event);
            });
            window.imageBrowser.on('viewChange', function(event) {
                _imageBrowser_event(event);
            });
            $(window).on('resize', function() {
                setImageBrowserSize();
            });

            // data upload action panel
            $('#upload-button').on('click', function() {
                startUploadFilesFromDisk();
            });
            $('#split-patches-chck').on('input', function() {
                let checked = $(this).prop('checked');
                $('#split-patches-properties').find('input').each(function() {
                    $(this).prop('disabled', !checked);
                });
                $('#discard-empty-percentage').prop('disabled', !(checked & $('#discard-empty-chck').prop('checked')));
                $('#discard-empty-quantization-value').prop('disabled', !(checked & $('#discard-empty-chck').prop('checked')));
            });
            $('#scandir-split-patches-chck').on('input', function() {
                let checked = $(this).prop('checked');
                $('#scandir-split-patches-properties').find('input').each(function() {
                    $(this).prop('disabled', !checked);
                });
                $('#scandir-discard-empty-percentage').prop('disabled', !(checked & $('#scandir-discard-empty-chck').prop('checked')));
                $('#scandir-discard-empty-quantization-value').prop('disabled', !(checked & $('#scandir-discard-empty-chck').prop('checked')));
            });
            $('#scandir-discard-empty-chck').on('input', function() {
                let checked = $(this).prop('checked');
                $('#scandir-discard-empty-percentage').prop('disabled', !checked);
                $('#scandir-discard-empty-quantization-value').prop('disabled', !checked);
            });
            $('#disable-virtual-splitting').on('input', function() {
                //TODO: disable annotation import on "physical" image splitting; not yet implemented
                if($(this).prop('checked') && $('#split-patches-chck').prop('checked')) {
                    $('#parse-annotations-enabled').prop('checked', false);
                    $('#parse-annotations-enabled').prop('disabled', true);
                    $('#annotation-options-panel').slideUp();
                    $('#image-split-annotation-notice').show();
                } else {
                    $('#parse-annotations-enabled').prop('disabled', false);
                    $('#image-split-annotation-notice').hide();
                }
            });
            $('#discard-empty-chck').on('input', function() {
                let checked = $(this).prop('checked');
                $('#discard-empty-percentage').prop('disabled', !checked);
                $('#discard-empty-quantization-value').prop('disabled', !checked);
            });
            $('#image-import-enabled').on('input', function() {
                if($(this).prop('checked')) {
                    $('#image-import-options').slideDown();
                } else {
                    $('#image-import-options').slideUp();
                }

                if(window.annotationType === 'segmentationMasks') {
                    // we disallow both image and annotation import for
                    // segmentation masks (non-distinguishable)
                    $('#parse-annotations-enabled').prop('checked', !$(this).prop('checked'));
                    if($(this).prop('checked')) {
                        $('#annotation-options-panel').slideUp();
                    } else {
                        $('#annotation-options-panel').slideDown();
                    }
                }

                let btnEnabled = $(this).prop('checked') || $('#parse-annotations-enabled').prop('checked');
                $('#upload-button').prop('disabled', !btnEnabled);
            });

            // annotation parsing
            $('#parse-annotations-enabled').on('input', function() {
                if($(this).prop('checked')) {
                    $('#annotation-options-panel').slideDown();
                } else {
                    $('#annotation-options-panel').slideUp();
                }

                if(window.annotationType === 'segmentationMasks') {
                    // we disallow both image and annotation import for
                    // segmentation masks (non-distinguishable)
                    $('#image-import-enabled').prop('checked', !$(this).prop('checked'));
                    if($(this).prop('checked')) {
                        $('#image-import-options').slideUp();
                    } else {
                        $('#image-import-options').slideDown();
                    }
                }

                let btnEnabled = $(this).prop('checked') || $('#image-import-enabled').prop('checked');
                $('#upload-button').prop('disabled', !btnEnabled);
            });
            $('#annotation-format').on('input', function() {
                setSelectedParser($(this).val());
            });

            // folder scan action panel
            $('#data-server-uri-cell').html(window.dataServerURI);
            $.ajax({
                url: window.baseURL + 'getPlatformInfo',
                method: 'GET',
                success: function(data) {
                    if(data.hasOwnProperty('settings')) {
                        $('#server-folder-cell').html(data['settings']['server_dir']); 
                    }
                }
            });
            $('#scan-button').on('click', function() {
                scanUntracked();
            });
            $('#add-checked').on('click', function() {
                addSelectedUntracked();
            });
            $('#add-all').on('click', function() {
                addAllUntracked();
            });
            $('#add-all-untracked').on('click', function() {
                addAllUntracked(true);
            });

            $('#upload-mode-select input:radio').on('change', function() {
                if($(this).val() === 'browserUpload') {
                    $('#scan-dir-panel').hide();
                    $('#upload-data-panel').show();

                } else if($(this).val() === 'scanDisk') {
                    $('#scan-dir-panel').show();
                    $('#upload-data-panel').hide();
                }
                window.imageBrowser.setImages([]);
                window.untrackedFiles = undefined;
                setImageBrowserSize();
            });

            setImageBrowserSize();
            window.showLoadingOverlay(false);
        });
    });
</script>