<div>
    <h2>Data upload</h2>
    <div id="controls">
        <div id="upload-mode">
            <h3>Upload mode</h3>
            <fieldset id="upload-mode-select">
                <input type="radio" id="radio-browserupload" name="upload-mode-select" value="browserUpload" checked>
                <label for="radio-browserupload">Upload images</label><br />
                <input type="radio" id="radio-scandisk" name="upload-mode-select" value="scanDisk">
                <label for="radio-scandisk">Scan file server disk for untracked images</label>
            </fieldset>
        </div>
        <div id="actions-panel"></div>
    </div>
    <div id="global-progress-bar"></div>
    <div id="image-browser"></div>
</div>
<link rel="stylesheet" href="/static/dataAdmin/css/imageBrowser.css?v={{ version }}" />
<style>
    #actions-panel {
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        overflow-x: auto;
    }

    #global-progress-bar {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
    }

    #global-progress-bar > * {
        margin: auto 5px auto 0;
    }

    .list-table thead tr th:nth-child(2),
    .list-table tbody tr td:nth-child(2) {
        width: 100px;
        text-align: center;
        word-break: break-all;
    }

    .list-table thead tr th:nth-child(3),
    .list-table tbody tr td:nth-child(3) {
        width: 250px;
        word-break: break-all;
    }

    .list-table thead tr th:last-child,
    .list-table tbody tr td:last-child {
        width: 100px;
        padding: 10px;
    }
</style>
<script src="/static/dataAdmin/js/imageBrowser.js?v={{ version }}"></script>
<script src="/static/dataAdmin/js/taskPolling.js?v={{ version }}"></script>
<script type="text/javascript">

    $(document).ready(function() {

        if(typeof(ProgressBar) === 'undefined') {
            $.getScript('/static/general/js/progressbar.js');
        }

        // UI functions
        function setControlsDisabled(disabled) {
            $('#upload-mode-select').attr('disabled', disabled);
            $('#file-upload-select').attr('disabled', disabled);
            $('#upload-button').attr('disabled', disabled);
            $('#cancel-button').attr('disabled', disabled);
        }

        // untracked functions
        function _update_browser_scanUntracked(data) {
            var imgs = [];
            for(var i=0; i<data.length; i++) {
                imgs.push({
                    url: data[i],
                    imageURL: window.dataServerURI + window.project + '/files/' + data[i]
                });
            }
            
            window.untrackedFiles = imgs;

            // add them in chunks
            var chunk = window.untrackedFiles.splice(0, 100);
            window.imageBrowser.setImages(chunk);
            if(chunk.length < window.untrackedFiles.length) {
                window.imageBrowser.setTrailingButton(true, false);
            }
            updateUntrackedCount();
            window.imageBrowser.setLoadingOverlay(false);

            if(data.length) {
                window.messager.addMessage('Found ' + data.length + ' untracked images on file server.', 'success');
            } else {
                window.messager.addMessage('No untracked images have been found.');
            }
        }

        function scanUntracked() {
            window.imageBrowser.setLoadingOverlay(true, 'loading...');
            return $.ajax({
                url: 'scanForImages',
                method: 'GET',
                success: function(data) {
                    // set interval for result polling
                    var taskID = data['response'];
                    poll_status(taskID, _update_browser_scanUntracked, undefined, 1000);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    window.imageBrowser.setLoadingOverlay(false);
                    window.messager.addMessage('An error occurred while trying to find untracked images (message: "'+error+'").', 'error', 0);
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return scanUntracked();
                        });
                    }
                }
            });
        }

        function updateUntrackedCount() {
            var numChecked = window.imageBrowser.getChecked().length;
            var numShown = window.imageBrowser.getNumEntries();
            var numTotal = numShown + window.untrackedFiles.length;

            $('#untracked-count').html(numChecked + ' images checked; ' +
                                    numShown + ' shown, ' +
                                    numTotal + ' total');
            $('#add-checked').prop('disabled', numChecked === 0);
            $('#add-all').prop('disabled', numTotal === 0);
        }

        function showMoreUntracked() {
            if(window.untrackedFiles === undefined) return;
            var len = window.untrackedFiles.length;
            if(len === 0) {
                window.imageBrowser.setTrailingButton(false);
                return;
            }
            window.imageBrowser.addImages(window.untrackedFiles.splice(0, Math.min(100, len)));
            window.imageBrowser.setTrailingButton(true, false);
            updateUntrackedCount();
        }

        function _do_add_untracked(imgList) {
            let params = {};
            if(Array.isArray(imgList) && imgList.length === 0) return;

            function _poll_add_untracked(data) {
                //TODO: temporary buggy solution:
                if(Array.isArray(data) && data.length > 1 && data[1].length > 0) {
                    window.messager.addMessage(imgList.length + ' images added successfully.', 'success');
                    updateUntrackedCount();
                }
            }

            return $.ajax({
                url: window.baseURL + 'addExistingImages',
                method: 'POST',
                data: JSON.stringify({images:imgList}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(response) {
                    if(response['status'] === 0 && response['response'] !== undefined) {
                        let taskID = response['response'];
                        poll_status(taskID, _poll_add_untracked, _poll_add_untracked, 1000);
                        // //TODO
                        // window.messager.addMessage(imgList.length + ' images added successfully.', 'success');
                    } else {
                        let message = 'An error occurred while adding untracked images to project';
                        if(typeof(response['message']) === 'string') {
                            message += ' (message:"' + response['message'] + '")';
                        }
                        message += '.';
                        window.messager.addMessage(message, 'error', 0);
                    }
                    updateUntrackedCount();
                },
                error: function(xhr, status, error) {
                    console.error(error);    //TODO
                    updateUntrackedCount();
                    window.messager.addMessage('An error occurred while trying to add existing images (message: "' + error + '").', 'error', 0);
                }
            });
        }

        function addSelectedUntracked() {
            var checked = window.imageBrowser.getChecked();
            var imgList = [];
            for(var key in checked) {
                let url = checked[key].data['url'];
                if(url.startsWith('/')) {
                    url = url.slice(1);
                }
                imgList.push(url);
            }
            return _do_add_untracked(imgList);
        }

        function addAllUntracked() {
            if(window.untrackedFiles === undefined) return;
            // var imgList = [];
            // let entries = window.imageBrowser.getEntries();
            // for(var key in entries) {
            //     imgList.push(entries[key].data['url']);
            // }
            // imgList = imgList.concat(window.untrackedFiles);
            return _do_add_untracked('all');
        }


        // upload functions
        window.uploadedFiles = {};
        function startUploadFilesFromDisk() {
            var uploadRequests = [];
            var fileInput = $('#file-upload-select')[0];

            var existingFiles = $('#existing-files [name=existing-files]:checked').val();

            // properties for patch splitting
            var doSplitPatches = $('#split-patches-chck').prop('checked');
            var splitParams = {
                'patchSize': [parseInt($('#patch-size-width').val()), parseInt($('#patch-size-height').val())],
                'stride': [parseInt($('#patch-stride-width').val()), parseInt($('#patch-stride-height').val())],
                'tight': $('#patch-tight-chck').prop('checked')
            };

            // global progress bar, status message, and stop button
            $('#global-progress-bar').empty();
            var pBar = new ProgressBar(true, 0, fileInput.files.length, false);
            $('#global-progress-bar').append(pBar.getMarkup());
            var infoBar = $('<span style="flex-shrink:0;font-size:small;">uploading... (0/0 images uploaded)</span>');
            $('#global-progress-bar').append(infoBar);
            window.stopAction = false;
            var stopButton = $('<button class="btn btn-sm btn-danger" id="cancel-button">Cancel</button>');
            stopButton.on('click', function() {
                window.stopAction = true;
                $(this).attr('disabled', true);
                // abort uploads
                for(var i=0; i<uploadRequests.length; i++) {
                    uploadRequests[i].abort();
                }
                // set message for unset elements
                for(var entryKey in window.imageBrowser.getEntries()) {
                    if(!window.uploadedFiles.hasOwnProperty(entryKey)) {
                        window.imageBrowser.set('message', entryKey, 'aborted.');
                        window.imageBrowser.set('imageURL', entryKey, '/static/dataAdmin/img/forbidden.png');
                    }
                }
                // hide progress bar
                $('#global-progress-bar').hide();
                $('#global-progress-bar').empty();
                setControlsDisabled(false);
                window.messager.addMessage('Upload aborted.');
            });
            $('#global-progress-bar').append(stopButton);
            $('#global-progress-bar').show();

            // filter files according to MIME type and upload
            var numComplete = 0;
            for(var i=0; i<fileInput.files.length; i++) {
                if(window.stopAction) {
                    // user aborted
                    break;
                }
                var nextItem = fileInput.files[i];
                if(window.validImageMIMEtypes.includes(nextItem.type)) {
                    // upload
                    var fileName = (nextItem.hasOwnProperty('webkitRelativePath')? nextItem['webkitRelativePath'] : nextItem['name']);
                    if(fileName.startsWith('/')) {
                        fileName = fileName.slice(1)
                    }
                    var key = fileName+'_'+i;
                    var formData = new FormData();
                    formData.append('existingFiles', existingFiles);
                    formData.append('splitPatches', doSplitPatches);
                    formData.append('splitParams', JSON.stringify(splitParams));
                    formData.append(key, nextItem);
                    window.imageBrowser.addImages({
                        key: {
                            'id': key,
                            'url': fileName,
                            'imageURL': '/static/dataAdmin/img/loading.png',
                            'message': 'waiting...'
                        }
                    });
                    window.imageBrowser.setProgressBar(key, true, 0);

                    var uploadRequest = $.ajax({
                        url: 'uploadImages',
                        method: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        xhr: function () {
                            var customXhr = $.ajaxSettings.xhr();
                            if(customXhr.upload) {
                                customXhr.upload.addEventListener('progress', function(e) {
                                    if(e.lengthComputable) {
                                        window.imageBrowser.set('message', this, 'uploading...');
                                        if(e.loaded < e.total) {
                                            window.imageBrowser.setProgressBar(this, true, e.loaded, e.total);
                                        } else {
                                            window.imageBrowser.setProgressBar(this, false);
                                        }
                                    } else {
                                        window.imageBrowser.setProgressBar(this, false);
                                        window.imageBrowser.set('message', this, '');
                                    }
                                }.bind(key), false);
                            }
                            return customXhr;
                        },
                        success: function(data) {
                            // retrieve image URL for uploaded image
                            try {
                                if(typeof(data) === 'string') {
                                    data = JSON.parse(data);
                                }
                                if(data['result']['imgPaths_valid'].length === 0) {
                                    // something went wrong uploading the image
                                    window.imageBrowser.set('imageURL', this, '/static/dataAdmin/img/error.png');
                                    window.messager.addMessage('Image "'+fileName+'" could not be uploaded.', 'error', 0);
                                } else {
                                    var url = window.dataServerURI + window.project + '/files/' +
                                    data['result']['imgPaths_valid'][0];
                                    window.imageBrowser.set('imageURL', this, url);
                                    window.imageBrowser.set('url', this, data['result']['imgPaths_valid'][0]);
                                    window.imageBrowser.set('message', this, '<span style="color:green">upload successful</span>');
                                    // add other entries for other tiles (if available)
                                    for(var t=1; t<data['result']['imgPaths_valid'].length; t++) {
                                        var key = data['result']['imgPaths_valid'][t];
                                        var url = window.dataServerURI + window.project + '/files/' + key;
                                        window.imageBrowser.addImages({
                                            key: {
                                                'id': key,
                                                'url': key,
                                                'imageURL': url,
                                                'message': '<span style="color:green">upload successful</span>'
                                            }
                                        });
                                    }
                                }
                                // show messages
                                if(this in data['result']['imgs_error']) {
                                    var msg = '<span style="color:red">' + data['result']['imgs_error'][this] + '</span>';
                                    window.imageBrowser.set('message', this, msg);
                                    window.messager.addMessage('Image "'+fileName+'" could not be uploaded (message: "'+data['result']['imgs_error'][this]+'").', 'error', 0);
                                } else if(this in data['result']['imgs_warn']) {
                                    var msg = '<span style="color:yellow">' + data['result']['imgs_warn'][this] + '</span>';
                                    window.imageBrowser.set('message', this, msg);
                                    window.messager.addMessage('Warning(s) occurred while uploading image "'+fileName+'": "'+data['result']['imgs_warn'][this]+'".', 'warning', 0);
                                }

                                if(!(this in data['result']['imgs_error'])) {
                                    pBar.set(true, pBar.getValue()+1);
                                    numComplete++;
                                    infoBar.html('uploading... ('+numComplete+'/'+fileInput.files.length+' images uploaded)');
                                    if(numComplete >= fileInput.files.length) {
                                        pBar.set(false);
                                    }
                                    window.uploadedFiles[this] = 1;
                                    window.messager.addMessage('Image "'+fileName+'" uploaded successfully.', 'success');
                                }
                            } catch(error) {
                                console.log(error)
                                window.imageBrowser.set('imageURL', this, '/static/dataAdmin/img/error.png');
                                window.imageBrowser.set('message', this, '<span style="color:red">an unknown error occurred</span>');
                                window.messager.addMessage('Image "'+fileName+'" could not be uploaded.', 'error', 0);
                            }
                            window.imageBrowser.setProgressBar(this, false);
                        }.bind(key),
                        error: function(xhr, status, error) {
                            window.imageBrowser.set('imageURL', this, '/static/dataAdmin/img/error.png');
                            pBar.set(true, pBar.getValue()+1);
                        }.bind(key)
                    });

                    uploadRequests.push(uploadRequest);
                }
            }

            // hide global progress bar once everything is done
            $(document).ajaxStop(function() {
                $('#global-progress-bar').hide();
                $('#global-progress-bar').empty();
            });
        }

        // general functions
        function getSelectedMode() {
            return $('#upload-mode-select [name=upload-mode-select]:checked').val();
        }

        function onClickMore(event) {
            if(getSelectedMode() === 'browserUpload') {
                //TODO

            } else if(getSelectedMode() === 'scanDisk') {
                showMoreUntracked();
                //TODO: modify image browser trailing button to show number of images left
            }
        }


        function _imageBrowser_event(event) {
            var checked = window.imageBrowser.getChecked();
            if(getSelectedMode() === 'scanDisk') {
                updateUntrackedCount();
            }
        }


        function setImageBrowserSize() {
            var height = $('#contents').height() - $('#controls').outerHeight() -
                            $('.image-browser-view-buttons').outerHeight() - 60;    // -60 for header and margins
            $('.list-container').css('height', height);
            $('.thumbs-container').css('height', height);
        }


        // get data server URI
        var promise = $.get('getProjectSettings', function(data) {
            window.dataServerURI = data['settings']['dataServerURI'];
            if(!window.dataServerURI.endsWith('/')) {
                window.dataServerURI += '/';
            }
        });

        // get valid image MIME types
        promise = promise.done(function() {
            return $.ajax({
                url: 'getValidMIMEtypes',
                method: 'GET',
                success: function(data) {
                    if(data.hasOwnProperty('MIME_types')) {
                        window.validImageMIMEtypes = data['MIME_types'];
                    } else {
                        window.validImageMIMEtypes = [];
                    }
                },
                error: function(data) {
                    //TODO
                    window.validImageMIMEtypes = [];
                }
            });
        });


        // setup
        promise = promise.done(function() {

            // setup image browser
            window.imageBrowser = new ImageBrowser($('#image-browser'), {
                'images': [],
                'showCheckboxes': true,
                'showImages': true,
                'colnames': [
                    {'url': 'File'},
                    {'message': 'Message'}
                ]
            });

            window.imageBrowser.setTrailingButton(false,
                                                false,
                                                'more...',
                                                onClickMore);
            window.imageBrowser.on('imageCheck', function(event) {
                _imageBrowser_event(event);
            });
            window.imageBrowser.on('viewChange', function(event) {
                _imageBrowser_event(event);
            });
            $(window).on('resize', function() {
                setImageBrowserSize();
            });

            // setup action panel markups
            window.actionPanel_scan = $('<div></div>');
            var infoMessage = $('<div></div>');
            var serverFolderCell = $('<td style="font-family:monospace">(loading...)</td>');
            $.ajax({
                url: 'getPlatformInfo',
                method: 'GET',
                success: function(data) {
                    if(data.hasOwnProperty('settings')) {
                        serverFolderCell.html(data['settings']['server_dir']); 
                    }
                }
            });
            infoMessage.append($('<div>You can manually upload your images to the file server and then import them to the database here.</div>'));
            var serverInfoTable = $('<table><tr><td style="width:150px;min-width:150px;">Server address:</td><td style="font-family:monospace">' + window.dataServerURI + '</td></tr></table>');
            var folderRow = $('<tr><td style="width:150px;min-width:150px;">Image folder:</td></tr>');
            folderRow.append(serverFolderCell);
            serverInfoTable.append(folderRow);
            infoMessage.append(serverInfoTable);
            window.actionPanel_scan.append(infoMessage);
            var scanUntrackedButton = $('<button id="scan-button" class="btn btn-sm btn-primary" style="margin-bottom:10px">Scan untracked</button>');
            scanUntrackedButton.on('click', function() {
                scanUntracked();
            });
            window.actionPanel_scan.append(scanUntrackedButton);
            var actionButtons = $('<div></div>');
            var checkCount = $('<div id="untracked-count"></div>');
            actionButtons.append(checkCount);
            var addChecked = $('<button id="add-checked" class="btn btn-sm btn-success" disabled>Add checked</button>');
            addChecked.on('click', function() {
                addSelectedUntracked();
            });
            actionButtons.append(addChecked);
            var addAll = $('<button id="add-all" class="btn btn-sm btn-danger" disabled>Add all</button>');
            addAll.on('click', function() {
                addAllUntracked();
            });
            actionButtons.append(addAll);
            window.actionPanel_scan.append(actionButtons);


            window.actionPanel_upload = $('<div></div>');
            var fileUploadSelect = $('<input id="file-upload-select" type="file" webkitdirectory directory multiple /><br />');
            window.actionPanel_upload.append(fileUploadSelect);
            var optionsPanel = $('<div style="display:flex;flex-direction:row;"></div>');
            window.actionPanel_upload.append(optionsPanel);
            var existingFiles = $('<div><div>Existing files with the same name:</div><fieldset id="existing-files">' +
                    '<input type="radio" id="radio-keep-existing" name="existing-files" value="keepExisting" checked />' +
                    '<label for="radio-keep-existing">keep existing and rename new files</label><br />' +
                    '<input type="radio" id="radio-skip-existing" name="existing-files" value="skipExisting" />' +
                    '<label for="radio-skip-existing">skip</label><br />' +
                    '<input type="radio" id="radio-replace-existing" name="existing-files" value="replaceExisting" />' +
                    '<label for="radio-replace-existing">overwrite</label><br />' +
                    '</fieldset></div>');
            optionsPanel.append(existingFiles);

            // split options (TODO: add description on how this works...)
            var splitOptions = $('<div style="margin-left:20px"><input type="checkbox" id="split-patches-chck" />' +
                    '<label for="split-patches-chck">Split images into tiles:</label><br />' +
                    '<div style="margin-left:20px">' +
                    '<table><thead><tr><th></th><th>Horizontal</th><th>Vertical</th></tr></thead><tbody>' +
                    '<tr><td>Patch size:</td>' +
                    '<td><input type="number" id="patch-size-width" min="16" max="4096" value="800" /></td>' +
                    '<td><input type="number" id="patch-size-height" min="16" max="4096" value="600" /></td></tr>' +
                    '<tr><td>Stride:</td>' +
                    '<td><input type="number" id="patch-stride-width" min="16" max="4096" value="800" /></td>' +
                    '<td><input type="number" id="patch-stride-height" min="16" max="4096" value="600" /></td></tr></tbody></table>' +
                    '<input type="checkbox" id="patch-tight-chck" checked="checked" /><label for="patch-tight-chck">Do not exceed image boundaries</label></div></div>');
                optionsPanel.append(splitOptions);
            var startFileUpload = $('<button class="btn btn-sm btn-primary" id="upload-button">Upload</button>');
            startFileUpload.on('click', function() {
                startUploadFilesFromDisk();
            });
            window.actionPanel_upload.append(startFileUpload);

            $('#actions-panel').append(window.actionPanel_upload);
            $('#upload-mode-select input:radio').on('change', function() {
                if($(this).val() === 'browserUpload') {
                    window.actionPanel_scan.detach();
                    $('#actions-panel').append(window.actionPanel_upload);

                } else if($(this).val() === 'scanDisk') {
                    window.actionPanel_upload.detach();
                    $('#actions-panel').append(window.actionPanel_scan);
                }
                window.imageBrowser.setImages([]);
                window.untrackedFiles = undefined;
                setImageBrowserSize();
            });


            setImageBrowserSize();
            window.showLoadingOverlay(false);
        });
    });
</script>