<div style="height:100%">
    <h2>Images</h2>
    <div id="controls">
        <div>
            <div id="filter-box">
                <h3 id="filter-images-heading" style="cursor:pointer">Filter options</h3>
                <div id="filter-images">
                    <label for="order-by">Order by:</label>
                    <select id="order-by">
                        <option value="filename">file name</option>
                        <option value="date_added">date added</option>
                        <option value="last_viewed">last viewed</option>
                        <option value="num_anno"># annotations</option>
                        <option value="num_pred"># predictions</option>
                        <option value="isgoldenquestion">golden question</option>
                    </select>

                    <select id="order">
                        <option value="desc">descending</option>
                        <option value="asc">ascending</option>
                    </select>

                    <button id="update-image-browser" class="btn btn-sm btn-primary">Update</button>
                </div>
            </div>
        </div>
        <div id="action-box">
            <h3 id="action-box-heading" style="cursor:pointer">Checked images</h3>
            <div id="action-box-contents">
                <div id="action-box-options">
                    <span id="num-checked">0 images checked</span>
                    <label for="action-select" style="margin-left: 20px;">Action:</label>
                    <select id="action-select">
                        <option value="" disabled>Choose:</option>
                        <option value="golden_question_yes">set as golden questions</option>
                        <option value="golden_question_no">unset golden questions</option>
                        <!-- <option value="remove_annotations">remove annotations</option> -->
                        <option value="delete_images">delete</option>
                    </select>
                    <div id="delete-options" style="display:none">
                        <input type="checkbox" id="force-delete" />
                        <label for="force-delete" style="margin-bottom:0">Force delete</label>
                        <span class="warning-span" style="margin-left:20px">Warning: this removes images and all associated annotations and predictions.</span>
                        <input type="checkbox" id="delete-from-disk" />
                        <label for="delete-from-disk" style="margin-bottom:0">Delete images from disk</label>
                        <span class="warning-span">Warning: this action cannot be undone.</span>
                    </div>
                </div>
                <button id="do-action" class="btn btn-sm btn-primary" style="float:right" disabled>OK</button>
                <br />
            </div>
        </div>
    </div>
    <div id="file-browser"></div>
</div>
<link rel="stylesheet" href="/static/dataAdmin/css/imageBrowser.css" />
<style>
    #filter-box, #action-box {
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .warning-span {
        color:red;
        text-overflow: ellipsis;
        max-width: 100%;
        white-space: nowrap;
        display: block;
        overflow: hidden;
    }

    #action-box-options {
        display: inline-block;
        width: calc(100% - 60px);
    }

    #delete-options {
        margin-left: 20px;
    }

    .list-table thead tr th:nth-child(2),
    .list-table tbody tr td:nth-child(2) {
        width: 100px;
        text-align: center;
        word-break: break-all;
    }

    .list-table thead tr th:nth-child(3),
    .list-table tbody tr td:nth-child(3) {
        width: 200px;
        word-break: break-all;
    }

    .list-table thead tr th:nth-child(4),
    .list-table tbody tr td:nth-child(4),
    .list-table thead tr th:nth-child(5),
    .list-table tbody tr td:nth-child(5) {
        width: 180px;
        word-break: break-all;
    }

    .list-table thead tr th:nth-child(6),
    .list-table tbody tr td:nth-child(6),
    .list-table thead tr th:nth-child(7),
    .list-table tbody tr td:nth-child(7) {
        width: 100px;
        word-break: break-all;
    }
</style>
<script src="/static/dataAdmin/js/imageBrowser.js"></script>
<script src="/static/dataAdmin/js/taskPolling.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        // general functions
        function onClickMore(event) {
            updateImageBrowser(false);
        }

        function initializeImageBrowser() {
            var fileBrowserDiv = $('#file-browser');

            //TODO: /files/ ?
            window.imageBrowser = new ImageBrowser(fileBrowserDiv, {
                'baseURL': window.dataServerURI + window.project + '/files/',
                'images': [],
                'showCheckboxes': true,
                'showImages': true,
                'colnames': [
                    {'url': 'File'},
                    {'date_added': 'Added'},
                    {'last_viewed': 'Last viewed'},
                    {'num_anno': '# Anno'},
                    {'num_pred': '# Pred'},
                    {'golden_question': 'Golden question'}
                ]
            });
            window.imageBrowser.setTrailingButton(false,
                                                    true,       //TODO: disabled until "show more" function is properly implemented
                                                    'more...',
                                                    onClickMore);
            window.imageBrowser.on('imageCheck', function(event) {
                _imageBrowser_event(event);
            });
            window.imageBrowser.on('viewChange', function(event) {
                _imageBrowser_event(event);
            });
            $(window).on('resize', function() {
                setImageBrowserSize();
            });
            return updateImageBrowser(true);
        }

        function updateImageBrowser(forceRefresh) {
            // parse filter parameters
            var orderBy = $('#order-by').val();
            var order = $('#order').val();
            params = {
                orderBy: orderBy,
                order: order,
                limit: 100  //TODO
            };

            // keep track of latest value for "show more" button
            if(forceRefresh ||
                window.latestStartingPoint === undefined ||
                window.latestStartingPoint['field'] !== orderBy ||
                window.latestStartingPoint['order'] !== order) {
                // user modified ordering; restart from zero
                window.latestStartingPoint = {
                    field: orderBy,
                    order: order
                }
                if(order === 'asc') {
                    window.latestStartingPoint['val'] = -Number.MAX_VALUE;  //TODO: adapt for non-numeric ordering...
                } else {
                    window.latestStartingPoint['val'] = Number.MAX_VALUE;
                }
            } else {
                // user did not modify ordering; continue
                //TODO: implement server-side-wise
                if(order === 'asc') {
                    params['range'] = {
                        field: orderBy,
                        min: window.latestStartingPoint['val'],
                        max: Number.MAX_VALUE
                    }
                } else {
                    params['range'] = {
                        field: orderBy,
                        min: -Number.MAX_VALUE,
                        max: window.latestStartingPoint['val']
                    }
                }
            }

            function _update_browser_populate(data) {
                // assemble table            
                images = [];
                for(var idx=0; idx<data.length; idx++) {
                    var id = data[idx]['id'];
                    var dateAdded = '';
                    if(data[idx]['date_added'] != undefined && data[idx]['date_added'] != null) {
                        var dateAdded = new Date(data[idx]['date_added']*1000 - 1).toLocaleString();
                    }
                    var lastViewed = '';
                    if(data[idx]['last_viewed'] != undefined && data[idx]['last_viewed'] != null) {
                        var lastViewed = new Date(data[idx]['last_viewed']*1000 - 1).toLocaleString();
                    }
                    images.push({
                        'id': data[idx]['id'],
                        'url': data[idx]['filename'],
                        'date_added': dateAdded,
                        'last_viewed': lastViewed,
                        'num_anno': data[idx]['num_anno'],
                        'num_pred': data[idx]['num_pred'],
                        'golden_question': (data[idx]['isgoldenquestion'] ? 
                                '<img src="/static/interface/img/controls/flag_active.svg" height="16px" />' :
                                '<img src="/static/interface/img/controls/flag.svg" height="16px" />')
                    });
                    
                    if(order === 'asc') {
                        window.latestStartingPoint['val'] = Math.max(window.latestStartingPoint['val'], data[idx][orderBy]);
                    } else {
                        window.latestStartingPoint['val'] = Math.min(window.latestStartingPoint['val'], data[idx][orderBy]);
                    }
                }

                window.imageBrowser.setImages(images);
            }

            return $.ajax({
                url: 'listImages',
                method: 'POST',
                data: JSON.stringify(params),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    // set interval for result polling
                    var taskID = data['response'];
                    poll_status(taskID, _update_browser_populate, undefined, 1000);
                },
                error: function(data) {
                    console.log('ERROR:');
                    console.log(data);
                }
            });
        }

        function executeAction() {
            var checked = window.imageBrowser.getChecked();
            if(checked.length === 0) return;
            
            var data = undefined;
            var url = undefined;
            var action = $('#action-select').val();
            if(action === 'golden_question_yes') {
                data = {};
                for(var i=0; i<checked.length; i++) {
                    var id = checked[i].id;
                    data[id] = 1;
                }
                data = {'goldenQuestions': data};
                url = 'setGoldenQuestions';

            } else if(action === 'golden_question_no') {
                data = {};
                for(var i=0; i<checked.length; i++) {
                    var id = checked[i].id;
                    data[id] = 0;
                }
                data = {'goldenQuestions': data};
                url = 'setGoldenQuestions';

            } else if(action === 'remove_annotations') {
                error('Not yet supported.');

            } else if(action === 'delete_images') {
                //TODO: show confirmation dialog
                var imgs_del = [];
                for(var i=0; i<checked.length; i++) {
                    imgs_del.push(checked[i].id);
                }
                data = {
                    'images': imgs_del,
                    'forceRemove': $('#force-delete').prop('checked'),
                    'deleteFromDisk': $('#delete-from-disk').prop('checked')
                };
                url = 'removeImages';
            }

            if(data === undefined || url === undefined) return;

            // execute
            $.ajax({
                url: url,
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(response) {
                    console.log(response);  //TODO: show pane, then reload image browser
                    updateImageBrowser(true);
                },
                error: function(response) {
                    console.log('error:');   //TODO: show pane
                    console.log(response);
                }
            })
        }

        function _imageBrowser_event(event) {
            var checked = window.imageBrowser.getChecked();
            var suffix = (checked.length===1? ' image checked' : ' images checked');
            $('#num-checked').html(checked.length + suffix);
            var disableActions = (checked.length === 0);
            $('#action-select').prop('disabled', disableActions);
            $('#do-action').prop('disabled', disableActions);
        }

        function setImageBrowserSize() {
            var height = $('#contents').height() - $('#controls').outerHeight() -
                            $('.image-browser-view-buttons').outerHeight() - 60;    // -60 for header and margins
            $('.list-container').css('height', height);
            $('.thumbs-container').css('height', height);
        }

        // get data server URI
        var promise = $.get('getProjectSettings', function(data) {
            window.dataServerURI = data['settings']['dataServerURI'];
            if(!window.dataServerURI.endsWith('/')) {
                window.dataServerURI += '/';
            }
        });

        promise = promise.done(function() {
            $('#update-image-browser').click(function() {
                updateImageBrowser(true);
            });
            $('#action-select').on('change', function() {
                if($(this).val() === 'delete_images') {
                    // show extra options
                    $('#delete-options').show();
                    $('#do-action').addClass('btn-danger');
                } else {
                    $('#delete-options').hide();
                    $('#do-action').removeClass('btn-danger');
                }
            });
            $('#do-action').click(function() {
                executeAction();
            });

            // load initial image data
            return initializeImageBrowser();
        });

        promise.done(function() {

            $('#filter-images-heading').click(function() {
                $('#filter-images').slideToggle({
                        done: function() {
                        setImageBrowserSize();
                    }
                })
            });
            $('#action-box-heading').click(function() {
                $('#action-box-contents').slideToggle({
                        done: function() {
                        setImageBrowserSize();
                    }
                })
            });

            setImageBrowserSize();
            window.showLoadingOverlay(false);
        });
    });

</script>