<div>
    <h2>Data download</h2>
    <div class="option-box">
        <label for="data-type">Data type:</label>
        <select id="data-type">
            <option value="annotation">User annotations</option>
            <option value="prediction">Model predictions</option>
        </select>
        <br />

        <input type="checkbox" id="enable-date-range" />
        <label for="enable-date-range">Limit to date and time range:</label>
        <div id="date-range" style="display:none">
            <label for="date-start">From:</label>
            <input type="text" id="date-start" style="width:150px" />
            <label for="date-end">To:</label>
            <input type="text" id="date-end" style="width:150px" />
        </div>
        <br />
        
        <input type="checkbox" id="enable-users-list" />
        <label for="enable-users-list">Limit to specific users:</label>
        <table id="users-table" style="display:none">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all-users" /></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody id="users-list"></tbody>
        </table>
    </div>
    <button class="btn btn-sm btn-primary" id="request-download">Request Download</button>
    <br />

    <div id="result-box">
        <h3>Downloads</h3>
        <table id="downloads-table">
            <thead>
                <tr>
                    <th>Date created</th>
                    <th>File link</th>
                </tr>
            </thead>
            <tbody id="download-body"></tbody>
        </table>
    </div>
</div>
<link rel="stylesheet" href="/static/general/libs/datetimepicker/jquery.datetimepicker.css" />
<style>
    .option-box {
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }

    #result-box {
        margin-top: 30px;
    }

    table {
        width: 100%;
        border: 1px solid #aaa;
        height: 200px;
        min-height: 200px;
    }

    thead {
        display: block;
        background-color:#606060;
        font-weight: bold;
    }

    #downloads-table thead tr th:first-child,
    #downloads-table tbody tr td:first-child {
        width: 200px;
        word-break: break-all;
    }

    tbody {
        display: block;
        height: calc(100% - 26px);
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<script type="text/javascript" src="/static/general/libs/datetimepicker/jquery.datetimepicker.js"></script>
<script src="/static/dataAdmin/js/taskPolling.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        if(typeof ProgressBar === 'undefined') {
            $.getScript('/static/general/js/progressbar.js');
        }

        function _setDownloadEntry(data, taskID) {
            var msgCell = $($('#'+taskID).find('.file-message')[0]);
            if(typeof data === 'string') {
                // download link sent
                msgCell.empty();
                msgCell.append($('<a href="downloadData/'+data+'" target="_blank">'+data+'</a>'));

            } else if(data.hasOwnProperty('status') && data['status'] === 'FAILURE') {
                // error
                var message = '(an unknown error occurred)';
                if(data.hasOwnProperty('meta') && data['meta'].hasOwnProperty('message')) {
                    message = '(' + data['meta']['message'] + ')';
                }
                msgCell.empty();
                msgCell.append($('<span style="color:red">failed ' + message + '</span>'));
            }
        }

        function requestDownload() {
            // parse parameters
            var params = {
                dataType: $('#data-type').val()
            };
            if($('#enable-date-range').prop('checked')) {
                var startDate = Date.parse($('#date-start').val());
                var endDate = Date.parse($('#date-end').val());
                params['dateRange'] = {
                    start: startDate,
                    end: endDate
                }
            }
            if($('#enable-users-list').prop('checked')) {
                var usersList = [];
                $.each($('#users-list').children(), function() {
                    let chckbx = $('#'+$(this).attr('id')+'__select');
                    if(chckbx.prop('checked')) {
                        usersList.push($(this).attr('id'));
                    }
                });
                params['users'] = usersList;
            }

            // make request
            $.ajax({
                url: 'requestDownload',
                method: 'POST',
                data: JSON.stringify(params),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    var taskID = data['response'];

                    // setup markup
                    var markup = $('<tr id="' + taskID + '"></tr>');
                    markup.append($('<td>' + new Date().toLocaleString() + '</td>'));
                    var msgCell = $('<td class="file-message"></td>');
                    var pb = new ProgressBar(true, 100, 100, true);
                    msgCell.append(pb.getMarkup());
                    markup.append(msgCell);
                    $('#download-body').append(markup);

                    // set interval for result polling
                    poll_status(taskID, function(data) {
                        _setDownloadEntry(data, taskID);
                    },
                    function(data) {
                        _setDownloadEntry(data, taskID);
                    }, 1000);
                },
                error: function(data) {
                    console.error(data);
                    // append error row
                    var markup = $('<tr id="' + taskID + '"></tr>');
                    markup.append($('<td>' + new Date().toLocaleString() + '</td>'));
                    var msgCell = $('<td class="file-message"><span style="color:red">failed (an unknown error occurred)</span></td>');
                    var pb = new ProgressBar(true, 100, 100, true);
                    msgCell.append(pb.getMarkup());
                    markup.append(msgCell);
                    $('#download-body').append(markup);
                }
            })
        }

        
        // get data server URI
        var promise = $.get('getProjectSettings', function(data) {
            window.dataServerURI = data['settings']['dataServerURI'];
            if(!window.dataServerURI.endsWith('/')) {
                window.dataServerURI += '/';
            }
        });

        // load users list
        let uList = $('#users-list');
        promise = promise.done(function() {
            return $.ajax({
                url: 'getUsers',
                method: 'GET',
                success: function(data) {
                    if(data.hasOwnProperty('users')) {
                        for(var i=0; i<data['users'].length; i++) {
                            let uName = data['users'][i]['username'];
                            var uName_vis = uName;
                            var markup = $('<tr id="'+uName+'"></tr>');
                            var checkbox = $('<input type="checkbox" id="'+uName+'__select" />');
                            markup.append($('<td></td>').append(checkbox));
                            markup.append($('<td>'+uName_vis+'</td>'));
                            uList.append(markup);
                        }
                    }
                },
                error: function(data) {
                    console.log('ERROR:')
                    console.log(data);
                }
            });
        });

        var now = new Date();
        $('#date-start').datetimepicker({
            maxDateTime: now
        });
        $('#date-end').datetimepicker({
            startDate: now,
            maxDateTime: now
        });

        $('#enable-date-range').click(function() {
            if($(this).prop('checked')) {
                $('#date-range').show();
            } else {
                $('#date-range').hide();
            }
        });

        $('#enable-users-list').click(function() {
            if($(this).prop('checked')) {
                $('#users-table').show();
            } else {
                $('#users-table').hide();
            }
        });

        $('#select-all-users').click(function() {
            let isChecked = $(this).prop('checked');
            $.each(uList.children(), function() {
                let chckbx = $('#'+$(this).attr('id')+'__select');
                chckbx.prop('checked', isChecked);
            });
        });

        $('#request-download').click(function() {
            requestDownload();
        });

        window.showLoadingOverlay(false);
    });
</script>