<!-- 2020-22 Benjamin Kellenberger -->
<div>
    <h2>Data download</h2>
    <div class="option-box">
        <table>
            <tr>
                <td>Data type:</td>
                <td>
                    <select id="data-type">
                        <option value="annotation">User annotations</option>
                        <option value="prediction">Model predictions</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Export format:</td>
                <td>
                    <select id="export-format"></select>
                </td>
            </tr>
        </table>

        <div style="margin-left:20px">
            <h3>Format info</h3>
            <div id="export-format-info">(none)</div>
        </div>

        <!-- <label for="data-type">Data type:</label>
        <select id="data-type">
            <option value="annotation">User annotations</option>
            <option value="prediction">Model predictions</option>
        </select>
        <br /> -->

        <input type="checkbox" id="enable-date-range" />
        <label for="enable-date-range">Limit to date and time range:</label>
        <div id="date-range" style="display:none">
            <label for="date-start">From:</label>
            <input type="text" id="date-start" style="width:150px" />
            <label for="date-end">To:</label>
            <input type="text" id="date-end" style="width:150px" />
        </div>
        <br />
        
        <input type="checkbox" id="enable-authors-list" />
        <label for="enable-authors-list" id="enable-authors-list-label">Limit to specific users:</label>
        <table id="users-table" class="authors-table" style="display:none">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all-users" /></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody id="users-list"></tbody>
        </table>
        <table id="models-table" class="authors-table" style="display:none">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all-models" /></th>
                    <th>Date</th>
                    <th>Model</th>
                    <th>Author</th>
                    <th># predictions</th>
                </tr>
            </thead>
            <tbody id="models-list"></tbody>
        </table>
        <br />
        <input type="checkbox" id="ignore-imported" checked="checked" />
        <label for="ignore-imported">Ignore imported (non user-/model-created) annotations</label>

        <div id="custom-parser-options-container" style="display:none">
            <h3>Format options</h3>
            <div id="custom-parser-options" style="margin-left:20px"></div>
        </div>

        <!-- <div>Include extra fields:</div>
        <input type="checkbox" id="field-browser-meta" />
        <label for="field-browser-meta">Browser metadata</label>

        <br />

        <div id="segmentation-options" style="display:none">
            <span>Segmentation mask file name:</span>
            <select id="segmask-filename">
                <option value="filename">Image file name</option>
                <option value="id">Image UUID</option>
            </select>
            <br />
            <div>Customize file name:</div>
            <table id="segmask-filename-modifier-fields">
                <tr>
                    <td>Prefix:</td>
                    <td><input type="text" id="segmask-filename-prefix" /></td>
                </tr>
                <tr>
                    <td>Suffix:</td>
                    <td><input type="text" id="segmask-filename-suffix" /></td>
                </tr>
            </table>
            <span>Preview:</span> <span id="segmask-filename-preview" style="font-family:monospace"></span>
            <br />

            <span>Color encoding for segmentation masks:</span>
            <select id="segmask-encoding">
                <option value="rgb">RGB colors</option>
                <option value="indexed">Indexed colors</option>
            </select>
            <div style="font-style:italic">
                "RGB colors" assigns triplets of 8-bit color values to pixels according to the settings per label class,
                or else with random, default colors if unspecified (example for color red: 255, 0, 0).<br />
                "Indexed colors" assigns the label classes' actual index number to the pixels and defines their colors
                in a lookup table. These images are easier to parse, but may not render properly in conventional image viewers.
            </div>
        </div> -->
    </div>
    <button class="btn btn-sm btn-primary" id="request-download">Request Download</button>
    <br />

    <div id="result-box">
        <h3>Downloads</h3>
        <table id="downloads-table">
            <thead>
                <tr>
                    <th>Date created</th>
                    <th>File link</th>
                </tr>
            </thead>
            <tbody id="download-body"></tbody>
        </table>
    </div>
</div>
<link rel="stylesheet" href="/static/general/libs/datetimepicker/jquery.datetimepicker.css?v={{ version }}" />
<style>
    .option-box {
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }

    #result-box {
        margin-top: 30px;
    }

    .authors-table {
        border: 1px solid #aaa;
    }

    #downloads-table {
        width: 100%;
        border: 1px solid #aaa;
        height: 200px;
        min-height: 200px;
    }

    #downloads-table thead, .authors-table thead {
        display: block;
        background-color:#606060;
        font-weight: bold;
    }

    #downloads-table thead tr th:first-child,
    #downloads-table tbody tr td:first-child {
        width: 200px;
        word-break: break-all;
    }

    #downloads-table tbody {
        display: block;
        height: calc(100% - 26px);
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<script type="text/javascript" src="/static/general/libs/datetimepicker/jquery.datetimepicker.js?v={{ version }}"></script>
<script src="/static/dataAdmin/js/taskPolling.js?v={{ version }}"></script>
<script type="text/javascript">

    window.save = undefined;

    $(document).ready(function() {
        if(typeof(ProgressBar) === 'undefined') {
            $.getScript('/static/general/js/progressbar.js');
        }

        let FILENAMES_PROHIBITED_CHARS = [
            '&lt;',
            '<',
            '>',
            '&gt;',
            '..',
            '/',
            '\\',
            '|',
            '?',
            '*',
            ':'    // for macOS
        ];

        function updateSegmaskNamePreview() {
            let nameType = $('#segmask-filename').val();
            let prefix = $('#segmask-filename-prefix').val();
            let suffix = $('#segmask-filename-suffix').val();
            let previewField = $('#segmask-filename-preview');
            
            for(var c=0; c<FILENAMES_PROHIBITED_CHARS.length; c++) {
                prefix = prefix.replace(FILENAMES_PROHIBITED_CHARS[c], '_');
                suffix = suffix.replace(FILENAMES_PROHIBITED_CHARS[c], '_');
            }

            if(nameType === 'id') {
                previewField.html(prefix+'7f64f1d0-8801-4bdc-8123-87135a5763f1'+suffix+'.tif');
            } else {
                previewField.html('example/path/'+prefix+'imageName'+suffix+'.tif');
            }
        }

        function _setDownloadEntry(data, taskID) {
            var msgCell = $($('#'+taskID).find('.file-message')[0]);
            if(typeof(data) === 'string') {
                // download link sent
                let href = window.baseURL + 'downloadData/' + data;
                msgCell.empty();
                msgCell.append($('<a href="' + href + '" target="_blank">'+data+'</a>'));
                window.messager.addMessage('Download is ready.', 'success');

            } else if(data.hasOwnProperty('status') && data['status'] === 'FAILURE') {
                // error
                let message = '(an unknown error occurred)';
                let popupMessage = 'Could not prepare download.';
                if(data.hasOwnProperty('meta') && data['meta'].hasOwnProperty('message')) {
                    message = '(' + data['meta']['message'] + ')';
                    popupMessage = 'Could not prepare download ' + message + '.';
                }
                msgCell.empty();
                msgCell.append($('<span style="color:red">failed ' + message + '</span>'));

                window.messager.addMessage(popupMessage, 'error', 0);
            }
        }

        function requestDownload(params) {
            if(params === undefined) {
                // parse parameters
                let dataType = $('#data-type').val();
                params = {
                    exportFormat: $('#export-format').val(),
                    dataType: dataType,
                    ignoreImported: $('#ignore-imported').prop('checked')
                };
                if($('#enable-date-range').prop('checked')) {
                    var startDate = Date.parse($('#date-start').val());
                    var endDate = Date.parse($('#date-end').val());
                    params['dateRange'] = {
                        start: startDate,
                        end: endDate
                    }
                }
                if($('#enable-authors-list').prop('checked')) {
                    let authorList = [];
                    let listID = (dataType === 'annotation') ? '#users-list' : '#models-list';
                    $.each($(listID).children(), function() {
                        let chckbx = $('#'+$(this).attr('id')+'__select');
                        if(chckbx.prop('checked')) {
                            authorList.push($(this).attr('id'));
                        }
                    });
                    params['authorList'] = authorList;
                }

                // parser-specific arguments
                let parserKwargs = {};
                $('#custom-parser-options').find(':input').each(function() {
                    let id = $(this).attr('id');
                    let checked = $(this).prop('checked');
                    if(checked !== undefined) {
                        parserKwargs[id] = checked;
                    } else {
                        let value = $(this).val();
                        if(val !== undefined) {
                            parserKwargs[id] = val;
                        }
                    }
                });
                params['parserArgs'] = parserKwargs;
            }

            // // additional query fields
            // params['extra_fields'] = {
            //     'meta': $('#field-browser-meta').prop('checked')
            // }

            // // extra parameters for segmentation masks
            // if(window.annotationType === 'segmentationMasks') {
            //     params['segmask_encoding'] = $('#segmask-encoding').val();
            //     params['segmask_filename'] = {
            //         'baseName': $('#segmask-filename').val(),
            //         'prefix': $('#segmask-filename-prefix').val(),
            //         'suffix': $('#segmask-filename-suffix').val()
            //     };
            // }

            // make request
            return $.ajax({
                url: window.baseURL + 'requestAnnotations',
                method: 'POST',
                data: JSON.stringify(params),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    var taskID = data['response'];

                    // setup markup
                    var markup = $('<tr id="' + taskID + '"></tr>');
                    markup.append($('<td>' + new Date().toLocaleString() + '</td>'));
                    var msgCell = $('<td class="file-message"></td>');
                    var pb = new ProgressBar(true, 100, 100, true);
                    msgCell.append(pb.getMarkup());
                    markup.append(msgCell);
                    $('#download-body').append(markup);

                    // set interval for result polling
                    poll_status(taskID, function(data) {
                        _setDownloadEntry(data, taskID);
                    },
                    function(data) {
                        _setDownloadEntry(data, taskID);
                    }, undefined, 1000);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    // append error row
                    var markup = $('<tr></tr>');
                    markup.append($('<td>' + new Date().toLocaleString() + '</td>'));
                    var msgCell = $('<td class="file-message"><span style="color:red">failed (an unknown error occurred)</span></td>');
                    var pb = new ProgressBar(true, 100, 100, true);
                    msgCell.append(pb.getMarkup());
                    markup.append(msgCell);
                    $('#download-body').append(markup);
                    window.messager.addMessage('An error occurred while processing download request (message: "'+error+'").', 'error', 0);
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return requestDownload(params);
                        });
                    }
                }
            })
        }

        
        // get data server URI
        var promise = $.get(window.baseURL + 'getProjectSettings', function(data) {
            window.dataServerURI = data['settings']['dataServerURI'];
            if(!window.dataServerURI.endsWith('/')) {
                window.dataServerURI += '/';
            }
        });

        // load users and model states list
        function _loadUsers() {
            let uList = $('#users-list');
            return $.ajax({
                url: window.baseURL + 'getUsers',
                method: 'GET',
                success: function(data) {
                    if(data.hasOwnProperty('users')) {
                        for(var i=0; i<data['users'].length; i++) {
                            let uName = data['users'][i]['username'];
                            var uName_vis = uName;
                            var markup = $('<tr id="'+uName+'"></tr>');
                            var checkbox = $('<input type="checkbox" id="'+uName+'__select" />');
                            markup.append($('<td></td>').append(checkbox));
                            markup.append($('<td>'+uName_vis+'</td>'));
                            uList.append(markup);
                        }
                    }
                },
                error: function(xhr, status, error) {
                    console.error(data);
                    window.messager.addMessage('Users could not be loaded (message: "'+error+'").', 'error', 0);
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return _loadUsers();
                        });
                    }
                }
            });
        }
        function _loadModels() {
            let mList = $('#models-list');
            return $.ajax({
                url: window.baseURL + 'listModelStates',
                method: 'GET',
                success: function(data) {
                    modelsProject = data['modelStates'];
                    for(var m=0; m<modelsProject.length; m++) {
                        let model = modelsProject[m];
                        let mid = model['id'];
                        let markup = $('<tr id="' + mid + '"></tr>');
                        markup.append($('<td><input type="checkbox" id="'+mid+'__select" /></td>'));
                        markup.append($('<td>' + new Date(model['time_created']*1000).toLocaleString() + '</td>'));
                        markup.append($('<td>' + model['model_library']['name'] + '</td>'));
                        markup.append($('<td>' + model['model_library']['author'] + '</td>'));
                        markup.append($('<td>' + model['num_pred'] + '</td>'));
                        mList.append(markup);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(data);
                    window.messager.addMessage('Models could not be loaded (message: "'+error+'").', 'error', 0);
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return _loadModels();
                        });
                    }
                }
            });
        }
        function _loadParsers() {
            return $.ajax({
                url: window.baseURL + 'getSupportedAnnotationFormats?method=export',
                method: 'GET',
                success: function(data) {
                    window.formats = data['formats'];

                    // populate select dropdown menu
                    updateAvailableParsers();
                },
                error: function(xhr, status, error) {
                    console.error(data);
                    window.messager.addMessage('Supported data formats could not be loaded (message: "'+error+'").', 'error', 0);
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return _loadParsers();
                        });
                    }
                }
            });
        }
        promise = promise.done(function() {
            return Promise.all([_loadUsers(), _loadModels(), _loadParsers()]);
        });

        let now = new Date();
        $('#date-start').datetimepicker({
            maxDateTime: now
        });
        $('#date-end').datetimepicker({
            startDate: now,
            maxDateTime: now
        });

        $('#enable-date-range').click(function() {
            if($(this).prop('checked')) {
                $('#date-range').show();
            } else {
                $('#date-range').hide();
            }
        });

        $('#data-type').on('input', function() {
            let authorsListEnabled = $('#enable-authors-list').prop('checked') ? 'block' : 'none';
            if($(this).val() === 'annotation') {
                $('#enable-authors-list-label').html('Limit to specific users:');
                $('#users-table').css('display', authorsListEnabled);
                $('#models-table').hide();
            } else {
                $('#enable-authors-list-label').html('Limit to specific models:');
                $('#users-table').hide();
                $('#models-table').css('display', authorsListEnabled);
            }
        });

        $('#enable-authors-list').click(function() {
            if($(this).prop('checked')) {
                let dataType = $('#data-type').val();
                if(dataType === 'annotation') {
                    $('#users-table').show();
                    $('#models-table').hide();
                } else {
                    $('#users-table').hide();
                    $('#models-table').show();
                }
                
            } else {
                $('#users-table').hide();
            }
        });

        $('#select-all-users').click(function() {
            let isChecked = $(this).prop('checked');
            let uList = $('#users-list');
            $.each(uList.children(), function() {
                let chckbx = $('#'+$(this).attr('id')+'__select');
                chckbx.prop('checked', isChecked);
            });
        });
        $('#select-all-models').click(function() {
            let isChecked = $(this).prop('checked');
            let mList = $('#models-list');
            $.each(mList.children(), function() {
                let chckbx = $('#'+$(this).attr('id')+'__select');
                chckbx.prop('checked', isChecked);
            });
        });

        // handle available parsers and their custom options
        function updateAvailableParsers() {
            let exportFormatSel = $('#export-format');
            exportFormatSel.empty();
            let dataType = $('#data-type').val();
            for(var fkey in window.formats[dataType]) {
                let fspec = window.formats[dataType][fkey];
                let option = $('<option value="' + fkey + '">' + fspec['name'] + '</option>');
                exportFormatSel.append(option);
            }
            setSelectedParser();
        }
        function setSelectedParser() {
            let dataType = $('#data-type').val();
            let parserKey = $('#export-format').val();
            $('#export-format-info').html(window.formats[dataType][parserKey]['info']);
            let parserOptions = window.formats[dataType][parserKey]['options'];
            if(parserOptions !== undefined && parserOptions !== null && parserOptions.length > 0) {
                $('#custom-parser-options').append($(parserOptions));
                $('#custom-parser-options-container').show();
            } else {
                $('#custom-parser-options').empty();
                $('#custom-parser-options-container').hide();
            }
        }
        $('#export-format').on('input', function() {
            setSelectedParser();
        });

        // enable extra settings for certain annotation types
        var promise = $.ajax({
            url: window.baseURL + 'getProjectImmutables',
            method: 'GET',
            success: function(data) {
                data = data['immutables'];
                window.annotationType = data['annotationType'];
                window.predictionType = data['predictionType'];
                if(window.annotationType === 'segmentationMasks') {
                    // advanced options for segmentation masks
                    $('#segmentation-options').show();
                    $('#segmask-filename').on('input', function() {
                        updateSegmaskNamePreview();
                    });
                    $('#segmask-filename-modifier-fields').find('input').each(function() {
                        $(this).on('input', function() {
                            updateSegmaskNamePreview();
                        });
                    });
                    updateSegmaskNamePreview();
                }
            }
        });

        promise.done(function() {
            $('#request-download').click(function() {
                requestDownload();
            });

            window.showLoadingOverlay(false);
        });
    });
</script>