<div style="height:calc(100% - 65px)">
    <h2>Model Marketplace</h2>
    
    <div id="marketplace-container" style="height:100%">
        <div class="selection-buttons" class="btn-group btn-group-toggle" role="group" aria-label="Model source" data-toggle="buttons">
            <button id="marketplace-button" class="btn btn-sm btn-secondary">Marketplace</button>
            <button id="projectmodels-button" class="btn btn-sm btn-secondary">Project models</button>
            <!-- <button id="upload-button" class="btn btn-sm btn-secondary">Upload from disk</button>
            <button id="webimport-button" class="btn btn-sm btn-secondary">Web import</button> -->
        </div>

        <!-- marketplace models table -->
        <div class="table-container" id="modelmarketplace-container">
            <div class="option-box">
                <h3 id="marketplace-search-header">Search and filter</h3>
                <div id="marketplace-search-body">
                    <label for="marketplace-search-keyword">Keyword:</label>
                    <input type="text" id="marketplace-search-keyword" />
                    <br />

                    <span>Model type:</span>
                    <div id="marketplace-search-modeltype"></div>
                </div>
            </div>
            <div class="flex-container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Author</th>
                            <th>Shared</th>
                            <th>Source project</th>
                            <th>Model</th>
                            <th>Time created</th>
                            <th>No. classes</th>
                        </tr>
                    </thead>
                    <tbody id="marketplace-models-tbody"></tbody>
                </table>

                <!-- selected model info -->
                <div class="info-container">
                    <div id="no-model-selected-marketplace">
                        No model selected.
                    </div>
                    <div id="selected-model-info-marketplace" style="display:none">
                        <h3>Selected model</h3>
                        <div>Name:</div>
                        <div class="info-field" id="marketplace-info-name"></div>
                        <div>Description:</div>
                        <div class="info-field" id="marketplace-info-description"></div>
                        <div>Author:</div>
                        <div class="info-field" id="marketplace-info-author"></div>
                        <div>Label classes:</div>
                        <div class="info-field" id="marketplace-info-labelclasses"></div>
                        <div>Tags:</div>
                        <div class="info-field" id="marketplace-info-tags"></div>
                        <!-- TODO: more -->

                        <span id="marketplace-model-type-disclaimer" style="font-style:italic"></span>
                        <br />

                        <!-- control buttons -->
                        <div>
                            <button class="btn btn-danger" id="marketplace-model-remove" style="display:none">Remove from Marketplace</button>
                            <button class="btn btn-warning" id="marketplace-model-reshare" style="display:none">Re-share on Marketplace</button>
                            <button class="btn btn-primary" id="marketplace-model-select" style="display:none">Add to Project</button>
                            <!-- <button class="btn btn-primary" id="marketplace-model-share">Download</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- project-specific models table -->
        <div class="table-container" id="projectmodels-container" style="display:none">
            <!-- TODO: sort, search, filter -->
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Model</th>
                        <th>Time created</th>
                        <th>No. predictions</th>
                        <th>Shared</th>
                    </tr>
                </thead>
                <tbody id="project-models-tbody"></tbody>
            </table>

            <!-- selected model info -->
            <div class="info-container">
                <div id="no-model-selected-project">
                    No model selected.
                </div>
                <div id="selected-model-info-project" style="display:none">
                    <h3>Selected model</h3>
                    <div>Name:</div>
                    <input type="text" id="project-info-name"></input>
                    <div>Description:</div>
                    <textarea id="project-info-description"></textarea>
                    <br />
                    <div>Tags:</div>
                    <p style="font-style:italic">Tags allow users to find your model more easily on the Marketplace.</p>
                    <input type="text" id="project-info-add-tag"></input>
                    <button id="project-info-add-tag-button" class="btn btn-sm btn-primary">+ add</button>
                    <div class="info-field" id="project-info-tags" style="min-height:54px"></div>
                    <br />
                    <label for="project-model-share-public">Share with:</label>
                    <select id="project-model-share-public">
                        <option value="everyone">Everyone</option>
                        <option value="projects">My own projects only</option>
                    </select>
                    <br />
                    <input type="checkbox" id="project-model-share-anonymous" />
                    <label for="project-model-share-anonymous">Anonymous (hide author name and project information)</label>
                    
                    <!-- control buttons -->
                    <div>
                        <button class="btn btn-primary" id="project-model-share">Share on Marketplace</button>
                        <button class="btn btn-danger" id="project-model-unshare" style="display:none">Remove from Marketplace</button>
                        <button class="btn btn-warning" id="project-model-reshare" style="display:none">Re-share on Marketplace</button>
                        <!-- <button class="btn btn-primary" id="project-model-download">Download</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/static/statistics/libs/chartjs/Chart.min.css?v={{ version }}" />
<link rel="stylesheet" href="config/static/libs/jqtree/jqtree_custom.css?v={{ version }}" />
<script src="config/static/libs/jqtree/tree.jquery.js?v={{ version }}"></script>
<style>
    #options-container {
        margin-bottom: 5px;
    }

    .option-box {
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .info-field {
        margin: 10px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        background: #aaaaaa;
        font-weight: bold;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    table {
        display: inline-block;
        height: 90%;
        max-height: 90%;
        border: 1px solid #aaa;
        margin-right: 20px;
        flex-grow: 1;
        min-width: 550px;
    }

    thead {
        background: #5f5f5f;
        font-weight: bold;
    }

    tbody {
        overflow-x: hidden;
        overflow-y: auto;
    }

    thead, tbody {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }

    td, th {
        padding-right: 5px;
    }

    .tr-highlighted {
        font-weight: bold;
        background: #AAAAAA;
    }

    tbody tr {
        cursor: pointer;
    }

    .info-container {
        flex-grow: 2;
        width: 400px;
    }

    .tag {
        display: inline;
        background: #5a5a5a;
        color: white;
        padding: 8px 12px 8px 12px;
        border-radius: 5px;
        margin: 5px;
        font-weight: normal;
    }
    .tag > button {
        margin-left: 5px;
        border-radius: 50px;
    }
</style>
<script src="/static/statistics/libs/chartjs/Chart.min.js?v={{ version }}"></script>
<script type="text/javascript">

    let availableAImodels = {};
    let modelsMarketplace = {};
    let modelsProject = [];
    let modelsMarketplaceMarkups = [];
    let modelsProjectMarkups = [];
    let selectedModel_id_marketplace = null;
    let selectedModel_id_project = null;


    function getAvailableAImodels() {
        return $.ajax({
            url: 'getAvailableAImodels',
            method: 'GET',
            success: function(data) {
                availableAImodels = data['models']['prediction'];

                // populate filter table as well
                let filterTable = $('#marketplace-search-modeltype');
                filterTable.empty();
                for(var key in availableAImodels) {
                    let entry = $('<div id="modeltype_'+key+'"></div>');
                    entry.append($('<input type="checkbox" checked />'));
                    entry.append($('<span>'+availableAImodels[key]['name']+'</span>'));
                    filterTable.append(entry);
                }
            },
            error: function(xhr, status, error) {
                var promise = window.renewSessionRequest(xhr);
                promise = promise.done(function() {
                    return getAvailableAImodels();
                });
                return promise;
            }
        });
    }

    function getModelsMarketplace() {
        let marketplaceTbody = $('#marketplace-models-tbody');
        return $.ajax({
            url: 'getModelsMarketplace',
            method: 'GET',
            success: function(data) {
                modelsMarketplace = data['modelStates'];

                // populate table
                marketplaceTbody.empty();
                modelsMarketplaceMarkups = [];
                for(var mID in modelsMarketplace) {
                    let model = modelsMarketplace[mID];
                    let author = (typeof(model['author']) === 'string' ? model['author'] : '(anonymous)');
                    let originProject = (typeof(model['projectname']) === 'string' ? model['projectname'] : '(anonymous)');
                    if(!availableAImodels.hasOwnProperty(model['model_library'])) {
                        continue;
                    }
                    let modelLibrary = availableAImodels[model['model_library']]['name'];
                    let timeCreated = new Date(model['time_created'] * 1000).toLocaleString();
                    let no_classes = '(unknown)';
                    try {
                        let classdef = JSON.parse(model['labelclasses']);
                        no_classes = classdef['numClasses'];
                    } catch {}
                    let shared = (model['shared'] ? '<img src="/static/general/img/success.svg" />' : '<img src="/static/general/img/error.svg" />');
                    let markup = $('<tr id="modelMarketplace_' + mID + '">' +
                        '<td>' + model['name'] + '</td>' +
                        '<td>' + author + '</td>' +
                        '<td>' + shared + '</td>' +
                        '<td>' + originProject + '</td>' +
                        '<td>' + modelLibrary + '</td>' +
                        '<td>' + timeCreated + '</td>' +
                        '<td>' + no_classes + '</td>' +
                        '</tr>');
                    
                    // click handler
                    markup.on('click', function() {
                        for(var i=0; i<modelsMarketplaceMarkups.length; i++) {
                            modelsMarketplaceMarkups[i].removeClass('tr-highlighted');
                        }
                        let selID = $(this).attr('id').split('_')[1];
                        if(selID === selectedModel_id_marketplace) {
                            // deselect
                            selectedModel_id_marketplace = null;
                            markup.removeClass('tr-highlighted');
                            $('#no-model-selected-marketplace').show();
                            $('#selected-model-info-marketplace').hide();
                            return;
                        }
                        selectedModel_id_marketplace = selID;
                        let selectedModel = modelsMarketplace[selID];
                        let author = (typeof(selectedModel['author']) === 'string' ? selectedModel['author'] : '(anonymous)');
                        let timeCreated = new Date(model['time_created'] * 1000).toLocaleString();
                        markup.addClass('tr-highlighted');

                        // populate info panel
                        $('#marketplace-info-name').html(selectedModel['name']);
                        $('#marketplace-info-description').html(selectedModel['description']);
                        $('#marketplace-info-author').html(author);
                        parseLabelclassDefinition(selectedModel['labelclasses']);

                        let tagsDiv = $('#marketplace-info-tags');
                        tagsDiv.empty();
                        let tags = selectedModel['tags'];
                        if(typeof(tags) === 'string' && tags.length > 0) {
                            tags = tags.split(';;');
                            for(var t=0; t<tags.length; t++) {
                                tagsDiv.append($('<span class="tag">'+tags[t]+'</span>'));
                            }
                        }

                        // buttons for actions
                        if(selectedModel['is_owner']) {
                            $('#marketplace-model-select').hide();
                            if(selectedModel['shared']) {
                                $('#marketplace-model-type-disclaimer').html('You are the author of this model and have shared it on '+ timeCreated + '.');
                                $('#marketplace-model-remove').show();
                                $('#marketplace-model-reshare').hide();
                            } else {
                                $('#marketplace-model-type-disclaimer').html('You had shared this model on '+ timeCreated + ', but have hidden it from the marketplace again.');
                                $('#marketplace-model-remove').hide();
                                $('#marketplace-model-reshare').show();
                            }
                            
                        } else {
                            $('#marketplace-model-type-disclaimer').html('You can import this model to your project.');
                            $('#marketplace-model-select').show();
                            $('#marketplace-model-remove').hide();
                        }
                        $('#no-model-selected-marketplace').hide();
                        $('#selected-model-info-marketplace').show();
                    });
                    marketplaceTbody.append(markup);
                    modelsMarketplaceMarkups.push(markup);
                }
            },
            error: function(xhr, status, error) {
                var promise = window.renewSessionRequest(xhr);
                promise = promise.done(function() {
                    return getModelsMarketplace();
                });
                return promise;
            }
        });
    }

    function getModelsProject() {
        let modelsProjectTbody = $('#project-models-tbody');
        return $.ajax({
            url: 'listModelStates',
            method: 'GET',
            success: function(data) {
                modelsProject = data['modelStates'];
                modelsProjectTbody.empty();
                modelsProjectMarkups = [];
                for(var i=0; i<modelsProject.length; i++) {
                    if(!availableAImodels.hasOwnProperty(modelsProject[i]['model_library']['id'])) {
                        continue;
                    }
                    let modelLibrary = availableAImodels[modelsProject[i]['model_library']['id']]['name'];
                    let shared = '';
                    if(modelsProject[i]['marketplace_info'].hasOwnProperty('id')) {
                        //TODO: also include shared meta data
                        if(modelsProject[i]['marketplace_info']['shared']) {
                            shared = '<img src="/static/general/img/success.svg" />';
                        } else if(modelsProject[i]['marketplace_info']['shared'] === false) {
                            shared = '<img src="/static/general/img/error.svg" />';
                        }
                    }

                    let markup = $('<tr id="project_' + i + '">' +
                        '<td>' + (i+1) + '</td>' +
                        '<td>' + modelLibrary + '</td>' +
                        '<td>' + new Date(modelsProject[i]['time_created'] * 1000).toLocaleString() + '</td>' +
                        '<td>' + modelsProject[i]['num_pred'] + '</td>' +
                        '<td>' + shared + '</td>' +
                        '</tr>');
                    markup.on('click', function() {
                        let selID = $(this).attr('id').split('_')[1];
                        for(var m=0; m<modelsProjectMarkups.length; m++) {
                            modelsProjectMarkups[m].removeClass('tr-highlighted');
                        }
                        if(selID === selectedModel_id_project) {
                            // deselect
                            selectedModel_id_project = null;
                            markup.removeClass('tr-highlighted');
                            $('#no-model-selected-project').show();
                            $('#selected-model-info-project').hide();
                            return;
                        }
                        let selectedModel = modelsProject[selID];
                        selectedModel_id_project = selID;
                        markup.addClass('tr-highlighted');

                        // populate info panel
                        $('#info-name').html(selectedModel['name']);
                        $('#info-description').html(selectedModel['description']);
                        $('#info-author').html(selectedModel['author']);
                        $('#no-model-selected-project').hide();
                        $('#selected-model-info-project').show();

                        // modify sharing controls
                        try {
                            let modelShared = selectedModel['marketplace_info']['shared'];
                            if(modelShared) {
                                $('#project-model-share').hide();
                                $('#project-model-unshare').show();
                                $('#project-model-reshare').hide();
                            } else if(modelShared === false) {
                                $('#project-model-share').hide();
                                $('#project-model-unshare').hide();
                                $('#project-model-reshare').show();
                            } else {
                                $('#project-model-share').show();
                                $('#project-model-unshare').hide();
                                $('#project-model-reshare').hide();
                            }
                        } catch {
                            $('#project-model-share').show();
                            $('#project-model-unshare').hide();
                            $('#project-model-reshare').hide();
                        }
                    });
                    modelsProjectTbody.append(markup);
                    modelsProjectMarkups.push(markup);
                }
            },
            error: function(xhr, status, error) {
                var promise = window.renewSessionRequest(xhr);
                promise = promise.done(function() {
                    return getModelsProject();
                });
                return promise;
            }
        })
    }

    function shareModel(fromProject) {
        let params = null;
        if(fromProject) {
            if(typeof(modelsProject[selectedModel_id_project]) !== 'object' || !modelsProject[selectedModel_id_project].hasOwnProperty('id')) {
                return $.Deferred().promise();
            }
            params = {
                model_id: modelsProject[selectedModel_id_project]['id'],
                model_name: $('#project-info-name').val(),
                model_description: $('#project-info-description').val(),
                public: ($('#project-model-share-public').val() == 'everyone'? true : false),
                anonymous: $('#project-model-share-anonymous').prop('checked')
            };
        } else {
            if(typeof(selectedModel_id_marketplace) !== 'string') {
                return $.Deferred().promise();
            }
            params = {
                model_id: selectedModel_id_marketplace
            };
        }

        let doShareModel = function() {
            return $.ajax({
                url: 'shareModel',
                method: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(params),
                success: function(data) {
                    console.log(data);  //TODO
                    loadData();
                },
                error: function(xhr, status, error) {
                    var promise = window.renewSessionRequest(xhr);
                    promise = promise.done(function() {
                        return doShareModel();
                    });
                    return promise;
                }
            });
        }

        window.showYesNoOverlay($('<div>Proceeding will make the selected model available on the marketplace.<br />Are you sure?</div>'),
            doShareModel, null, 'Share', 'Cancel', 'btn-danger', 'btn-secondary', false, false);
    }

    function reshareModel(fromProject) {
        let modelID = null;
        if(fromProject) {
            try {
                modelID = modelsProject[selectedModel_id_project]['marketplace_info']['id'];
            } catch {
                return $.Deferred().promise();
            }
        } else {
            if(typeof(selectedModel_id_marketplace) !== 'string') {
                return $.Deferred().promise();
            }
            modelID = selectedModel_id_marketplace;
        }

        let doReshareModel = function() {
            params = {
                model_id: modelID
            };

            return $.ajax({
                url: 'reshareModel',
                method: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(params),
                success: function(data) {
                    console.log(data);  //TODO
                    loadData();
                },
                error: function(xhr, status, error) {
                    var promise = window.renewSessionRequest(xhr);
                    promise = promise.done(function() {
                        return doReshareModel();
                    });
                    return promise;
                }
            });
        }

        window.showYesNoOverlay($('<div>Proceeding will make the selected model available again on the marketplace.<br />Are you sure?</div>'),
            doReshareModel, null, 'Share', 'Cancel', 'btn-danger', 'btn-secondary', false, false);
    }

    function unshareModel(fromProject) {
        let modelID = null;
        if(fromProject) {
            try {
                modelID = modelsProject[selectedModel_id_project]['marketplace_info']['id'];
            } catch {
                return $.Deferred().promise();
            }
        } else {
            if(typeof(selectedModel_id_marketplace) !== 'string') {
                return $.Deferred().promise();
            }
            modelID = selectedModel_id_marketplace;
        }

        let doUnshareModel = function() {
            return $.ajax({
                url: 'unshareModel',
                method: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({model_id: modelID}),
                success: function(data) {
                    console.log(data)
                    var message = '';
                    switch(data['status']) {
                        case 0:
                            message = 'Model successfully hidden from marketplace';
                            break;
                        default:
                            message = 'An error occurred while hiding the selected model from the marketplace';
                            break;
                    }
                    if(typeof(data['message']) === 'string') {
                        message += ' (message: "' + data['message'] + '")".'
                    } else {
                        message += '.';
                    }
                    console.log(message);   //TODO: notification system
                    loadData();
                },
                error: function(xhr, status, error) {
                    var promise = window.renewSessionRequest(xhr);
                    promise = promise.done(function() {
                        return doUnshareModel();
                    });
                    return promise;
                }
            });
        }

        window.showYesNoOverlay($('<div>Proceeding hides the selected model from the model marketplace.<br />Are you sure?</div>'),
            doUnshareModel, null, 'Remove', 'Cancel', 'btn-danger', 'btn-secondary', false, false);
    }

    function importModelToProject() {
        if(selectedModel_id_marketplace === null || selectedModel_id_marketplace === undefined) {
            return $.Deferred().promise();
        }

        let doImportModel = function() {
            return $.ajax({
                url: 'importModel',
                method: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({model_id: selectedModel_id_marketplace}),
                success: function(data) {
                    //TODO
                    console.log(data);  //TODO: notification system
                    loadData();
                },
                error: function(xhr, status, error) {
                    var promise = window.renewSessionRequest(xhr);
                    promise = promise.done(function() {
                        return unshareModel();
                    });
                    return promise;
                }
            })
        }

        window.showYesNoOverlay($('<div>Proceeding will import the selected model to the project and make it the starting point for future workflows in that project.<br />Are you sure?</div>'),
            doImportModel, null, 'Import', 'Cancel', 'btn-primary', 'btn-secondary', false, false);
    }

    function parseClassEntry(entry, entryID) {
        // works recursively
        var name = entry['name'];
        if(entry['hidden']) {
            name += ' (hidden)';
        }
        let treeEntry = {
            id: entryID,
            name: name,
            color: entry['color'],
            hidden: entry['hidden']
        };

        if(entry.hasOwnProperty('entries')) {
            let children = [];
            for(var child in entry['entries']) {
                children.push(parseClassEntry(entry['entries'][child], child));
            }
            treeEntry['children'] = children;
        }

        return treeEntry;
    }

    function parseLabelclassDefinition(labelclassInfo) {
        let targetDiv = $('#marketplace-info-labelclasses');
        targetDiv.empty();
        if(typeof(labelclassInfo) === 'string') {
            labelclassInfo = JSON.parse(labelclassInfo);
        }

        if(labelclassInfo.hasOwnProperty('entries')) {
            let tree = [];
            for(var child in labelclassInfo['entries']) {
                tree.push(parseClassEntry(labelclassInfo['entries'][child], child));
            }

            let lcTree = $('<div id="lc-tree"></div>');
            lcTree.tree({
                data: tree,
                selectable: false,
                dragAndDrop: false,
                autoOpen: true
            });
            targetDiv.append(lcTree);
        }
    }

    function _string_matches(object, keywords) {
        if(keywords.length === 0) return true;
        if(object === undefined || object === null) {
            return false;
        } else if(Array.isArray(object)) {
            for(var k=0; k<object.length; k++) {
                if(_string_matches(object[k], keywords)) return true;
            }
            return false;
        } else if(typeof(object) === 'object') {
            let keys = Object.keys(object);
            for(var k=0; k<keys.length; k++) {
                if(_string_matches(object[keys[k]], keywords)) return true;
            }
            return false;
        } else {
            object = object.toString().toLowerCase();
            for(var k=0; k<keywords.length; k++) {
                if(!object.includes(keywords[k].toLowerCase())) return false;
            }
            return true;
        }
    }

    function _isMatch_marketplace(entryID, keywords, modelTypes) {
        let entry = modelsMarketplace[entryID];
        if(typeof(entry) !== 'object') return false;

        if(!modelTypes.hasOwnProperty(entry['model_library'])) return false;

        if(keywords.length === 0) return true;

        if(_string_matches(entry, keywords)) return true;
        
        // also check table entry for converted fields (anonymous authors, date, etc.)
        let tableMarkup = $('#modelMarketplace_'+entryID).map(function(){
            return $(this).text();
        }).get(0);
        if(_string_matches(tableMarkup, keywords)) return true;

        // no match
        return false;
    }

    function filterMarketplace() {
        let keywords = $('#marketplace-search-keyword').val().trim().split(' ');
        for(var k=0; k<keywords.length; k++) {
            keywords[k] = keywords[k].trim().toLowerCase();
        }
        let modelTypes = {};
        let modelTypesDivs = $('#marketplace-search-modeltype').children();
        for(var c=0; c<modelTypesDivs.length; c++) {
            if($($(modelTypesDivs[c]).find('input[type=checkbox]')[0]).prop('checked')) {
                let modelID = $(modelTypesDivs[c]).attr('id').substring(10);    // get rid of "modeltype_" prefix
                modelTypes[modelID] = 0;
            }
        }

        // show or hide entries according to filter criteria
        let entries = $('#marketplace-models-tbody').find('tr');
        for(var e=0; e<entries.length; e++) {
            let entry = $(entries[e]);
            let entryID = entry.attr('id').substring(17);   // get rid of "modelMarketplace_" prefix
            if(_isMatch_marketplace(entryID, keywords, modelTypes)) {
                entry.show();
            } else {
                entry.hide();
            }
        }
    }

    function loadData() {
        //TODO: promises

        selectedModel_id_marketplace = null;
        selectedModel_id_project = null;

        $('#no-model-selected-marketplace').show();
        $('#selected-model-info-marketplace').hide();
        $('#no-model-selected-project').show();
        $('#selected-model-info-project').hide();

        getModelsMarketplace();
        getModelsProject();
    }

    function setupUI() {
        $('#project-model-share').on('click', function() {
            shareModel(true);
        });
        $('#project-model-reshare').on('click', function() {
            reshareModel(true);
        });
        $('#project-model-unshare').on('click', function() {
            unshareModel(true);
        });
        $('#marketplace-model-reshare').on('click', function() {
            reshareModel(false);
        });
        $('#marketplace-model-remove').on('click', function() {
            unshareModel(false);
        });
        $('#marketplace-model-select').on('click', function() {
            importModelToProject();
        });

        // search and filter
        $('#marketplace-search-keyword').on('input', function() {
            filterMarketplace();
        });
        $('#marketplace-search-modeltype').on('change', function() {
            filterMarketplace();
        });

        // tags
        function _getTags(preserveCase) {
            let tagDivs = $('#project-info-tags').children();
            if(tagDivs.length === 0) return {};
            let tags = {};
            for(var c=0; c<tagDivs.length; c++) {
                let tag = $(tagDivs[c]).html();
                if(!preserveCase) {
                    tag = tag.toLowerCase();
                }
                tags[tag] = 0;
            }
            return tags;
        }
        function _tagValid(tag) {
            if(typeof(tag) !== 'string') return false;
            tag = tag.trim().toLowerCase();
            if(tag.length === 0 || tag.includes(';;')) return false;
            let tags = _getTags(false);
            if(tags.hasOwnProperty(tag)) return false;
            return true;
        }
        $('#project-info-add-tag-button').on('click', function() {
            let tag = $('#project-info-add-tag').val();
            if(_tagValid(tag)) {
                let tagsDiv = $('#project-info-tags');
                let tagDiv = $('<div class="tag"></div>');
                tagDiv.append($('<span>' + tag + '</span>'));
                let removeBtn = $('<button class="btn btn-sm btn-secondary">X</button>');
                removeBtn.on('click', function() {
                    $(this).parent().remove();
                });
                tagDiv.append(removeBtn);
                tagsDiv.append(tagDiv);
                $('#project-info-add-tag').val('');
            }
        });
        $('#project-info-add-tag').on('input', function() {
            let tag = $('#project-info-add-tag').val();
            $('#project-info-add-tag-button').prop('disabled', !_tagValid(tag));
        });


        function showPanel(type) {
            if(type === 'modelMarketplace') {
                $('#modelmarketplace-container').show();
                $('#projectmodels-container').hide();
                $('#marketplace-button').addClass('active');
                $('#projectmodels-button').removeClass('active');
            } else {
                $('#modelmarketplace-container').hide();
                $('#projectmodels-container').show();
                $('#marketplace-button').removeClass('active');
                $('#projectmodels-button').addClass('active');
            }
        }
        $('#marketplace-button').click(function(e) {
            e.preventDefault();
            showPanel('modelMarketplace');
        });
        $('#projectmodels-button').click(function(e) {
            e.preventDefault();
            showPanel('projectModels');
        });
        showPanel('modelMarketplace');
    }

    $(document).ready(function() {
        var promise = getAvailableAImodels();
        promise = promise.done(function() {
            $.when(getModelsMarketplace(), getModelsProject()).done(function () {
                setupUI();
                window.showLoadingOverlay(false);
            });
        });
    });
</script>