<!-- 2020-22 Benjamin Kellenberger -->
<div>
    <div id="options-header" style="cursor:pointer">
        <!-- TODO: Triangle -->
        <h2>Options</h2>
    </div>
    <div id="options-container">
        <div class="tables-container">
            <div class="entity-table" style="display:table;width:70%;order:1;">
                <div>AI models to be evaluated:</div>
                <table id="ai-models-table" class="perf-table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all-states" /></th>
                            <th>#</th>
                            <th>Time created</th>
                            <th>Model</th>
                            <th>Ranking model</th>
                            <th>No. predictions</th>
                            <th>No. matches</th>
                        </tr>
                    </thead>
                    <tbody id="cnn-states-tbody"></tbody>
                </table>

                <button class="btn btn-sm btn-danger" id="delete-selected-models-button">Delete selected</button>
            </div>
            <div class="entity-table" style="width:20%;order:2;">
                <div>Target user:</div>
                <table id="target-users-table" class="perf-table">
                    <thead>
                        <tr><th></th><th>Name</th></tr>
                    </thead>
                    <tbody id="target-users"></tbody>
                </table>
            </div>
        </div>

        <div>
            <div id="threshold-control" style="display:none;margin-top:5px;">
                <span>Distance/IoU threshold:</span>
                <input type="range" id="threshold-range" min="0.0" max="1.0" step="0.01" value="0.5" />
                <input type="number" id="threshold-number" min="0.0" max="1.0" step="0.01" value="0.5" style="width:60px" />
            </div>

            <div style="margin-top:5px;margin-bottom:5px;">
                <input type="checkbox" id="check-golden-question-only" value="goldenQuestionsOnly" />
                <label for="check-golden-question-only">Limit to golden questions only</label>
            </div>
        </div>

        <button id="calc-stats" class="btn btn-sm btn-primary">Update</button>
    </div>

    <div style="margin-top:20px">
        <h2>Performance</h2>
        <div id="performance-container"></div>
    </div>
</div>
<link rel="stylesheet" href="/static/statistics/libs/chartjs/Chart.min.css?v={{ version }}" />
<style>
    #options-container {
        margin-bottom: 5px;
    }

    .tables-container {
        display: flex;
        flex-direction: row;
    }

    .entity-table {
        margin: 10px;
        width: 50%;
    }

    .perf-table {
        width: 100%;
        height: 90%;
        max-height: 90%;
        border: 1px solid #aaa;
    }

    .perf-table thead {
        background: #5f5f5f;
        font-weight: bold;
    }

    .perf-table tbody {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 200px;
    }

    .perf-table thead, .perf-table tbody {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }

    .perf-table td, .perf-table th {
        padding-right: 5px;
    }

    .chartWrapper {
        position: relative;
    }

    .chartWrapper > canvas {
        position: absolute;
        left: 0;
        top: 0;
    }

    .chartAreaWrapper {
        width: 100%;
        height: 300px;
        max-height: 300px;
        overflow-x: scroll;
    }
</style>
<script src="/static/dataAdmin/js/taskPolling.js?v={{ version }}"></script>
<script src="/static/statistics/libs/chartjs/Chart.min.js?v={{ version }}"></script>
<script src="/static/general/js/tableWidthAdjuster.js?v={{ version }}"></script>
<script type="text/javascript">

    window.save = undefined;

    var detailedStatistics = {};
    let detailedStatsChart = undefined;

    function showDetailedChart(modelStateID) {
        let stats = detailedStatistics['series'][modelStateID];
        let canvas = $('#detailed-chart-canvas');
        if(detailedStatsChart === undefined) {
            detailedStatsChart = new Chart(canvas[0].getContext('2d'), {
                type: 'scatter',
                data: {
                    labels: detailedStatistics['class_meta']['names'],
                    datasets: [{
                        label: 'per-class performance',
                        data: stats['precRec'],
                        pointRadius: stats['pointRadii'],
                        pointHoverRadius: stats['pointRadii'],
                        backgroundColor: detailedStatistics['class_meta']['colors']
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                return tooltipItem.index
                                // var label = detailedStatistics['class_meta']['names'][tooltipItem.index];
                                // console.log(detailedStatistics + ', ' + tooltipItem.index)
                                // return label + ': (Precision: ' + tooltipItem.yLabel + ', Recall: ' + tooltipItem.xLabel + ')';
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Precision'
                            },
                            ticks: {
                                min: 0.0,
                                max: 1.0,
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Recall'
                            },
                            ticks: {
                                min: 0.0,
                                max: 1.0,
                                beginAtZero: true
                            }
                        }],
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        } else {
            detailedStatsChart.data = {
                labels: detailedStatistics['class_meta']['names'],
                datasets: [{
                    label: 'per-class performance',
                    data: stats['precRec'],
                    pointRadius: stats['pointRadii'],
                    pointHoverRadius: stats['pointRadii'],
                    backgroundColor: detailedStatistics['class_meta']['colors']
                }]
            };
            detailedStatsChart.update();
        }
        canvas.show();
    }

    function getSelectedModelIDs() {
        let modelStates = [];
        $('#cnn-states-tbody').find('input[type=checkbox]:checked').each(function() {
            modelStates.push($(this).attr('id'));
        });
        return modelStates
    }

    function calculateModelStats() {
        // get control values
        let modelStates = getSelectedModelIDs();
        var targetUser = $('#target-users').find('input[type=radio]:checked').attr('id');
        if(targetUser === undefined || modelStates.length === 0) return;

        var limitGoldenQuestions = $('#check-golden-question-only').prop('checked');

        var params = {
            'entities_eval': modelStates,
            'entity_target': targetUser,
            'entity_type': 'model',
            'goldenQuestionsOnly': limitGoldenQuestions
        };
        if(window.annotationType === 'points' || window.annotationType === 'boundingBoxes') {
            var threshold = $('#threshold-range').val();
            params['threshold'] = threshold;
        }

        // clear current data
        $.each($('#cnn-states-tbody').children(), function() {
            $(this).children().last().html('0');
        });
        detailedStatsChart = undefined;

        // update chart
        let resultsContainer = $('#performance-container');
        resultsContainer.empty();
        return $.ajax({
            url: window.baseURL + 'getPerformanceStatistics',
            method: 'POST',
            data: JSON.stringify(params),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function(data) {
                if(data['status'] > 0) {
                    let msg = 'Could not retrieve model performance statistics';
                    if(typeof(data['message']) === 'string') {
                        msg += ' (message: "' + data['message'] + '")'
                    }
                    msg += '.';
                    window.messager.addMessage(msg, 'error', 0);
                    return;
                }

                // assemble sorted list of label class names for per-class statistics below
                let lcKeys = Object.keys(data['result']['label_classes']);
                let lcNames = [];
                let lcColors = [];
                for(var k=0; k<lcKeys.length; k++) {
                    lcNames.push(data['result']['label_classes'][lcKeys[k]][1]);
                    lcColors.push(data['result']['label_classes'][lcKeys[k]][2]);
                }


                // assemble global, per-model state statistics
                var modelNames = [];
                var series = {
                    'color': []
                };        // dict of lists
                detailedStatistics = {};
                for(var i=0; i<modelStates.length; i++) {
                    var model = modelStates[i];
                    if(!data['result']['per_entity'].hasOwnProperty(model)) {
                        // no predictions made with model
                        continue;
                    }

                    // get number of model in table for labels & match count update
                    let modelMarkup = $('#'+model).parent().parent();
                    let modelNumber = $(modelMarkup.children()[1]).html();
                    let matchCell = $(modelMarkup.children().last());
                    matchCell.html(data['result']['per_entity'][model]['num_matches']);
                    modelNames.push(modelNumber);
                    for(var s in data['result']['per_entity'][model]) {
                        if(!series.hasOwnProperty(s)) {
                            series[s] = [];
                        }
                        series[s].push(data['result']['per_entity'][model][s]);
                    }

                    // colors
                    if((window.annotationType === 'points' || window.annotationType === 'boundingBoxes') &&
                        threshold !== null) {
                        if(series.hasOwnProperty('avg_dist')) {
                            series['color'].push(data['result']['per_entity'][model]['avg_dist'] <= threshold ? '#007bff' : '#ff3300');
                        } else if(series.hasOwnProperty('avg_iou')) {
                            series['color'].push(data['result']['per_entity'][model]['avg_iou'] >= threshold ? '#007bff' : '#ff3300');
                        }
                    } else {
                        series['color'].push('#007bff');
                    }
                }
                
                // create overview chart
                if(series.hasOwnProperty('overall_accuracy')) {
                    // image labels or segmentation masks; show OA
                    let chartLabel = 'Overall Accuracy';
                    var cw_oa = $('<div class="chartWrapper"><div class="chartAreaWrapper"></div></div>');
                    let canvas_oa = $('<canvas width=400 height=300></canvas>');
                    cw_oa.find('.chartAreaWrapper').append(canvas_oa);
                    new Chart(canvas_oa[0].getContext('2d'), {
                        type: 'bar',
                        data: {
                            labels: modelNames,
                            datasets: [{
                                label: chartLabel,
                                data: series['overall_accuracy'],
                                backgroundColor: series['color']
                            }]
                        },
                        options: {
                            tooltips: {
                                callbacks: {
                                    label: function(tooltipItem, data) {
                                        var label = data.labels[tooltipItem.index];
                                        return label + ': (OA: ' + roundNumber(tooltipItem.yLabel*100, 100) + '%)';
                                    }
                                }
                            },
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: chartLabel
                                    },
                                    ticks: {
                                        min: 0.0,
                                        max: 1.0,
                                        beginAtZero: true
                                    }
                                }]
                            },
                            responsive: true,
                            maintainAspectRatio: false
                        }
                    });
                    resultsContainer.append(cw_oa);

                } else if(series.hasOwnProperty('prec') && series.hasOwnProperty('rec')) {
                    // points or bounding boxes: show precision-recall plots
                    var chartData = [];
                    var pointRadii = [];
                    var maxRadius = 0;
                    for(var i=0; i<series['prec'].length; i++) {
                        chartData.push({
                            x: series['rec'][i],
                            y: series['prec'][i]
                        });
                        pointRadii.push(series['num_pred'][i]);
                        maxRadius = Math.max(maxRadius, series['num_pred'][i]);
                    }
                    for(var i=0; i<pointRadii.length; i++) {
                        pointRadii[i] *= 10.0 / maxRadius;
                    }

                    var cw = $('<div class="chartWrapper"><div class="chartAreaWrapper"></div></div>');
                    let canvas = $('<canvas width=400 height=300></canvas>');
                    cw.find('.chartAreaWrapper').append(canvas);
                    var chart = new Chart(canvas[0].getContext('2d'), {
                        type: 'scatter',
                        data: {
                            labels: modelNames,
                            datasets: [{
                                label: 'model performance',
                                data: chartData,
                                pointRadius: pointRadii,
                                pointHoverRadius: pointRadii,
                                backgroundColor: series['color']
                            }]
                        },
                        options: {
                            legend: {
                                display: false
                            },
                            tooltips: {
                                callbacks: {
                                    label: function(tooltipItem, data) {
                                        var label = data.labels[tooltipItem.index];
                                        return label + ': (Precision: ' + roundNumber(tooltipItem.yLabel*100, 100) + '%, Recall: ' + roundNumber(tooltipItem.xLabel*100, 100) + '%)';
                                    }
                                }
                            },
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Precision'
                                    },
                                    ticks: {
                                        min: 0.0,
                                        max: 1.0,
                                        beginAtZero: true
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Recall'
                                    },
                                    ticks: {
                                        min: 0.0,
                                        max: 1.0,
                                        beginAtZero: true
                                    }
                                }],
                            },
                            responsive: true,
                            maintainAspectRatio: false
                        }
                    });
                    resultsContainer.append(cw);
                }

                //TODO: still produces erroneous results; fix formula first then uncomment this block
                // if(series.hasOwnProperty('avg_dist') || series.hasOwnProperty('avg_iou')) {
                //     var geomData = [];
                //     var chartTitle = 'Geometric precision';
                //     var chartLabel = 'average ';
                //     if(series.hasOwnProperty('avg_dist')) {
                //         geomData = series['avg_dist'];
                //         chartLabel += 'point distance';
                //     } else if(series.hasOwnProperty('avg_iou')) {
                //         geomData = series['avg_iou'];
                //         chartLabel += 'Intersection-over-Union';
                //     }

                //     // geometric precision bar charts
                //     var cw_geom = $('<div class="chartWrapper"><div class="chartAreaWrapper"></div></div>');
                //     let canvas_geom = $('<canvas width=400 height=300></canvas>');
                //     cw_geom.find('.chartAreaWrapper').append(canvas_geom);
                //     new Chart(canvas_geom[0].getContext('2d'), {
                //         type: 'bar',
                //         data: {
                //             labels: modelNames,
                //             datasets: [{
                //                 label: chartLabel,
                //                 data: geomData,
                //                 backgroundColor: series['color']
                //             }]
                //         },
                //         options: {
                //             scales: {
                //                 yAxes: [{
                //                     scaleLabel: {
                //                         display: true,
                //                         labelString: chartLabel
                //                     },
                //                     ticks: {
                //                         min: 0.0,
                //                         max: 1.0,
                //                         beginAtZero: true
                //                     }
                //                 }]
                //             },
                //             responsive: true,
                //             maintainAspectRatio: false
                //         }
                //     });
                //     resultsContainer.append(cw_geom);
                // }
                ///TODO
                
                if(series.hasOwnProperty('per_class')) {
                    // create detailed charts
                    detailedStatistics = {
                        class_meta: {
                            names: lcNames,
                            colors: lcColors
                        },
                        series: {}
                    };
                    resultsContainer.append($('<h3>Per label class</h3>'));
                    resultsContainer.append($('<span>Select model state:</span>'));
                    var modelSelect = $('<select id="detailed-model-select"></select>');
                    for(var m=0; m<modelNames.length; m++) {
                        modelSelect.append($('<option value="'+modelNames[m]+'">'+modelNames[m]+'</option>'));
                        
                        // parse data
                        let perClassSeries = series['per_class'][m];
                        let chartData = [];
                        let pointRadii = [];
                        let maxRadius = 0;
                        for(var k=0; k<lcKeys.length; k++) {
                            chartData.push({
                                x: perClassSeries[lcKeys[k]]['rec'],
                                y: perClassSeries[lcKeys[k]]['prec']
                            });
                            pointRadii.push(perClassSeries[lcKeys[k]]['num_matches']);
                            maxRadius = Math.max(maxRadius, perClassSeries[lcKeys[k]]['num_matches']);
                        }
                        for(var k=0; k<lcKeys.length; k++) {
                            pointRadii[k] *= 10.0 / maxRadius;
                        }
                        detailedStatistics['series'][modelNames[m]] = {
                            precRec: chartData,
                            pointRadii: pointRadii
                        };
                    }
                    modelSelect.on('change', function() {
                        showDetailedChart($(this).val());
                    });
                    resultsContainer.append(modelSelect);
                    let cw_plc = $('<div class="chartWrapper"><div class="chartAreaWrapper"></div></div>');
                    let canvas = $('<canvas id="detailed-chart-canvas" width=400 height=300 style="display:none"></canvas>');
                    cw_plc.append(canvas);
                    resultsContainer.append(cw_plc);
                    modelSelect.trigger('change');
                }
            },
            error: function(xhr, status, error) {
                    console.error(error);
                    if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                        window.messager.addMessage('An error occurred while trying to calculate AI model statistics (message: "' + error + '").', 'error', 0);
                    }
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return calculateModelStats();
                        });
                    }
                }
        });
    }

    function getProjectSettings() {
        return $.ajax({
            url: window.baseURL + 'getProjectSettings',
            method: 'GET',
            success: function(data) {
                window.annotationType = data['settings']['annotationType'];
                window.predictionType = data['settings']['predictionType'];

                // show advanced controls for points & bounding boxes
                if(window.annotationType === 'points' || window.annotationType === 'boundingBoxes') {
                    $('#threshold-control').show();
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
                if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                    window.messager.addMessage('An error occurred while trying to retrieve project settings (message: "' + error + '").', 'error', 0);
                }
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return getProjectSettings();
                    });
                }
            }
        });
    }

    function listModelStates() {
        let modelStateTable = $('#cnn-states-tbody');
        return $.ajax({
            url: window.baseURL + 'listModelStates',
            method: 'GET',
            success: function(data) {
                if(data.hasOwnProperty('modelStates')) {
                    data = data['modelStates'];
                    modelStateTable.empty();
                    for(var i=0; i<data.length; i++) {
                        // construct model state markup
                        var markup = $('<tr></tr>');
                        markup.append($('<td><input type="checkbox" id="'+data[i]['id']+'" checked /></td>'));
                        markup.append($('<td>' + (data.length-i) + '</td>'));
                        markup.append($('<td>'+new Date(data[i]['time_created'] * 1000).toLocaleString()+'</td>'));
                        markup.append($('<td>'+data[i]['model_library']['name']+'</td>'));
                        markup.append($('<td>'+data[i]['al_criterion_library']['name']+'</td>'));
                        markup.append($('<td>'+data[i]['num_pred']+'</td>'));
                        markup.append($('<td class="num-matches"></td>'));  // populated upon query
                        modelStateTable.append(markup);
                    }
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
                if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                    window.messager.addMessage('An error occurred while trying to retrieve AI model states (message: "' + error + '").', 'error', 0);
                }
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return listModelStates();
                    });
                }
            }
        });
    }

    function getUserNames() {
        let targetUsersTable = $('#target-users');
        return $.ajax({
            url: window.baseURL + 'getUserNames',
            method: 'POST',
            success: function(data) {
                data = data['users'];
                for(var idx in data) {
                    var tableEntry_target = $('<tr></tr>');
                    tableEntry_target.append($('<td><input type="radio" id="'+data[idx]+'" name="targetUser"></td>'))
                    tableEntry_target.append($('<td>'+data[idx]+'</td>'));
                    if(data[idx] === window.user) {
                        tableEntry_target.find('input[type=radio]').prop('checked', 'checked');
                    }
                    targetUsersTable.append(tableEntry_target);
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
                if(typeof(xhr) === 'object' && xhr.hasOwnProperty('status') && xhr['status'] !== 401) {
                    window.messager.addMessage('An error occurred while trying to retrieve project members (message: "' + error + '").', 'error', 0);
                }
            },
            statusCode: {
                401: function(xhr) {
                    return window.renewSessionRequest(xhr, function() {
                        return getUserNames();
                    });
                }
            }
        });
    }

    function deleteSelectedModels() {
        let selModels = getSelectedModelIDs();
        if(selModels.length === 0) return;

        let _on_message = function(numModels, data) {
            if(data.hasOwnProperty('status') && data['status'] === 'FAILURE') {
                // error
                let message = '(an unknown error occurred)';
                if(data.hasOwnProperty('meta') && data['meta'].hasOwnProperty('message')) {
                    message = 'an error occurred trying to delete model states (' + data['meta']['message'] + ').';
                }
                window.messager.addMessage(message, 'error', 0);
            } else {
                listModelStates().then(function() {
                    window.messager.addMessage('Successfully deleted ' + numModels + ' model states.', 'success');
                });
            }
        }

        let _do_delete = function() {
            return $.ajax({
                url: window.baseURL + 'deleteModelStates',
                method: 'POST',
                data: JSON.stringify({model_ids: selModels}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    let taskID = data['task_id'];
                    if(typeof(taskID) === 'string') {
                        poll_status(taskID, function(data) {
                            _on_message(selModels.length, data);
                        },
                        function(data) {
                            _on_message(selModels.length, data);
                        }, undefined, 1000);
                    } else {
                        if(data.hasOwnProperty('message')) {
                            window.messager.addMessage('An error occurred while trying to delete model states (message: "'+data['message']+'").', 'error', 0);
                        } else {
                            window.messager.addMessage('An unknown error occurred while trying to delete model states', 'error', 0);
                        }
                    }
                },
                error: function(xhr, status, error) {
                    window.messager.addMessage('An error occurred while deleting model states (message: "'+error+'").', 'error', 0);
                },
                statusCode: {
                    401: function(xhr) {
                        return window.renewSessionRequest(xhr, function() {
                            return _do_delete();
                        });
                    }
                }
            });
        }

        window.showYesNoOverlay($('<div>Are you sure you would like to delete ' + selModels.length + ' model states?<br />This action cannot be undone.</div>'),
            _do_delete, null, 'Delete', 'Cancel', 'btn-danger', 'btn-secondary', false, false);
    }

    $(document).ready(function() {

        // adjust table layout of Marketplace and Project
        window.adjustTableWidth(
            '#ai-models-table',
            [
                '20px',
                '20px',
                '160px',
                '140px',
                '140px',
                '130px',
                '130px'
            ],
            true,
            true
        );
        window.adjustTableWidth(
            '#target-users-table',
            [
                '20px'
            ],
            true,
            true
        );

        // get project annotation and prediction types
        var promise = getProjectSettings();

        // get all model states
        promise = promise.then(function() {
            return listModelStates();
        });

        // populate users tables
        promise = promise.then(function() {
            return getUserNames();
        });
        
        promise = promise.done(function() {
            $('#select-all-states').click(function() {
                var checked = $(this).prop('checked');
                $.each($('#cnn-states-tbody').find('input[type=checkbox]'), function() {
                    $(this).prop('checked', checked);
                });
            });

            let thresholdRange = $('#threshold-range');
            let thresholdNumber = $('#threshold-number');

            thresholdRange.on('input', function() {
                thresholdNumber.val($(this).val());
            });
            thresholdNumber.on('input', function() {
                thresholdRange.val($(this).val());
            });

            $('#options-header').click(function() {
                let container = $('#options-container');
                if(container.is(':visible')) {
                    container.slideUp();
                } else {
                    container.slideDown();
                }
            });

            $('#calc-stats').click(calculateModelStats);
            promise = promise.then(function() {
                return calculateModelStats();
            });

            $('#delete-selected-models-button').on('click', function() {
                return deleteSelectedModels(); 
            });

            window.showLoadingOverlay(false);
        });
    });
</script>