<div>
    <h2>Model Marketplace</h2>
    
    <div id="marketplace-container">
        <div class="selection-buttons" class="btn-group btn-group-toggle" role="group" aria-label="Model source" data-toggle="buttons">
            <button id="marketplace-button" class="btn btn-sm btn-secondary">Marketplace</button>
            <button id="projectmodels-button" class="btn btn-sm btn-secondary">Project models</button>
            <!-- <button id="upload-button" class="btn btn-sm btn-secondary">Upload from disk</button>
            <button id="webimport-button" class="btn btn-sm btn-secondary">Web import</button> -->
        </div>

        <!-- marketplace models table -->
        <div class="table-container" id="modelmarketplace-container">
            <!-- TODO: sort, search, filter -->
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Source project</th>
                        <th>Model</th>
                        <th>Time created</th>
                        <th>No. classes</th>
                    </tr>
                </thead>
                <tbody id="marketplace-models-tbody"></tbody>
            </table>

            <!-- selected model info -->
            <div id="info-container">
                <div id="no-model-selected">
                    No model selected.
                </div>
                <div id="selected-model-info" style="display:none">
                    <h3>Selected model</h3>
                    <div>Name:</div>
                    <div class="info-field" id="marketplace-info-name"></div>
                    <div>Description:</div>
                    <div class="info-field" id="marketplace-info-description"></div>
                    <div>Author:</div>
                    <div class="info-field" id="marketplace-info-author"></div>
                    <div>Label classes:</div>
                    <div class="info-field" id="marketplace-info-labelclasses"></div>
                    <!-- TODO: more -->

                    <span id="marketplace-model-type-disclaimer" style="font-style:italic"></span>
                    <br />

                    <!-- control buttons -->
                    <div>
                        <button class="btn btn-danger" id="marketplace-model-remove" style="display:none">Remove from Marketplace</button>
                        <button class="btn btn-primary" id="marketplace-model-select" style="display:none">Add to Project</button>
                        <!-- <button class="btn btn-primary" id="marketplace-model-share">Download</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- project-specific models table -->
    <div class="table-container" id="projectmodels-container" style="display:none">
        <!-- TODO: sort, search, filter -->
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Model</th>
                    <th>Time created</th>
                    <th>No. predictions</th>
                    <th>Shared</th>
                </tr>
            </thead>
            <tbody id="project-models-tbody"></tbody>
        </table>

        <!-- selected model info -->
        <div id="info-container">
            <h3>Selected model</h3>
            <div>Name:</div>
            <input type="text" id="project-info-name"></input>
            <div>Description:</div>
            <textarea id="project-info-description"></textarea>
            <br />
            <label for="project-model-share-public">Share with:</label>
            <select id="project-model-share-public">
                <option value="everyone">Everyone</option>
                <option value="projects">My own projects only</option>
            </select>
            <br />
            <input type="checkbox" id="project-model-share-anonymous" />
            <label for="project-model-share-anonymous">Anonymous (hide author name and project information)</label>
            
            <!-- control buttons -->
            <div>
                <button class="btn btn-primary" id="project-model-share">Share</button>
                <!-- <button class="btn btn-primary" id="project-model-download">Download</button> -->
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/static/statistics/libs/chartjs/Chart.min.css?v={{ version }}" />
<link rel="stylesheet" href="config/static/libs/jqtree/jqtree_custom.css?v={{ version }}" />
<script src="config/static/libs/jqtree/tree.jquery.js?v={{ version }}"></script>
<style>
    #options-container {
        margin-bottom: 5px;
    }

    .info-field {
        margin: 10px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        background: #aaaaaa;
        font-weight: bold;
    }

    .table-container {
        display: flex;
        flex-direction: column;
    }

    table {
        display: inline-block;
        width: 100%;
        height: 90%;
        max-height: 90%;
        border: 1px solid #aaa;
    }

    thead {
        background: #5f5f5f;
        font-weight: bold;
    }

    tbody {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 200px;
    }

    thead, tbody {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }

    td, th {
        padding-right: 5px;
    }

    .tr-highlighted {
        font-weight: bold;
        background: #AAAAAA;
    }

    tbody tr {
        cursor: pointer;
    }
</style>
<script src="/static/statistics/libs/chartjs/Chart.min.js?v={{ version }}"></script>
<script type="text/javascript">

    let availableAImodels = {};
    let modelsMarketplace = {};
    let modelsProject = [];
    let modelsMarketplaceMarkups = [];
    let modelsProjectMarkups = [];
    let selectedModel_id = null;


    function getAvailableAImodels() {
        return $.ajax({
            url: 'getAvailableAImodels',
            method: 'GET',
            success: function(data) {
                availableAImodels = data['models']['prediction'];
            },
            error: function(xhr, status, error) {
                var promise = window.renewSessionRequest(xhr);
                promise = promise.done(function() {
                    return getAvailableAImodels();
                });
                return promise;
            }
        });
    }

    function getModelsMarketplace() {
        let marketplaceTbody = $('#marketplace-models-tbody');
        return $.ajax({
            url: 'getModelsMarketplace',
            method: 'GET',
            success: function(data) {
                modelsMarketplace = data['modelStates'];

                // populate table
                marketplaceTbody.empty();
                modelsMarketplaceMarkups = [];
                for(var mID in modelsMarketplace) {
                    let model = modelsMarketplace[mID];
                    let author = (typeof(model['author']) === 'string' ? model['author'] : '(anonymous)');
                    let originProject = (typeof(model['projectname']) === 'string' ? model['projectname'] : '(anonymous)');
                    if(!availableAImodels.hasOwnProperty(model['model_library'])) {
                        continue;
                    }
                    let modelLibrary = availableAImodels[model['model_library']]['name'];
                    let timeCreated = new Date(model['time_created'] * 1000).toLocaleString();
                    let no_classes = 0; //TODO
                    let markup = $('<tr id="modelMarketplace::' + mID + '">' +
                        '<td>' + model['name'] + '</td>' +
                        '<td>' + author + '</td>' +
                        '<td>' + originProject + '</td>' +
                        '<td>' + modelLibrary + '</td>' +
                        '<td>' + timeCreated + '</td>' +
                        '<td>' + no_classes + '</td>' +
                        '</tr>');
                    
                    // click handler
                    markup.on('click', function() {
                        for(var i=0; i<modelsMarketplaceMarkups.length; i++) {
                            modelsMarketplaceMarkups[i].removeClass('tr-highlighted');
                        }
                        let selID = $(this).attr('id').split('::')[1];
                        if(selID === selectedModel_id) {
                            // deselect
                            selectedModel_id = null;
                            markup.removeClass('tr-highlighted');
                            $('#no-model-selected').show();
                            $('#selected-model-info').hide();
                            return;
                        }
                        selectedModel_id = selID;
                        let selectedModel = modelsMarketplace[selID];
                        let author = (typeof(selectedModel['author']) === 'string' ? selectedModel['author'] : '(anonymous)');
                        let timeCreated = new Date(model['time_created'] * 1000).toLocaleString();
                        markup.addClass('tr-highlighted');

                        // populate info panel
                        $('#marketplace-info-name').html(selectedModel['name']);
                        $('#marketplace-info-description').html(selectedModel['description']);
                        $('#marketplace-info-author').html(author);
                        parseLabelclassDefinition(selectedModel['labelclasses']);

                        // buttons for actions
                        if(selectedModel['is_owner']) {
                            $('#marketplace-model-type-disclaimer').html('You are the author of this model and have shared it on '+ timeCreated + '.');
                            $('#marketplace-model-select').hide();
                            $('#marketplace-model-remove').show();
                        } else {
                            $('#marketplace-model-type-disclaimer').html('You can import this model to your project.');
                            $('#marketplace-model-select').show();
                            $('#marketplace-model-remove').hide();
                        }
                        $('#no-model-selected').hide();
                        $('#selected-model-info').show();
                    });
                    marketplaceTbody.append(markup);
                    modelsMarketplaceMarkups.push(markup);
                }
            },
            error: function(xhr, status, error) {
                var promise = window.renewSessionRequest(xhr);
                promise = promise.done(function() {
                    return getModelsMarketplace();
                });
                return promise;
            }
        });
    }

    function getModelsProject() {
        let modelsProjectTbody = $('#project-models-tbody');
        return $.ajax({
            url: 'listModelStates',
            method: 'GET',
            success: function(data) {
                modelsProject = data['modelStates'];
                modelsProjectTbody.empty();
                modelsProjectMarkups = [];
                for(var i=0; i<modelsProject.length; i++) {
                    if(!availableAImodels.hasOwnProperty(modelsProject[i]['model_library']['id'])) {
                        continue;
                    }
                    let modelLibrary = availableAImodels[modelsProject[i]['model_library']['id']]['name'];
                    let shared = '';
                    if(modelsProject[i]['marketplace_info'].hasOwnProperty('id')) {
                        shared = 'Y';   //TODO: also include shared meta data
                    }

                    let markup = $('<tr id="project::' + i + '">' +
                        '<td>' + (i+1) + '</td>' +
                        '<td>' + modelLibrary + '</td>' +
                        '<td>' + new Date(modelsProject[i]['time_created'] * 1000).toLocaleString() + '</td>' +
                        '<td>' + modelsProject[i]['num_pred'] + '</td>' +
                        '<td>' + shared + '</td>' +
                        '</tr>');
                    markup.on('click', function() {
                        let selID = $(this).attr('id').split('::')[1];
                        
                        let selectedModel = modelsProject[selID];
                        selectedModel_id = selectedModel['id'];
                        for(var m=0; m<modelsProjectMarkups.length; m++) {
                            modelsProjectMarkups[m].removeClass('tr-highlighted');
                        }
                        markup.toggleClass('tr-highlighted');

                        // populate info panel
                        $('#info-name').html(selectedModel['name']);
                        $('#info-description').html(selectedModel['description']);
                        $('#info-author').html(selectedModel['author']);
                    });
                    modelsProjectTbody.append(markup);
                    modelsProjectMarkups.push(markup);
                }
            },
            error: function(xhr, status, error) {
                var promise = window.renewSessionRequest(xhr);
                promise = promise.done(function() {
                    return getModelsProject();
                });
                return promise;
            }
        })
    }

    function shareModel() {
        if(selectedModel_id === null || selectedModel_id === undefined) {
            return $.Deferred().promise();
        }

        let doShareModel = function() {
            params = {
                model_id: selectedModel_id,
                model_name: $('#project-info-name').val(),
                model_description: $('#project-info-description').val(),
                public: ($('#project-model-share-public').val() == 'everyone'? true : false),
                anonymous: $('#project-model-share-anonymous').prop('checked')
            };

            return $.ajax({
                url: 'shareModel',
                method: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(params),
                success: function(data) {
                    console.log(data);  //TODO
                    loadData();
                },
                error: function(xhr, status, error) {
                    var promise = window.renewSessionRequest(xhr);
                    promise = promise.done(function() {
                        return shareModel();
                    });
                    return promise;
                }
            });
        }

        window.showYesNoOverlay($('<div>Proceeding will make the selected model available on the marketplace.<br />Are you sure?</div>'),
            doShareModel, null, 'Share', 'Cancel', 'btn-danger', 'btn-secondary', false, false);
    }

    function unshareModel() {
        if(selectedModel_id === null || selectedModel_id === undefined) {
            return $.Deferred().promise();
        }

        // let promise = null;  //TODO

        let doUnshareModel = function() {
            return $.ajax({
                url: 'unshareModel',
                method: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({model_id: selectedModel_id}),
                success: function(data) {
                    var message = '';
                    switch(data['status']) {
                        case '0':
                            message = 'Model successfully hidden from marketplace';
                            break;
                        default:
                            message = 'An error occurred while hiding the selected model from the marketplace';
                    }
                    if(typeof(data['message']) === 'string') {
                        message += ' (message: "' + data['message'] + '")".'
                    } else {
                        message += '.';
                    }
                    console.log(message);   //TODO: notification system
                    loadData();
                },
                error: function(xhr, status, error) {
                    var promise = window.renewSessionRequest(xhr);
                    promise = promise.done(function() {
                        return unshareModel();
                    });
                    return promise;
                }
            });
        }

        window.showYesNoOverlay($('<div>Proceeding hides the selected model from the model marketplace.<br />Are you sure?</div>'),
            doUnshareModel, null, 'Remove', 'Cancel', 'btn-danger', 'btn-secondary', false, false);
    }

    function importModelToProject() {
        if(selectedModel_id === null || selectedModel_id === undefined) {
            return $.Deferred().promise();
        }

        let doImportModel = function() {
            return $.ajax({
                url: 'importModel',
                method: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify({model_id: selectedModel_id}),
                success: function(data) {
                    //TODO
                    console.log(data);  //TODO: notification system
                    loadData();
                },
                error: function(xhr, status, error) {
                    var promise = window.renewSessionRequest(xhr);
                    promise = promise.done(function() {
                        return unshareModel();
                    });
                    return promise;
                }
            })
        }

        window.showYesNoOverlay($('<div>Proceeding will import the selected model to the project and make it the starting point for future workflows in that project.<br />Are you sure?</div>'),
            doImportModel, null, 'Import', 'Cancel', 'btn-primary', 'btn-secondary', false, false);
    }

    function parseClassEntry(entry, entryID) {
        // works recursively
        var name = entry['name'];
        if(entry['hidden']) {
            name += ' (hidden)';
        }
        let treeEntry = {
            id: entryID,
            name: name,
            color: entry['color'],
            hidden: entry['hidden']
        };

        if(entry.hasOwnProperty('entries')) {
            let children = [];
            for(var child in entry['entries']) {
                children.push(parseClassEntry(entry['entries'][child], child));
            }
            treeEntry['children'] = children;
        }

        return treeEntry;
    }

    function parseLabelclassDefinition(labelclassInfo) {
        let targetDiv = $('#marketplace-info-labelclasses');
        targetDiv.empty();
        if(typeof(labelclassInfo) === 'string') {
            labelclassInfo = JSON.parse(labelclassInfo);
        }

        if(labelclassInfo.hasOwnProperty('entries')) {
            let tree = [];
            for(var child in labelclassInfo['entries']) {
                tree.push(parseClassEntry(labelclassInfo['entries'][child], child));
            }

            let lcTree = $('<div id="lc-tree"></div>');
            lcTree.tree({
                data: tree,
                selectable: false,
                dragAndDrop: false,
                autoOpen: true
            });
            targetDiv.append(lcTree);
        }
    }

    function loadData() {
        //TODO: promises; empty selected model info panels
        getModelsMarketplace();
        getModelsProject();
    }

    function setupUI() {
        $('#project-model-share').on('click', function() {
            shareModel();
        });
        $('#marketplace-model-remove').on('click', function() {
            unshareModel();
        });
        $('#marketplace-model-select').on('click', function() {
            importModelToProject();
        });
        function showPanel(type) {
            if(type === 'modelMarketplace') {
                $('#modelmarketplace-container').show();
                $('#projectmodels-container').hide();
                $('#marketplace-button').addClass('active');
                $('#projectmodels-button').removeClass('active');
            } else {
                $('#modelmarketplace-container').hide();
                $('#projectmodels-container').show();
                $('#marketplace-button').removeClass('active');
                $('#projectmodels-button').addClass('active');
            }
        }
        $('#marketplace-button').click(function(e) {
            e.preventDefault();
            showPanel('modelMarketplace');
        });
        $('#projectmodels-button').click(function(e) {
            e.preventDefault();
            showPanel('projectModels');
        });
        showPanel('modelMarketplace');
    }

    $(document).ready(function() {
        var promise = getAvailableAImodels();
        promise = promise.done(function() {
            $.when(getModelsMarketplace(), getModelsProject()).done(function () {
                setupUI();
                window.showLoadingOverlay(false);
            });
        });
    });
</script>