<div>
    <h2>Interface</h2>
    <div class="settings-group">
        <input type="checkbox" id="interface-enabled-checkbox" />
        <label for="interface-enabled-checkbox">Enable annotation interface</label>

        <table>
            <tr>
                <td>Number of images on screen:</td>
                <td><input id="field-numImgsPerBatch" type="number" min="1" max="128" /></td>
            </tr>
            <tr>
                <td>Default image width (pixels):</td>
                <td><input id="field-defaultImageWidth" type="number" min="32" max="8192" /></td>
            </tr>
            <tr>
                <td>Default image height (pixels):</td>
                <td><input id="field-defaultImageHeight" type="number" min="32" max="8192" /></td>
            </tr>
            <tr>
                <td>Minimum image width (pixels):</td>
                <td><input id="field-minImageWidth" type="number" min="32" max="8192" /></td>
            </tr>
        </table>
    </div>

    <div class="settings-group">
        <h3>Display styles</h3>

        <!-- TODO: think about how to design this... maybe with preview? -->
        <input class="jscolor" id="test" />
    </div>

    <!-- Submit and abort buttons -->
    <div>
        <button class="btn btn-danger">Cancel</button>
        <button id="proj-settings-save-button" class="btn btn-primary" style="float:right">Save</button>
    </div>
</div>
<!-- <script src="config/static/js/jscolor.js"></script> -->
<script type="text/javascript">
    $(document).ready(function() {

        function reloadUIsettings() {
            return $.ajax({
                url: 'getConfig',
                method: 'GET',
                success: function(data) {
                    // populate fields

                },
                error: function(data) {
                    console.error(data);
                }
            });
        }

        // get project immutables
        var promise = $.ajax({
            url: 'getProjectImmutables',
            method: 'GET',
            success: function(data) {
                window.projectImmutables = data['immutables'];

                // show or hide GUI fields according to annotation and prediction types
                if(window.projectImmutables['annotationType'] === 'labels') {

                }
            },
            error: function(data) {
                console.error(data);
            }
        })

        // get current UI settings
        promise = promise.done(function() {
            return reloadUIsettings();
        });

        promise = promise.done(function() {
            window.showLoadingOverlay(false);
        });
    });
</script>
