<div>
    <h2>AIDE overview</h2>
    
    <!-- TODO: nicer formatting, e.g. a diagram -->
    <h3>Services</h3>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="category">Module</th>
                    <th>AIDE version</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="category">This machine:</td>
                    <td id="main-version" style="color:green">{{ version }}</td>
                </tr>
                <tr>
                    <td class="category">Database:</td>
                    <td id="db-ver">Querying version...</td>
                    <td id="db-meta"></td>
                </tr>
                <tr>
                    <td class="category">File server:</td>
                    <td id="fs-ver">Querying version...</td>
                    <td id="fs-meta"></td>
                </tr>
                <tr>
                    <td class="sub-category">&rarr; worker:</td>
                    <td id="fs-worker-ver">Querying...</td>
                    <td id="fs-worker-meta"></td>
                </tr>
                <tr>
                    <td class="category">AIController:</td>
                    <td id="aic-ver">Querying version...</td>
                    <td id="aic-meta"></td>
                </tr>
                <tr>
                    <td class="sub-category">&rarr; worker:</td>
                    <td id="aic-worker-ver">Querying...</td>
                    <td id="aic-worker-meta"></td>
                </tr>
            </tbody>
        </table>
    </div>

    
    <h3 style="margin-top:40px">AI workers</h3>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Worker</th>
                    <th>AIDE version</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody id="aiworker-tbody"></tbody>
        </table>
    </div>
</div>
<style>
    table {
        max-width: 1280px;
    }
    th, td {
        padding: 10px;
    }
    .category, .sub-category {
        text-align: right;
    }
    .sub-category {
        font-style: italic;
    }
</style>
<script type="text/javascript">

    window.LOCALHOST_ALIASES = [
        '/',
        'localhost',
        window.location.protocol + '//localhost',
        '127.0.0.1',
        window.location.protocol + '//127.0.0.1',
        window.location.host
    ];

    window.mainAIDEversion = $('#main-version').html();


    function queryServiceDetails() {

        // main services only
        return $.ajax({
            url: '/getServiceDetails',
            method: 'GET',
            success: function(data) {
                data = data['details'];
                
                // Database
                var db_ver = data['Database']['version'];
                var db_meta = data['Database']['details'];
                if(db_meta !== undefined && db_meta !== null) {
                    $('#db-meta').html(db_meta);
                }
                $('#db-ver').html(db_ver);
                $('#db-ver').css('color', 'green');
                

                // FileServer
                var fs_uri = data['FileServer']['uri'];
                for(var l=0; l<window.LOCALHOST_ALIASES.length; l++) {
                    if(fs_uri.startsWith(window.LOCALHOST_ALIASES[l])) {
                        fs_uri = '(this machine)';
                        break;
                    }
                }
                $('#fs-meta').html(fs_uri);
                var fs_ver = data['FileServer']['aide_version'];
                if(fs_ver === null) {
                    $('#fs-ver').html('Offline');
                    $('#fs-ver').css('color', 'red');
                } else {
                    $('#fs-ver').html(fs_ver);
                    if(fs_ver !== window.mainAIDEversion) {
                        $('#fs-ver').css('color', '#FFDF00');
                    } else {
                        $('#fs-ver').css('color', 'green');
                    }
                }

                // AIController
                var aic_uri = data['AIController']['uri'];
                for(var l=0; l<window.LOCALHOST_ALIASES.length; l++) {
                    if(aic_uri.startsWith(window.LOCALHOST_ALIASES[l])) {
                        aic_uri = '(this machine)';
                        break;
                    }
                }
                $('#aic-meta').html(aic_uri);
                var aic_ver = data['AIController']['aide_version'];
                if(aic_ver === null) {
                    $('#aic-ver').html('Offline');
                    $('#aic-ver').css('color', 'red');
                } else {
                    $('#aic-ver').html(aic_ver);
                    if(aic_ver !== window.mainAIDEversion) {
                        $('#aic-ver').css('color', '#FFDF00');
                    } else {
                        $('#aic-ver').css('color', 'green');
                    }
                }
            },
            error: function(xhr, status, error) {
                var promise = window.renewSessionRequest(xhr);
                promise = promise.done(function() {
                    return queryServiceDetails();
                });
                return promise;
            }
        });
    }


    function queryCeleryworkerDetails() {
        // separate function since querying all Celery workers might take some time
        let tbody = $('#aiworker-tbody');
        tbody.empty();
        tbody.append($('<tr><td>Querying...</td><td></td><td></td>'));
        return $.ajax({
            url: '/getCeleryWorkerDetails',
            method: 'GET',
            success: function(data) {
                data = data['details'];
                tbody.empty();
                if(Object.keys(data).length === 0) {
                    tbody.append($('<tr><td>No AIWorkers connected.</td><td></td><td></td>'));
                    return;
                }
                let workersFound = {
                    AIController: false,
                    AIWorker: false,
                    FileServer: false
                };
                for(var key in data) {
                    let aide_version = data[key]['aide_version'];
                    let versionMismatch = (aide_version !== window.mainAIDEversion);

                    // check capabilities
                    if(data[key]['modules']['AIController']) {
                        workersFound['AIController'] = true;
                        let td = $('#aic-worker-ver');
                        td.html(aide_version);
                        if(versionMismatch) {
                            td.css('color', '#FFDF00');
                        } else {
                            td.css('color', 'green');
                        }
                    }
                    if(data[key]['modules']['FileServer']) {
                        workersFound['FileServer'] = true;
                        let td = $('#fs-worker-ver');
                        td.html(aide_version);
                        if(versionMismatch) {
                            td.css('color', '#FFDF00');
                        } else {
                            td.css('color', 'green');
                        }
                    }

                    if(data[key]['modules']['AIWorker']) {
                        workersFound['AIWorker'] = true;
                        let markup = $('<tr></tr>');
                        markup.append($('<td>'+key+'</td>'));
                        let versionTd = $('<td></td>');
                        let detailsTd = $('<td></td>');
                        markup.append(versionTd);
                        markup.append(detailsTd);
                        if(data[key]['online'] === true) {
                            versionTd.html(aide_version);
                            if(versionMismatch) {
                                versionTd.css('color', '#FFDF00');
                            } else {
                                versionTd.css('color', 'green');
                            }
                            if(data[key].hasOwnProperty('details')) {
                                detailsTd.html(data[key]['details']);
                            }
                        } else {
                            versionTd.html('Offline');
                            versionTd.css('color', 'red');
                            if(data[key].hasOwnProperty('message')) {
                                detailsTd.html(data[key]['message']);
                            }
                        }
                        tbody.append(markup);
                    }
                }

                // adjust entries for missing workers
                if(!workersFound['AIController']) {
                    let td = $('#aic-worker-ver');
                    td.html('Offline');
                    td.css('color', 'red');
                }
                if(!workersFound['FileServer']) {
                    let td = $('#fs-worker-ver');
                    td.html('Offline');
                    td.css('color', 'red');
                }
                if(!workersFound['AIWorker']) {
                    tbody.empty();
                    tbody.append($('<tr><td>No AI workers found.</td><td></td><td></td></tr>'));
                }
            },
            error: function(xhr, status, error) {
                var promise = window.renewSessionRequest(xhr);
                promise = promise.done(function() {
                    return queryCeleryworkerDetails();
                });
                return promise;
            }
        });
    }

    $(document).ready(function() {
        
        // show setup info
        queryServiceDetails();
        queryCeleryworkerDetails();

        window.showLoadingOverlay(false);
    });
</script>