.list-container, .thumbs-container {
    /* TODO: use jQuery for auto height... */
    position: relative;
    height: 800px;
    overflow-y: auto;
}

.list-table, .loading-overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.list-header {
    display: block;
    background-color: #606060;
    font-weight: bold;
}

.list-body {
    display: block;
    height: calc(100% - 26px);
    overflow-y: auto;
    overflow-x: hidden;
}

.list-entry-selected {
    background: #aaa;
}

.thumbnail {
    width: 128px;
    height: 128px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 5px;
    border-radius: 5px;
    background: #606060;
}

.thumbnail-selected {
    border: 1px solid white;
}

.thumbnail > img {
    display: block;
    position: absolute;
    top: calc(50% - 12px);
    left: 50%;
    min-height: calc(100% - 12px);
    max-height: calc(100% - 12px);
    transform: translate(-50%, -50%);
}

.info-bar {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 2px;
    left: 2px;
    height: 20px;
    width: 100%;
    font-size: 8pt;
}

.info-bar > span {
    text-overflow: ellipsis;
    word-wrap: anywhere;
    width: calc(100% - 20px);
    overflow: hidden;
    height: 16px;
    white-space: nowrap;
    margin-top: 2px;
    margin-left: 2px;
}

.list-entry-thumb {
    height: 50px;
}

.list-trailing-button {
    width: 100%;
}

.image-browser-view-buttons {
    margin-bottom: 2px;
}

.image-browser-view-buttons img {
    height: 15px;
}

.loading-overlay {
    z-index: 100;
    background-color: #606060de;
}

.loading-overlay-decoration, .loading-overlay-text {
    position: relative;
    top: 50%;
}

.loading-overlay-text {
    left: 50%;
    font-size: 18px;
    font-weight: bold;
}

.progress-bar-thumbnail {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.progress-bar-list {
    min-width: 200px;
}

#list-view-button {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#tile-view-button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}