bottle>=0.12
gunicorn>=19.9.0
psycopg2>=2.8.2
tqdm>=4.32.1
bcrypt>=3.1.6
netifaces>=0.10.9
python-dateutil
numpy
requests
celery[redis,auth,msgpack]

# image parsing
scipy>=1.7.3
python-magic>=0.4.24
Pillow>=2.2.1
rasterio>=1.2.3
pydicom>=2.2.2
imantics>=0.1.12
scikit-image>=0.19.0
scikit-learn>=1.0.1

# for the AI backend
opencv-python
--find-links https://download.pytorch.org/whl/torch_stable.html
torch>=1.6.0
torchvision>=0.7.0

# Detectron2
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu111/torch1.8/index.html
detectron2