bottle>=0.12
gunicorn>=19.9.0
psycopg2>=2.8.2
tqdm>=4.32.1
bcrypt>=3.1.6
netifaces>=0.10.9
python-dateutil
Pillow>=2.2.1
numpy
requests
# kombu==4.6.11
celery[redis,auth,msgpack]  #==4.4.7
importlib-metadata==4.13.0  # https://github.com/python/importlib_metadata/issues/411

# for the AI backend
opencv-python
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cu111
torchvision==0.10.0+cu111

# Detectron2
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu111/torch1.9/index.html
detectron2