.main-container {
    display: flex;
    flex-direction: row;
}

#interface-shortlink-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#interface-shortlink-container * {
    width: 100%;
}

.navigation-panel {
    order: 1;
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
    padding: 10px;
}

.navigation-entry-container {
    border-radius: 5px;
    margin: 20px;
    border: 1px solid #333;
    background: #606060;
    height: calc(100vh - 270px);
    overflow-y: auto;
}

.navigation-entry {
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.navigation-entry:hover {
    background: #444444;
}

.navigation-sub-entry {
    padding-left: 50px;
}

.active {
    background: #AAAAAA;
    font-weight: bold;
}

.content-panel {
    order: 3;
    flex-grow: 1;
    /* overflow-y: auto; */
    height: calc(100vh - 150px);
    color: white;
    padding-top: 30px;
    padding-right: 30px;
}

#contents {
    height: calc(100% - 50px);
    margin-bottom: 10px;
    overflow-y: auto;
}

.settings-container {
    color: white;
    padding: 20px;
    overflow-y: auto;
    margin-bottom: 20px;
    max-height: calc(100vh - 210px);
}
.settings-group {
    margin-bottom: 30px;
}