#canvas-wrapper {
    position: absolute;		/* important for node moving to work */
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    background: #aaa;
}
.canvas, .svg-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 2560px;
    height: 1440px;
}
.canvas > * {
    position: absolute;
}

.node {
    padding: 10px;
    border-radius: 5px;
    color: white;
    background: rgb(107, 107, 107);
    user-select: none;
    cursor: pointer;
}

.node-train {
    background: #e79822;
}

.node-inference {
    background: #31993a;
}

.node-repeater {
    width: 220px;
    height: 50px;
    vertical-align: middle;
    line-height: 20px;
}

.node-start {
    height: 60px;
    width: 60px;
    border-radius: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.active-workflow-node {
    box-shadow: 0 0 3pt 2pt #017bfe;
}

.node-title {
    font-weight: bold;
    margin-left: 5px;
}