<!doctype html>
<html lang="en">
    <head>
        <title>AIDE: projects</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <link rel="stylesheet" href="/static/interface/css/interface.css?v={{ version }}" />
        <link rel="stylesheet" href="/static/general/css/messaging.css?v={{ version }}" />
        <link rel="stylesheet" href="/static/reception/css/projects.css?v={{ version }}" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- <script src="https://unpkg.com/tooltip.js"></script> -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/static/general/js/messaging.js?v={{ version }}"></script>
        <script type="text/javascript" src="/static/reception/js/projects.js?v={{ version }}"></script>
    </head>

    <body>
        <!-- Page Content -->
        <div id="page-container">
            <div id="content-wrapper">
                <!-- Overlay -->
                <div id="overlay" class="overlay">
                    <div id="overlay-card" class="overlay-card card container"></div>
                    <div id="overlay-loader">
                        <div style="text-align:center;margin-bottom:20px;font-size:20px;text-align:center;">Loading...</div>
                        <!-- blatant copy of MS azure's splash screen loading dots -->
                        <div class="azure-loadingdots">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>

                <!-- Navigation bar -->
                <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
                    <ul class="nav navbar-nav">
                        <li class="nav-item header-text">
                            <div class="project-path"><a href="/">Projects</a></div>
                            <h1>AIDE: Projects Overview</h1>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto" id="name-dropdown-menu">
                        <li class="nav-item dropdown float-right">
                            <a id="login-button" class="btn btn-primary" href="login">Log in</a>
                            <div class="dropdown nav navbar-nav" style="float:right;">
                                <a class="dropdown-toggle btn" id="navbar-user-dropdown" data-toggle="dropdown" href="#" style="color:white;font-weight:bold;" >{{ username }}</a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="navbar-user-dropdown">
                                    <li class="dropdown-item"><a id="logout" href="logout" class="btn btn-sm btn-danger">Log Out</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="grad-border-h"></div>

                <div class="main-container">
                    
                    <div id="navigation-panel">
                        <a id="new-project-button" class="btn btn-lg btn-outline-primary" href="newProject" style="display:none;width:100%;">+ New Project</a>

                        <div id="project-folders" class="navigation-entry-container">
                            <div class="navigation-entry active" id="all-projects">All projects</div>
                            <div class="navigation-entry" id="your-projects">Projects you own</div>
                            <div class="navigation-entry" id="admin-projects">Projects you administer</div>
                            <div class="navigation-entry" id="projects-shared">Projects shared with you</div>
                            <div class="navigation-entry" id="projects-demo">Demo projects</div>
                            <div class="navigation-entry" id="projects-archived">Archived projects</div>
                        </div>
                    </div>

                    <div id="side-border" class="grad-border-v" style="display:none;order:2;flex-shrink:0;"></div>

                    <div class="content-panel">

                        <input type="search" id="project-search-field" placeholder="Find project…" />

                        <!-- Main projects -->
                        <div id="main-projects-panel">
                            <div id="projects"></div>

                            <div id="projects-placeholder">
                                <div style="margin:20px;">Log in to see (more) available projects.</div>
                                <a class="btn btn-lg btn-primary" href="login">Log in</a>
                                <div id="create-account-panel" style="display:none">
                                    <div>&ndash; OR &ndash;</div>
                                    <a class="btn btn-lg btn-primary" href="createAccount">Create account</a>
                                </div>
                            </div>
                        </div>

                        <!-- Archived projects -->
                        <div id="archived-projects-panel">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="projects-archived-tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="page-footer" id="footer">
                <div class="ms-logo">
                    <a href="about"><img height="100%" src="/static/general/img/ms_logo.png" /></a>
                </div>
            </footer>
        </div>

        <!-- messaging overlay -->
        <div id="messager-container" class="messager-container"></div>
    </body>
</html>