.task-list {
    /* max-height: 400px;
    overflow-y: auto; */
    margin-bottom: 20px;
}

.task-list-header {
    cursor: pointer;
    font-size: 14pt;
    font-weight: bold;
}

.task {
    margin-top: 5px;
    padding: 5px;
    background: #606060;
}

.subtask {
    padding-left: 10px;
    background: #333333;
}

.task-header {
    display: flex;
    color: gray;
}

.task-sub-header {
    flex-grow: 1;
    color: gray;
}

.task-number {
    margin-right: 10px;
    color: white !important;
}

.task-type {
    margin-right: 30px;
    color: white !important;
}

.task-status-icon, .task-status-icon * {
    float: right;
    padding: 2px;
}

.task-info-button {
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.task-info-pane {
    display: none;
}

.subtask .task-progress-container {
    margin-left: 20px;
    margin-right: 20px;
}

.task-children-list {
    /* max-height: 300px; */
    overflow-y: auto;
}

.footer-span {
    width: 130px;
    text-align: right;
    margin-right: 10px;
}

.footer-pbar-inline {
    height: 20px;
    display: flex;
    flex-direction: row;
}

.footer-pbar-inline > * {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.footer-pbar-cell > div {
    width: 235px;
    display: inline-flex;
    margin-right: 10px;
}

/* AI controller window */
.ai-worker-panel {
    position: absolute;
    right: 90px;
    width: 550px;
    z-index: 1000;
}
#ai-worker-minipanel {
    display: flex;
    flex-direction: row;
    float: right;
    height: 100%;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.minipanel-span {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

#ai-minipanel-status {
    flex: 2;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
    flex-direction: column;
}

#ai-worker-panel {
    display: none;
    position: absolute;
    bottom: 40px;
    height: 400px;
    max-height:400px;
    padding: 20px;
    color: white;
    background: #575352F0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#ai-worker-panel-header {
    cursor: pointer;
}