<!doctype html>
<html lang="en">
<head>
    <title>AIde</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="static/css/interface.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/tooltip.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/uiControlHandler.js"></script>
    <script type="text/javascript" src="static/js/commandListener.js"></script>
    <script type="text/javascript" src="static/js/configuration.js"></script>
    <script type="text/javascript" src="static/js/renderPrimitives.js"></script>
    <script type="text/javascript" src="static/js/viewport/imageViewport.js"></script>
    <script type="text/javascript" src="static/js/annotationPrimitives.js"></script>
    <script type="text/javascript" src="static/js/labelClassHandler.js"></script>
    <script type="text/javascript" src="static/js/dataEntry.js"></script>
    <script type="text/javascript" src="static/js/dataHandler.js"></script>
    <script type="text/javascript" src="static/js/aiWorkerHandler.js"></script>
    <script type="text/javascript" src="static/js/uitutorial.js"></script>
    <script type="text/javascript" src="static/js/init.js"></script>
</head>

<body>
    <!-- Page Content -->
    <div id="page-container">
        <div id="content-wrapper">
            <!-- Overlay -->
            <div id="overlay" class="overlay">
                <div id="overlay-card" class="overlay-card card container"></div>
                <div id="overlay-loader">
                    <div style="text-align:center;margin-bottom:20px;font-size:20px;text-align:center;">Loading...</div>
                    <!-- blatant copy of MS azure's splash screen loading dots -->
                    <div class="azure-loadingdots">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>

            <!-- Navigation bar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
                <ul class="nav navbar-nav">
                    <li class="nav-item header-text">
                        <h1 id="project-title">{{ projectTitle }}</h1>
                        <p id="project-description">{{ projectDescr }}</p>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown float-right">
                        <button class="btn btn-info" onclick="javascript:window.showTutorial();">Help</button>
                        <div class="dropdown nav navbar-nav" style="float:right;">
                            <a class="dropdown-toggle btn" id="navbar-user-dropdown" data-toggle="dropdown" href="#" style="color:white;font-weight:bold;" >{{ username }}</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="navbar-user-dropdown">
                                <li class="dropdown-item"><button id="logout" class="btn btn-sm btn-danger">Log Out</button></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="grad-border-h"></div>

            <div class="wrapper h-100">

                <!-- <div style="float:left;width:350px;"></div> -->

                <!-- Image Display -->
                <div id="gallery-container">
                    <div id="gallery"></div>
                    <div id="gallery-scroll-tooltip-bottom" class="scroll-tooltip">More</div>
                    <div class="container widescreen" id="interface-controls"></div>
                </div>

                <div id="viewport-controls"></div>

                <div class="grad-border-v" id="tools-container-resize-handle"></div>

                <!-- Toolboxes -->
                <div id="tools-container">                
                    <!-- Label Classes search box -->
                    <div id="classes-container" class="toolbox" style="order:0;flex-shrink:0">
                        <h2>Classes</h2>
                        <input type="search" id="labelclass-search-box" placeholder="find..." />
                        <!-- <div class="labelGroup" id="legend-entries-active">
                            <h3 class="expanded">In use</h3>
                            <div class="labelGroup-children" id="legend-entries-active-container"></div>
                        </div> -->
                    </div>

                    <!-- Label Classes -->
                    <div id="classes-container" class="toolbox" style="order:1;height:100%">
                        <div id="legend-entries"></div>
                    </div>
                    
                    <div id="toolbox-divider" class="grad-border-h" style="order:2;flex-shrink:0;margin-top:10px;margin-bottom:10px;display:none;"></div>
                    
                    <!-- Image sequence controls -->
                    <div id="review-controls-container" class="toolbox" style="order:3;display:none;">
                        <h2 id="imorder-title">Image Order</h2>
                        <div id="imorder-box" style="display:none;">
                            <input type="radio" id="imorder-auto" name="imorder" value="imorder-auto" checked />
                            <label for="imorder-auto">automatic</label><br />
                            <input type="radio" id="imorder-review" name="imorder" value="imorder-review" />
                            <label for="imorder-review">review annotations</label><br />
                            
                            <div id="review-controls" style="display:none">
                                <input type="checkbox" id="review-enable-editing" />
                                <label for="review-enable-editing">enable editing</label><br />
                                <div style="margin-left:20px;color:gray;font-size:9pt;font-style:italic;white-space:normal;word-wrap:break-word;">If editing is enabled, all annotations on screen will be copied and committed under your account.</div>
                                <input type="checkbox" id="review-skip-empty" />
                                <label for="review-skip-empty">skip empty images</label><br />
                                <div>Date and time:</div>
                                <input type="range" id="review-timerange" min="0" max="0" value="0" /><br />
                                <div id="review-time-text" style="color:gray"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="page-footer" id="footer">

            <!-- Collapsible AI worker panel -->
            <div id="ai-worker-panel" class="ai-worker-panel">
                <h2 id="ai-worker-panel-header">AI Backend</h2>
                <div class="grad-border-h"></div>
                <div class="container" id="ai-manual-controls">
                </div>
                <div class="ai-worker-container container" id="ai-worker-container">
                    <h3 class="ai-category-header expanded" id="ai-worker-header">Workers</h3>
                    <div class="ai-entries" id="ai-worker-entries"></div>
                    <h3 class="ai-category-header expanded" id="ai-tasks-header">Tasks</h3>
                    <div class="ai-entries" id="ai-tasks-entries"></div>
                </div>
                <div class="grad-border-h" style="position:absolute;bottom:0"></div>
            </div>

            <!-- Mini-entry in footer to it -->
            <div class="ai-worker-panel" id="ai-worker-minipanel" style="display:none;">
                <div class="grad-border-v"></div>
                <span class="minipanel-span">AI Backend</span>
                <div id='ai-minipanel-status'></div>
                <div class="grad-border-v"></div>
            </div>

            <div class="ms-logo">
                <a href="about"><img height="100%" src="static/img/ms_logo.png" /></a>
            </div>
        </footer>
    </div>
</body>

</html>