<h2>Welcome!</h2>

<p>
    Thanks for stopping by! We need your help to locate <b>Elephants, livestock, humans and more</b> in a challenging set of aerial images.
    You can contribute by drawing <b>tight</b> rectangles around each individual object you encounter!
    Also, you are not alone: an AI model in the background constantly learns from you and tries to find relevant objects in all the unlabeled images.
</p>

<h3>Instructions</h3>

<p>You will see image(s) on the screen that might contain objects of interest.</p>
<p>These are <b>predictions</b> made by the model:</p>
<canvas id="uitutorial-predictions" width=400 style="width:400px"></canvas>
<p>They are merely there for information and do not count as annotations.</p>
<br />

<p>These are <b>annotations</b> made by you:</p>
<canvas id="uitutorial-annotations" width=400 style="width:400px"></canvas>
<p>Sometimes you might see already existing annotations; these are automatically converted from predictions if the model has a high confidence.</p>
<p>
    Remember: every annotation in the image(s) must be correct. If you find one that is not good (e.g. a false positive, too tight, too loose, including multiple objects, wrong class, etc.), you must change it appropriately.
</p>


<p>
    Now that you know the basics, let me guide you through the interface in more detail.
    <br />
    <b>Click anywhere into the screen to continue.</b>
</p>


<script type="text/javascript">
    $(document).ready(function() {
        var predVP = new ImageViewport($('#uitutorial-predictions'));
        var predStyle = JSON.parse(JSON.stringify(window.styles.predictions));
        var color = window.labelClassHandler.getActiveColor();
        predStyle['strokeColor'] = window.addAlpha(color, predStyle.lineOpacity);
        predStyle['fillColor'] = window.addAlpha(color, predStyle.fillOpacity);
        predVP.addRenderElement(new ImageElement('img', predVP, 'static/img/backdrop_uitutorial.jpg'),0);
        predVP.addRenderElement(new RectangleElement('box', 0.5, 0.5, 0.5, 0.5, predStyle, false, 1));

        var annoVP = new ImageViewport($('#uitutorial-annotations'));
        var annoStyle = JSON.parse(JSON.stringify(window.styles.annotations));
        var color = window.labelClassHandler.getActiveColor();
        annoStyle['strokeColor'] = window.addAlpha(color, annoStyle.lineOpacity);
        annoStyle['fillColor'] = window.addAlpha(color, annoStyle.fillOpacity);
        annoVP.addRenderElement(new ImageElement('img', annoVP, 'static/img/backdrop_uitutorial.jpg'),0);
        annoVP.addRenderElement(new RectangleElement('box', 0.5, 0.5, 0.5, 0.5, annoStyle, false, 1));
    });
</script>